md-bottom-sheet
    .light-footer(layout='row', layout-align='center')
        .text-center(flex='')
            a.btn.btn--xl.btn--fab(href='https://www.facebook.com/svetmedia', target='_blank')
                i.mdi.mdi-facebook
        .text-center(flex='')
            a.btn.btn--xl.btn--fab(href='http://materialdesignicons.com/')
                i.mdi.mdi-twitter
        .text-center(flex='')
            a.btn.btn--xl.btn--fab(href='https://www.linkedin.com/company/svet-russian-media-group', target='_blank')
                i.mdi.mdi-linkedin
