md-bottom-sheet.md-list.md-has-header.bgc-grey-800
    md-subheader.bgc-grey-800(style='color:#999999 !important') {{'svet-on-social-media'|translate|uppercase}}
    md-divider(style='border-top-color:#888888 !important')
    md-list
        md-item
            a.btn.btn--flat(href='http://www.yelp.com/biz/svet-russian-media-group-northrbook')
                img.header-social-img(src='../img/social/yelp.png', style='max-width:34px;display:block;margin:4px')
        md-item
            a.btn.btn--flat(href='https://www.youtube.com/watch?v=fuVyrMp3BpI')
                img.header-social-img(src='../img/social/youtube.png')
        md-item
            a.btn.btn--flat(href='https://www.facebook.com/svetmedia')
                img.header-social-img(src='../img/social/facebook.png')
        md-item
            a.btn.btn--flat(href='https://www.linkedin.com/company/svet-russian-media-group')
                img.header-social-img(src='../img/social/linkedin.png')
