<md-bottom-sheet class="md-list md-has-header">
    <md-subheader>Svet on Social Media</md-subheader>
    <md-list>
        <md-item><a href="http://www.yelp.com/biz/svet-russian-media-group-northrbook"
                    class="btn header-social-link"><img src="../img/social/yelp.png"
                                                        style="max-width:34px;display:block;margin:4px"
                                                        class="header-social-img"/></a></md-item>
        <md-item><a href="https://www.youtube.com/watch?v=fuVyrMp3BpI" class="btn header-social-link"><img
                src="../img/social/youtube.png" class="header-social-img"/></a></md-item>
        <md-item><a href="https://www.facebook.com/svetmedia" class="btn header-social-link"><img
                src="../img/social/facebook.png" class="header-social-img"/></a></md-item>
        <md-item><a href="https://www.linkedin.com/company/svet-russian-media-group"
                    class="btn header-social-link header-social-link-right"><img src="../img/social/linkedin.png"
                                                                                 class="header-social-img"/></a>
        </md-item>
    </md-list>
</md-bottom-sheet>