@import 'nib'

.user-auth-name
  display inline-block
  cursor pointer
  text-decoration none
  color #393939

.sv-active-menu
  border-bottom thin red solid !important
//
//.md-tabs
//.md-default-theme
//.md-paginator
//  color #292929 !important
//
.md-paginator
  z-index 99
  width 36px !important
md-icon
  fill #393939