.user-auth-name {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #393939;
}
.sv-active-menu {
  border-bottom: thin #f00 solid !important;
}
.md-tabs,
.md-default-theme,
.md-paginator {
  color: #292929 !important;
}
