@import 'nib'

color-svet-red = #EF5350

// Black
black = #000000;
black-1 = rgba(0, 0, 0, 0.87);
black-2 = rgba(0, 0, 0, 0.54);
black-3 = rgba(0, 0, 0, 0.26);
black-4 = rgba(0, 0, 0, 0.12);

// White
white = #FFFFFF;
white-1 = #FFFFFF;
white-2 = rgba(255, 255, 255, 0.70);
white-3 = rgba(255, 255, 255, 0.30);
white-4 = rgba(255, 255, 255, 0.12);

// Background Black
.bg-black
  background-color black

.bg-black-1
  background-color black-1

.bg-black-2
  background-color black-2

.bg-black-3
  background-color black-3

.bg-black-4
  background-color black-4

// Text Color Black

.tc-black
  color black

.tc-black-1
  color black-1

.tc-black-2
  color black-2

.tc-black-3
  color black-3

.tc-black-4
  color black-4

// Background White
.bg-white
  background-color white

.bg-white-1
  background-color white-1

.bg-white-2
  background-color white-2

.bg-white-3
  background-color white-3

.bg-white-4
  background-color white-4

// Text Color White

.tc-white
  color white

.tc-white-1
  color white-1

.tc-white-2
  color white-2

.tc-white-3
  color white-3

.tc-white-4
  color white-4

