.margin-right {
	margin-right: 10px;
	border-right-color: #616161;
	border-right-style: solid;
	border-right-width: 1px;
	padding-right: 8px;
}

.ie {
	position: relative;
	top: 50px;
}

.btn-block {
	width: 100%;
}

.auth-sm {
	margin-bottom: -4px !important;
	display: block !important;
}

.img-editor {
	display: inline-block;
	width: 56px;
	height: 56px;
}

.img-editor-container {
	width: 56px;
	height: 56px;
}

.main-news-ad {
	background: url("../img/ad/atru.jpg") 0 0 no-repeat;
	width: 230px;
	height: 100px;
}

.text-footer {
	display: block;
	font-size: 13px;
	line-height: 16px;
}

.author-article-nav {
	backround-color: none !important;
	background: transparent !important;
	height: auto;
}

.article-thumb-link {
	text-decoration: none;
	display: block;
	cursor: pointer;
	line-height: 14px;
}

.article-thumb-body {
	line-height: 16px;
}

.article-thumb-title {
	line-height: 20px;
}

.article-thumb-author {
	line-height: 16px;
}

.radio-body {
	line-height: 16px;
	font-weight: 600;
}

.radio-subhead {
	line-height: 20px;
	font-weight: 600;
	margin-bottom: 4px;
}

.tabs-classified {
	overflow: hidden;
	min-height: 200px;
}

.user-auth-name {
	display: inline-block;
	cursor: pointer;
	text-decoration: none;
	color: #393939;
}

.sv-active-menu {
	border-bottom: thin #f00 solid !important;
}

.sv-active-user-menu {
	background-color: #e0e0e0 !important;
}

.btn--grey:hover,
.btn--grey:active,
.btn--grey:focus {
	background-color: #e0e0e0 !important;
}

.sv-notifications-icon:hover,
.sv-notifications-icon:active,
.sv-notifications-icon:focus {
	background-color: #e0e0e0 !important;
}

.md-paginator {
	z-index: 99;
	width: 56px !important;
}

md-icon {
	fill: #393939;
	margin: 0px;
}

.sv-tabs {
	font-size: 14px !important;
	padding: 10px 15px 4px;
	line-height: 15px;
}

md-tab-item span {
	font-size: 11px !important;
	font-weight: 500 !important;
}

md-tab-content {
	margin-top: 16px;
	height: 100%;
}

md-tabs-wrapper {
	padding-bottom: 8px !important;
}

.data-table--has-primary > tbody > tr > td:first-child,
.data-table--has-primary > thead > tr > th:first-child {
	padding: 8px 16px !important;
}

.data-table > tbody > tr > td:second-child,
.data-table > thead > tr > th:second-child {
	padding: 8px 16px 8px 8px !important;
}

.data-table > tbody > tr > td,
.data-table > thead > tr > th {
	padding: 8px 4px !important;
	height: auto;
}

.checkbox {
	martin-top: 10px !important;
}

.author-article-nav {
	backround-color: none !important;
	background: transparent !important;
	height: auto;
}

.article-thumb-link {
	text-decoration: none;
	display: block;
	cursor: pointer;
	line-height: 14px;
}

.article-thumb-body {
	line-height: 16px;
}

.article-thumb-title {
	line-height: 20px;
}

.article-thumb-author {
	line-height: 16px;
}

.radio-body {
	line-height: 16px;
	font-weight: 600;
}

.radio-subhead {
	line-height: 20px;
	font-weight: 600;
	margin-bottom: 4px;
}

.ie {
	position: relative;
	top: 50px;
}

.btn-block {
	width: 100%;
}

.auth-sm {
	margin-bottom: -4px !important;
	display: block !important;
}

.img-editor {
	display: inline-block;
	width: 56px;
	height: 56px;
}

.img-editor-container {
	width: 56px;
	height: 56px;
}

.main-news-ad {
	background: url("../img/ad/atru.jpg") 0 0 no-repeat;
	width: 230px;
	height: 100px;
}

.text-footer {
	display: block;
	font-size: 13px;
	line-height: 16px;
}

.bg-black {
	background-color: #000;
}

.bg-black-1 {
	background-color: rgba(0,0,0,0.87);
}

.bg-black-2 {
	background-color: rgba(0,0,0,0.54);
}

.bg-black-3 {
	background-color: rgba(0,0,0,0.26);
}

.bg-black-4 {
	background-color: rgba(0,0,0,0.12);
}

.tc-black {
	color: #000;
}

.tc-black-1 {
	color: rgba(0,0,0,0.87);
}

.tc-black-2 {
	color: rgba(0,0,0,0.54);
}

.tc-black-3 {
	color: rgba(0,0,0,0.26);
}

.tc-black-4 {
	color: rgba(0,0,0,0.12);
}

.bg-white {
	background-color: #fff;
}

.bg-white-1 {
	background-color: #fff;
}

.bg-white-2 {
	background-color: rgba(255,255,255,0.7);
}

.bg-white-3 {
	background-color: rgba(255,255,255,0.3);
}

.bg-white-4 {
	background-color: rgba(255,255,255,0.12);
}

.tc-white {
	color: #fff;
}

.tc-white-1 {
	color: #fff;
}

.tc-white-2 {
	color: rgba(255,255,255,0.7);
}

.tc-white-3 {
	color: rgba(255,255,255,0.3);
}

.tc-white-4 {
	color: rgba(255,255,255,0.12);
}

.svet-corporate.ng-enter,
.svet-corporate.ng-hide-add,
.svet-corporate.ng-hide-remove,
.svet-corporate.ng-leave {
	transition: 2s;
}

.svet-corporate.ng-enter,
.svet-corporate.ng-hide-remove,
.svet-corporate.ng-hide-add.ng-hide-add-active,
.svet-corporate.ng-leave.ng-leave-active {
	opacity: 0;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
	filter: alpha(opacity=0);
}

.svet-corporate.ng-enter.ng-enter-active,
.svet-corporate.ng-hide-add,
.svet-corporate.ng-hide-remove.ng-hide-remove-active,
.svet-corporate.ng-leave {
	opacity: 1;
	-ms-filter: none;
	filter: none;
}

.sv-md-button-nav-menu {
	text-align: left !important;
	line-height: 32px !important;
	line-height: 2rem !important;
	height: 32px !important;
	height: 2rem !important;
}

.sv-toolbar {
	min-height: 40px !important;
	height: 40px !important;
}

.sv-tab-dashboard {
	padding: 12px 24px;
}

/*Bugs with Safari*/

html,
body {
	font-family: 'Roboto', sans-serif;
	color: #474341;
	font-size: 90%;
	height: 100%;
	margin: 0px;
	padding: 0px;
}

/*custom classes*/

.bgc-svet-A100 {
	background-color: #474341;
}

.bgc-svet-700 {
	background-color: #5c5654 !important;
}

.mdc-no-margin {
	margin: 0px;
}

.mdc-no-margin-top {
	margin-top: 0px !important;
}

.mdc-img-responsive {
	width: 100%;
}

.mdc-subhead {
	font-size: 16px !important;
}

.mdc-display-inline-block {
	display: inline-block;
}

.mdc-link {
	text-decoration: none !important;
	display: inline-block;
}

.sv-link,
cursor pointer {
	text-decoration: none !important;
	display: inline-block;
}

.mdc-img-sepia {
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.393 0.769 0.189 0 0 0.349 0.686 0.168 0 0 0.272 0.534 0.131 0 0 0 0 0 1 0" /></filter></svg>#filter');
	filter: sepia(1);
}

.mdc-img-bw {
	-ms-filter: grayscale(1) !important;
	filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feColorMatrix type="matrix" color-interpolation-filters="sRGB" values="0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0.2126 0.7152 0.0722 0 0 0 0 0 1 0" /></filter></svg>#filter');
	filter: grayscale(1) !important;
}

.fw-700 {
	font-weight: 700px !important;
}

.mdc-text-right {
	text-align: right !important;
}

.mdc-text-left {
	text-align: left !important;
}

.mdc-text-center {
	text-align: center !important;
}

.mdc-overflow-hidden {
	overflow: hidden;
}

.mdc-underline-red {
	border-bottom: 2px #e57373 solid !important;
}

.mdc-label-default {
	padding: 4px 5px;
	border-radius: 3px;
}

.top-profile-nav {
	padding: 4px 8px;
}

.cursor-pointer {
	cursor: pointer;
}

.bgc-dark-grey {
	background-color: #555 !important;
}

/***************/

/*=lumx custom typography*/

.fs-subhead {
	font-weight: 700;
}

.fs-10 {
	font-size: 10px;
}

.text-center {
	text-align: center !important;
}

md-sidenav {
	min-width: 270px !important;
	max-width: 270px !important;
}

md-sidenav.md-locked-open {
	width: 270px !important;
	min-width: 270px !important;
	max-width: 270px !important;
}

.svet-logo {
	width: 270px;
}

.logo-link {
	display: block;
	margin: 8px auto;
	height: auto;
	width: 120px;
}

.logo-img {
	width: 120px;
	height: auto;
}

.toolbar-custom {
	background-color: #555 !important;
}

/**********************
 =header
***********************/

.languages-container {
	border-right-color: #616161;
	border-right-style: solid;
	border-right-width: 1px;
	padding-right: 8px;
}

.language {
	color: #e57373 !important;
}

.weather-widget {
	margin-left: 16px;
}

.weather-container {
	margin-right: 0px;
	border-right-color: #616161;
	border-right-style: solid;
	border-right-width: 1px;
	padding-right: 16px;
	padding-left: 4px;
}

.main-weather-img {
	max-width: 28px;
	display: inline-block;
	margin: 0px 4px;
}

.main-weather-text {
	font-size: 14px;
}

.weather-dropdown-link:hover,
.weather-dropdown-link:active,
.weather-dropdown-link:focus {
	background-color: #555 !important;
}

/**********************
 =social
***********************/

.btn-social-login {
	padding: 0px;
}

/*background-color #555555 !important*/

.btn-social-login-icon {
	padding: 0px 8px;
	display: inline-block;
	border-right-color: #717171;
	border-right-style: solid;
	border-right-width: 1px;
	box-sizing: border-box;
}

.header-social-link {
	border-left-color: #616161;
	border-left-style: solid;
	border-left-width: 1px;
	box-sizing: border-box;
	color: #337ab7;
	cursor: auto;
	font-family: Arial, Tahoma, sans-serif;
	font-size: 12px;
	list-style-type: disc;
	margin-bottom: 0px;
	text-align: center;
	text-decoration: none;
}

.header-social-link-right {
	border-right-color: #616161;
	border-right-style: solid;
	border-right-width: 1px;
}

.fb-page {
	width: 280px;
	height: 130px;
}

.fb-filter {
	overflow: hidden;
	width: 280px;
	height: 200px;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(255,255,255,0.2);
}

/**********************
  =magazine
 ***********************/

#magazine { /*width 1152px !important*/
	height: 752px !important;
}

/*position static !important*/

#magazine .turn-page {
	background-color: #ccc;
	background-size: 100% 100%;
}

.search-filter--is-focused,
.search-filter__container {
	width: 140px !important;
}

@media screen and (min-width: 992px) {

.toolbar-svet {
	height: 72px;
}

}

@media screen and (max-width: 992px) {

.sv-padding {
	padding: 0px 4px !important;
}

.sv-width {
	width: 100px;
}

.main-weather-img {
	max-width: 22px;
}

}

@media screen and (max-width: 450px) {

.weather-widget {
	margin-left: 8px;
}

.weather-container {
	padding-right: 8px;
}

}

@media screen and (max-width: 350px) {

.toolbar-custom {
	padding-left: 4px !important;
}

.languages-container {
	padding-right: 4px !important;
}

.language-btn {
	font-size: 11px !important;
	margin: 6px !important;
}

.weather-widget {
	margin-left: 2px !important;
}

.weather-container {
	padding-right: 0px;
}

.main-weather-text {
	font-size: 11px;
}

}

