@import 'nib'
@import '../scripts/classified/styles/classified'
@import '../scripts/auth/styles/auth'
@import '../scripts/contact/styles/contact'
@import '../scripts/article/styles/article'
@import '../scripts/home/styles/home'
@import '../scripts/politics/styles/politics.css'
@import '../scripts/home/styles/home.css'
@import '../scripts/article/styles/article.css'
@import 'colors'

/*Bugs with Safari*/

html, body
  font-family 'Roboto', sans-serif
  font-size 14px
  height 100%
  margin 0px
  padding 0px

/*custom classes*/
.mdc-no-margin
  margin 0px

.mdc-no-margin-top
  margin-top 0px !important

.mdc-img-responsive
  width 100%

.mdc-subhead
  font-size 16px !important

.mdc-display-inline-block
  display inline-block

.mdc-link
  text-decoration none !important
  display inline-block

.fw-700
  font-weight 700px !important

.mdc-text-right
  text-align right !important

/***************/
/*=lumx custom typography*/
.fs-subhead
  font-weight 700

.fs-10
  font-size 10px

.text-center
  text-align center !important

md-sidenav
  min-width 240px !important
  max-width 240px !important

md-sidenav
  &.md-locked-open
    width 240px !important
    min-width 240px !important
    max-width 240px !important

.svet-logo
  position relative
  line-height 70px
  font-size 30px
  color color-svet-red
  font-weight 800
  font-family "Roboto", sans-serif



