@import 'nib'
@import '../scripts/widgets/styles/widgets'
@import '../scripts/archive/styles/archive'
@import '../scripts/events/styles/events'
@import '../scripts/admin/styles/admin'
@import '../scripts/social/styles/social'
@import '../scripts/world/styles/world'
@import '../scripts/society/styles/society'
@import '../scripts/culture/styles/culture'
@import '../scripts/money/styles/money'
@import '../scripts/home/styles/home'
@import '../scripts/article/styles/article'
@import '../scripts/classified/styles/classified'
@import '../scripts/auth/styles/auth'
@import '../scripts/contact/styles/contact'
@import '../scripts/article/styles/article'
@import '../scripts/home/styles/home'
@import '../scripts/politics/styles/politics'
@import 'colors'

/*Bugs with Safari*/

html, body
  font-family 'Roboto', sans-serif
  font-size 14px
  height 100%
  margin 0px
  padding 0px

/*custom classes*/
.mdc-no-margin
  margin 0px

.mdc-no-margin-top
  margin-top 0px !important

.mdc-img-responsive
  width 100%

.mdc-subhead
  font-size 16px !important

.mdc-display-inline-block
  display inline-block

.mdc-link
  text-decoration none !important
  display inline-block

.mdc-img-sepia
  -webkit-filter sepia(1)
  filter sepia(1)

.mdc-img-bw
  -ms-filter grayscale(1)
  -webkit-filter grayscale(1)
  filter grayscale(1)

.fw-700
  font-weight 700px !important

.mdc-text-right
  text-align right !important

.mdc-text-left
  text-align left !important

.mdc-text-center
  text-align center !important

.mdc-overflow-hidden
  overflow hidden

.md-default-theme
  color #393939 !important

.mdc-underline-red
  border-bottom 2px #E57373 solid !important

.mdc-label-default
  padding 4px 5px
  border-radius 3px

.top-profile-nav
  padding 4px 8px

.cursor-pointer
  cursor pointer

.bgc-dark-grey
  background-color #555555 !important

/***************/
/*=lumx custom typography*/
.fs-subhead
  font-weight 700

.fs-10
  font-size 10px

.text-center
  text-align center !important

md-sidenav
  min-width 260px !important
  max-width 260px !important

md-sidenav
  &.md-locked-open
    width 260px !important
    min-width 260px !important
    max-width 260px !important

.svet-logo
  width 260px

.logo-link
  display block
  margin 8px auto
  height auto
  width 120px

  @media screen and (max-width 992px)
    width 100px


.logo-img
  width 120px
  height auto

.toolbar-svet
  @media screen and (min-width 992px)
    height 72px

.toolbar-custom
  background-color #555555 !important

/**********************
 =header
***********************/

.language
  color #E57373 !important
.weather-dropdown-link
  &:hover
  &:active
  &:focus
    background-color #555555 !important

/**********************
 =social
***********************/

.btn-social-login
  padding 0px
  /*background-color #555555 !important*/

.btn-social-login-icon
  padding 0px 8px
  display inline-block
  border-right-color #717171
  border-right-style solid
  border-right-width 1px
  box-sizing border-box

.header-social-link
  border-left-color rgb(97, 97, 97)
  border-left-style solid
  border-left-width 1px
  box-sizing border-box
  color rgb(51, 122, 183)
  cursor auto
  font-family Arial, Tahoma, sans-serif
  font-size 12px
  list-style-type disc
  margin-bottom 0px
  text-align center
  text-decoration none

.header-social-link-right
  border-right-color rgb(97, 97, 97)
  border-right-style solid
  border-right-width 1px

.languages-container
  border-right-color rgb(97, 97, 97)
  border-right-style solid
  border-right-width 1px
  padding-right 8px


.fb-page
  width 280px
  height 130px

.fb-filter
  overflow hidden
  width 280px
  height 200px
  position absolute
  top 0
  left 0
  background rgba(255, 255, 255, 0.2)

/**********************
  =magazine
 ***********************/
#magazine
  /*width 1152px !important*/
  height 752px !important
/*position static !important*/

#magazine .turn-page
  background-color #ccc
  background-size 100% 100%
