.btn-block {
  width: 100%;
}
.auth-sm {
  margin-bottom: -4px !important;
  display: block !important;
}
.img-editor {
  display: inline-block;
  width: 56px;
  height: 56px;
}
.img-editor-container {
  width: 56px;
  height: 56px;
}
.text-footer {
  display: block;
  font-size: 13px;
  line-height: 16px;
}
@media screen and (max-width: 992px) {
  .text-footer {
    font-size: 11px;
  }
}
.author-article-nav {
  backround-color: none !important;
  background: transparent !important;
  height: auto;
}
.article-thumb-link {
  text-decoration: none;
  cursor: pointer;
  line-height: 14px;
}
.article-thumb-body {
  line-height: 16px;
}
.article-thumb-title {
  line-height: 20px;
}
.article-thumb-author {
  line-height: 16px;
}
.radio-body {
  line-height: 16px;
  font-weight: 600;
}
.radio-subhead {
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}
.tabs-classified {
  overflow: hidden;
  min-height: 200px;
}
.user-auth-name {
  display: inline-block;
  cursor: pointer;
  text-decoration: none;
  color: #393939;
}
.author-article-nav {
  backround-color: none !important;
  background: transparent !important;
  height: auto;
}
.article-thumb-link {
  text-decoration: none;
  cursor: pointer;
  line-height: 14px;
}
.article-thumb-body {
  line-height: 16px;
}
.article-thumb-title {
  line-height: 20px;
}
.article-thumb-author {
  line-height: 16px;
}
.radio-body {
  line-height: 16px;
  font-weight: 600;
}
.radio-subhead {
  line-height: 20px;
  font-weight: 600;
  margin-bottom: 4px;
}
.btn-block {
  width: 100%;
}
.auth-sm {
  margin-bottom: -4px !important;
  display: block !important;
}
.img-editor {
  display: inline-block;
  width: 56px;
  height: 56px;
}
.img-editor-container {
  width: 56px;
  height: 56px;
}
.text-footer {
  display: block;
  font-size: 13px;
  line-height: 16px;
}
@media screen and (max-width: 992px) {
  .text-footer {
    font-size: 11px;
  }
}
.bg-black {
  background-color: #000;
}
.bg-black-1 {
  background-color: rgba(0,0,0,0.87);
}
.bg-black-2 {
  background-color: rgba(0,0,0,0.54);
}
.bg-black-3 {
  background-color: rgba(0,0,0,0.26);
}
.bg-black-4 {
  background-color: rgba(0,0,0,0.12);
}
.tc-black {
  color: #000;
}
.tc-black-1 {
  color: rgba(0,0,0,0.87);
}
.tc-black-2 {
  color: rgba(0,0,0,0.54);
}
.tc-black-3 {
  color: rgba(0,0,0,0.26);
}
.tc-black-4 {
  color: rgba(0,0,0,0.12);
}
.bg-white {
  background-color: #fff;
}
.bg-white-1 {
  background-color: #fff;
}
.bg-white-2 {
  background-color: rgba(255,255,255,0.7);
}
.bg-white-3 {
  background-color: rgba(255,255,255,0.3);
}
.bg-white-4 {
  background-color: rgba(255,255,255,0.12);
}
.tc-white {
  color: #fff;
}
.tc-white-1 {
  color: #fff;
}
.tc-white-2 {
  color: rgba(255,255,255,0.7);
}
.tc-white-3 {
  color: rgba(255,255,255,0.3);
}
.tc-white-4 {
  color: rgba(255,255,255,0.12);
}
/*Bugs with Safari*/
html,
body {
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  height: 100%;
  margin: 0px;
  padding: 0px;
}
/*custom classes*/
.mdc-no-margin {
  margin: 0px;
}
.mdc-no-margin-top {
  margin-top: 0px !important;
}
.mdc-img-responsive {
  width: 100%;
}
.mdc-subhead {
  font-size: 16px !important;
}
.mdc-display-inline-block {
  display: inline-block;
}
.mdc-link {
  text-decoration: none !important;
  display: inline-block;
}
.mdc-img-sepia {
  -webkit-filter: sepia(1);
  filter: sepia(1);
}
.mdc-img-bw {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}
.fw-700 {
  font-weight: 700px !important;
}
.mdc-text-right {
  text-align: right !important;
}
.mdc-text-left {
  text-align: left !important;
}
.mdc-overflow-hidden {
  overflow: hidden;
}
.md-default-theme {
  color: #393939 !important;
}
.mdc-label-default {
  padding: 4px 5px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.top-profile-nav {
  padding: 4px 8px;
}
.cursor-pointer {
  cursor: pointer;
}
/***************/
/*=lumx custom typography*/
.fs-subhead {
  font-weight: 700;
}
.fs-10 {
  font-size: 10px;
}
.text-center {
  text-align: center !important;
}
md-sidenav {
  min-width: 260px !important;
  max-width: 260px !important;
}
md-sidenav.md-locked-open {
  width: 260px !important;
  min-width: 260px !important;
  max-width: 260px !important;
}
.svet-logo {
  width: 260px;
}
.logo-link {
  display: block;
  margin: 8px auto;
  height: auto;
  width: 120px;
}
@media screen and (max-width: 992px) {
  .logo-link {
    width: 100px;
  }
}
.logo-img {
  width: 120px;
  height: auto;
}
@media screen and (min-width: 992px) {
  .toolbar-svet {
    height: 72px !important;
  }
}
.toolbar-custom {
  background-color: #555 !important;
}
/**********************
 =header
***********************/
.language {
  color: #e57373 !important;
}
/**********************
 =social
***********************/
.header-social-link {
  border-left-color: #616161;
  border-left-style: solid;
  border-left-width: 1px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  color: #337ab7;
  cursor: auto;
  font-family: Arial, Tahoma, sans-serif;
  font-size: 12px;
  list-style-type: disc;
  margin-bottom: 0px;
  text-align: center;
  text-decoration: none;
}
.header-social-link-right {
  border-right-color: #616161;
  border-right-style: solid;
  border-right-width: 1px;
}
.fb-page {
  width: 280px;
  height: 130px;
}
.fb-filter {
  overflow: hidden;
  width: 280px;
  height: 200px;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(255,255,255,0.2);
}
/**********************
  =magazine
 ***********************/
#magazine {
/*width 1152px !important*/
  height: 752px !important;
}
/*position static !important*/
#magazine .turn-page {
  background-color: #ccc;
  -webkit-background-size: 100% 100%;
  -moz-background-size: 100% 100%;
  background-size: 100% 100%;
}
