.sv-md-button-nav-menu {
  text-align: left !important;
  line-height: 2rem !important;
  height: 2rem !important;
}
.sv-toolbar {
  min-height: 40px !important;
  height: 40px !important;
}
.sv-tab-dashboard {
  padding: 12px 24px;
}
