.l-padding-10 {
  padding-left: 10px;
}
.upload-btn {
  overflow: visible !important;
  cursor: pointer !important;
}
.button {
  -moz-appearance: button;
/* Firefox */
  -webkit-appearance: button;
/* Safari and Chrome */
  padding: 10px;
  margin: 10px;
  width: 70px;
}
.drop-box {
  background: #f8f8f8;
  border: 5px dashed #ddd;
  width: 200px;
  height: 65px;
  text-align: center;
  padding-top: 25px;
  margin: 10px;
}
.dragover {
  border: 5px dashed #00f;
}
