div(layout='column' flex='')
    div(flex='')
        md-grid-list(
        md-cols-sm='2'
        md-cols-gt-sm='3'

        md-row-height="2:3"
        md-gutter='15px')
            md-grid-tile(ng-repeat='i in ctrl.issues')
                .card
                    a(href='{{i.url}}')
                        img(ng-src="{{i.img}}")
                    .card__actions
                        div.mb.mt(layout='row' layout-align='space-around')
                            button.btn.btn--s.btn--white.btn--raised(lx-ripple='')
                                i.mdi.mdi-read.mr
                                | Read Online
                            button.btn.btn--s.bgc-grey-700.btn--grey.btn--raised(lx-ripple='')
                                i.mdi.mdi-download.mr
                                | Download PDF


