div.languages-container(layout="row" layout-align="center center")
    button.btn.btn-flat.btn-s.tc-white-1.language-btn.fs-body-1(ng-click='changeLanguage("en")' ng-class='{language:langEng}'  class='m') EN
    button.btn.btn-flat.btn-s.tc-white-1.language-btn.fs-body-1(ng-click='changeLanguage("ru")' ng-class='{language:!langEng}' class='m') RU