div.ml(layout="row" layout-align='center center')
    a.btn(href="http://www.yelp.com/biz/svet-russian-media-group-northrbook" style='margin:0px 2px')
        img.header-social-img(src="../img/social/color/yelp.png")
    a.btn(href="https://www.youtube.com/watch?v=fuVyrMp3BpI" style='margin:0px 2px')
        img.header-social-img(src="../img/social/color/youtube.png" )
    a.btn(href="https://www.facebook.com/svetmedia" style='margin:0px 2px')
        img.header-social-img(src="../img/social/color/fb.png")
    a.btn(href="https://www.linkedin.com/company/svet-russian-media-group" style='margin:0px 2px')
        img(src="../img/social/color/linkedin.png")

