div
    md-tabs(md-selected='selectedIndex', md-border-bottom='' md-dynamic-height)
        md-tab.sv-tabs(md-stretch-tabs="always" ng-if='!user.isReader()')
            md-tab-label {{'news-articles'|translate}}
            md-tab-body
                div(ng-repeat='article in articles|articleBlogFr:selectedIndex|authorFr:user.key|orderBy:"-timestamp"')
                    sv-author-article-link(article='article')
        md-tab.sv-tabs(md-stretch-tabs="always")
            md-tab-label {{'blog'|translate}}
            md-tab-body
                div
                    span.fs-subhead You do not have any articles yet
                div(ng-repeat='article in articles|articleBlogFr:selectedIndex|authorFr:user.key|orderBy:"-timestamp"')
                    sv-author-article-link(article='article')

