div
    md-tabs(md-selected='selectedIndex', md-border-bottom='' md-dynamic-height)
        md-tab.sv-tabs(md-stretch-tabs="always")
            md-tab-label {{'all-news'|translate}}
            md-tab-body
                div(ng-repeat='article in articles|authorFr:user.key|orderBy:"-timestamp"')
                    sv-author-article-link(article='article')
        md-tab.sv-tabs(md-stretch-tabs="always")
            md-tab-label {{'world'|translate}}
            md-tab-body
        md-tab.sv-tabs(md-stretch-tabs="always")
            md-tab-label {{'politics'|translate}}
            md-tab-body
