.data-table-container.card(class='pb+++')
    div(layout-gt-sm='row' layout-sm='column' style="border-bottom: 1px #EEEEEE dotted" ng-repeat='u in users' layout-align="space-between center")
        div.p(flex-gt-sm='15')
            span.fs-caption {{u.profile.requestCorporateSubmited.submittedDate|date}}
        div.p(flex-gt-sm='20')
            span.fs-caption.mr
                strong {{u.profile.userName}}
        div.p(flex-gt-sm='' )
            div(ng-if="u.profile.requestCorporateSubmited.accepted || u.profile.requestCorporateSubmited.rejected")
                span.fs-caption.mdc-display-inline-block.mr(ng-if='u.profile.requestCorporateSubmited.decisionDate') {{u.profile.requestCorporateSubmited.decisionDate|date}}
                span.fs-caption.tc-teal-800(ng-if="u.profile.requestCorporateSubmited.accepted") {{'accepted'|translate}}
                span.fs-caption.tc-red-800(ng-if="u.profile.requestCorporateSubmited.rejected") {{'rejected'|translate}}
        div.p(flex-gt-sm='')
            button.btn.btn--xs.btn--teal.bgc-teal-300.btn--raised.mr( style='font-size:9px'
            ng-if="!u.profile.requestCorporateSubmited.accepted" lx-ripple='' ng-click='accept(u)')
                i.mdi.mdi-check.mr
                | {{'accept'|translate}}
            button.btn.btn--xs.btn--teal.bgc-teal-300.btn--raised.mr(disabled style='font-size:9px'
            ng-if="u.profile.requestCorporateSubmited.accepted" lx-ripple='' ng-click='accept(u)')
                i.mdi.mdi-check.mr
                | {{'accept'|translate}}
            button.btn.btn--xs.btn--red.btn--raised.bgc-red-300( style='font-size:9px'
            ng-if="u.profile.requestCorporateSubmited.accepted || !u.profile.requestCorporateSubmited.accepted && !u.profile.requestCorporateSubmited.rejected " lx-ripple='' ng-click='reject(u)' )
                i.mdi.mdi-minus-circle.mr
                | {{'reject'|translate}}
            button.btn.btn--xs.btn--red.btn--raised.bgc-red-300(disabled style='font-size:9px'
            ng-if="u.profile.requestCorporateSubmited.rejected " lx-ripple='' ng-click='reject(u)' )
                i.mdi.mdi-minus-circle.mr
                | {{'reject'|translate}}

