form(name='passwordForm' ng-submit='changePassword(personalInfoForm.$valid)' novalidate)
    span.fs-subhead(class='ml+') Change Password
    div(layout='row' layout-align='space-between center' class='p+')
        md-input-container(flex)
            label {{'current-password'|translate}}:
            input(type="text" name='currentPass' ng-model='password.val')
        md-input-container(flex)
            label {{'new-password'|translate}}:
            input(type="text" name='newPass' ng-model='newPassword.val' )
        button.btn.btn--m.btn--grey.btn--icon(lx-ripple='' type="submit")
            i.mdi.mdi-content-save


