div(layout-gt-sm='row' layout-sm='column')
    div(flex-gt-sm='60')
        .card(class='mb' class='ml mr')
            div.bgc-grey-100(class='pl+ pr+ pt pb' layout='column' )
                span.fs-subhead.mb.mr(ng-if='user') {{'account-status'|translate}}:
                    span.fs-title.ml(ng-if='user && user.isCustomer()') {{'business-account'|translate}}
                    span.fs-title.ml(ng-if='user && user.isReader()') {{'reader-account'|translate}}
                sv-request-business-account-btn(ng-if='user && user.isReader()')
            div.mt.mb
                sv-user-personal-info
            div.mt.mb
                sv-change-password
    div(flex-gt-sm='40')
        //sv-pdf-subscription(class='ml mr')