.card.bgc-grey-100.top-profile-nav
    ul.list-unstyled(layout='row' layout-align="space-between center")
        li(ui-sref-active='sv-active-user-menu')
            a.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.user.dashboard' lx-ripple='' style='font-size:11px;padding:0px 10px')
                i.mdi.mdi-view-dashboard &nbsp
                span(hide-sm) {{'dashboard'|translate}}
        li(ui-sref-active='sv-active-user-menu' ng-if='user.isAuthor()')
            a.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.user.news.articles' lx-ripple='' style='font-size:11px;padding:0px 10px' id="myArticles")
                i.mdi.mdi-view-list &nbsp
                span(hide-sm ng-if='user.isAuthor()') {{'my-articles'|translate}}
                //span(hide-sm ng-if='user.isReader()') {{'my-blog'|translate}}
        li(ui-sref-active='sv-active-user-menu' ng-if='user.isEditor()')
            a.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.user.homepage-rank' lx-ripple='' style='font-size:11px;padding:0px 10px')
                i.mdi.mdi-format-list-numbers &nbsp
                span(hide-sm ng-if='user.isEditor()') {{'articles-ranking'|translate}}
        li(ui-sref-active='sv-active-user-menu'  )
            a.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.user.ad.promotion' lx-ripple='' style='font-size:11px;padding:0px 10px')
                i.fa.fa-bullhorn &nbsp
                span(hide-sm ng-if='user.isAuthor()  || user.isReader()') {{'my-classified'|translate}}
                span(hide-sm ng-if='user.isCustomer()') {{'my-ad'|translate}}
        //li(ui-sref-active='sv-active-user-menu')
        //    a.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.user.social' lx-ripple='' style='font-size:11px;padding:0px 10px')
        //        i.mdi.mdi-emoticon &nbsp
        //        span(hide-sm) {{'community'|translate}}
