div
    md-tabs.tabs-classified.tc-black-2(md-border-bottom='' md-dynamic-height )
        md-tab.sv-tabs(md-stretch-tabs="always" md-tab-active = 'true')
            md-tab-label
                span(ui-sref='app.user.ad.promotion') {{"business-ad"|translate}}
            md-tab-body
               div(ui-view='promotionCh')
        md-tab.sv-tabs(md-stretch-tabs="always" )
            md-tab-label
                span(ui-sref='app.user.ad.classified') {{"classified"|translate}}
            md-tab-body
                div(ui-view='')
    //div(ng-show='!user.isCustomer()')
    //    sv-user-classified-section

