.data-table-container
    form(name='personalInfoForm')
        table.data-table.data-table--has-primary.data-table--has-secondary
            tbody
                tr.data-table__clickable-row
                    td
                        span.fs-caption {{'uname'|translate}}:
                    td
                        input(type="text" name='userName' ng-model='userName.value' sv-unique-username)
                        div(ng-messages='personalInfoForm.userName.$error' ng-if='personalInfoForm.userName.$touched||personalInfoForm.$submitted')
                            .tc-red-300.fs-caption(ng-message='required') {{'required-field'|translate}}
                            .tc-red-300.fs-caption(ng-message='username') {{'username-field'|translate}}
                            .tc-red-300.fs-caption(ng-message='minlength') {{'min-length'|translate}}
                            .tc-red-300.fs-caption(ng-message='maxlength') {{'max-length'|translate}}
                    td
                        i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-content-save(ng-click='saveUserName(userName)')
                tr.data-table__clickable-row(ng-if='userName.value!==user.userName')
                    td
                        span.alert Changing your username will change your profile links!


