div
    md-tabs(md-selected='selectedIndex', md-border-bottom='' md-dynamic-height)
        md-tab.sv-tabs(md-stretch-tabs="never" )
            md-tab-label {{'my-friends'|translate}}
            md-tab-body My Friends
        md-tab.sv-tabs(md-stretch-tabs="never" )
            md-tab-label {{'find-people'|translate}}
            md-tab-body Find People

