div(layout-gt-sm='row' layout-sm='column')
    div(flex-gt-sm='60')
        .card(class='mb++')
            div.bgc-grey-100(class='p+' layout='column' )
                span.mdc-display-inline-block.mr.mb.fs-subhead.mb(ng-if='user') Account Status:
                    span.fs-title.ml(ng-if='user && user.isCustomer()') Business Account
                    span.fs-title.ml(ng-if='user && user.isReader()') Reader Account
                sv-request-business-account-btn(ng-if='user && user.isReader()')
            .divider.divider--dark
            div.mt.mb
                sv-user-personal-info
    div(flex-gt-sm='40')
        sv-pdf-subscription