md-content
    md-tabs.sv-user-list(md-selected='selectedIndex', md-border-bottom='' md-stretch-tabs="never")
        md-tab
            md-tab-label {{'my-profile'|translate}}
            md-tab-body
                sv-user-profile-summary
        //md-tab.sv-tabs(md-stretch-tabs="never" )
        //    md-tab-label {{'comments'|translate}}
        //    md-tab-body Comments
        //md-tab.sv-tabs(md-stretch-tabs="never" )
        //    md-tab-label {{'bookmarks'|translate}}
        //    md-tab-body Bookmarks
