.data-table-container
    table.data-table.data-table--has-primary.data-table--has-secondary
        tbody
            tr.data-table__clickable-row
                td
                    span.fs-caption {{'uname'|translate}}:
                td
                    input(type="text" ng-model='userName.value')
                td
                    i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-content-save(ng-click='saveUserProperty(prop)')

