div(layout='column' class='pl pr mb')
    div.text-center.pl.pr
        sv-profile-title(header-title="our-clients")
    md-divider
    div(layout-gt-sm='row' layout-align='top center' layout-wrap)
        div(flex='' flex-md="50")
            .card.p.m
                sv-one-client-link(web-address="http://www.maggianos.com/" client-logo="https://s3-us-west-2.amazonaws.com/svet.com/clients/maggianos-logo-200.png")
            .card.p.m
                sv-one-client-link(web-address="http://world.maxmara.com/" client-logo="https://s3-us-west-2.amazonaws.com/svet.com/clients/max-mara-logo-200.png")
            .card.p.m
                sv-one-client-link(web-address="http://www.homedepot.com/" client-logo="https://s3-us-west-2.amazonaws.com/svet.com/clients/hd-logo.png")
        div(flex='' flex-md='50')
            .card.p.m
                sv-one-client-link(web-address="https://www.mbfinancial.com/" client-logo="https://s3-us-west-2.amazonaws.com/svet.com/clients/mb_financial-150.jpg")
            .card.p.m
                sv-one-client-link(web-address="https://www.westernunion.com/" client-logo="https://s3-us-west-2.amazonaws.com/svet.com/clients/western-union-logo-200.png")
            .card.p.m
                sv-one-client-link(web-address="http://www.californiaclosets.com/" client-logo="https://s3-us-west-2.amazonaws.com/svet.com/clients/california-closets-300.png")
        div(flex='' flex-md="50")
            .card.p.m
                sv-one-client-link(web-address="https://www.aa.com/homePage.do" client-logo="https://s3-us-west-2.amazonaws.com/svet.com/clients/aa-logo.png")
            .card.p.m
                sv-one-client-link(web-address="http://cso.org/" client-logo="https://s3-us-west-2.amazonaws.com/svet.com/clients/chicago-symphony-orchestra-bw-250.png")
