div(layout='column' layout-align="left" )
	md-content.md-padding(style='overflow:hidden')
		md-list.list-nav
			//sv-nav-link(url='app.subscription' title='Подписка' icon='account-key')
			sv-nav-link(side='right' url='app.classified' title='Частные Объявления' icon='tag-faces')
			sv-nav-link(side='right' url='app.contact' title='Обратная Связь' icon='map-marker')
