div(layout='column' layout-align="left" )
    md-content.md-padding(style='overflow:hidden')
        md-list.list-nav
            sv-nav-link(side='right' url='app.new-light-newspaper' title='new light' icon='tag-faces')
            sv-nav-link(side='right' url='app.saturday-plus-newspaper' title='saturday plus' icon='tag-faces')
            sv-nav-link(side='right' url='app.classified' title='classified' icon='tag-faces')
            sv-nav-link(side='right' url='app.contact' title='contacts' icon='map-marker')
