md-toolbar.md-primary.md-hue-1(layout-gt-sm='row' layout-sm='column' layout-align-gt-sm='space-between center' layout-align-sm='center center' layout-padding='10')
	.text-footer.text-center.tc-black-2 &copy; Svet Media Group  2015 - All rights reserved.
	div
		span.text-footer.text-center.bg-black-4 900 Skokie Blvd., Suite 103,Northbrook, IL 60062
		span.text-footer.text-center.bg-black-4 tel. 847-725-9407 | fax. 847-715-9677