.card(style='max-width:320px')
    ul.list(class='mt')
        li.list-row.list-row--has-separator
            .list-row__content
                strong.display-block.mr.tc-grey-600(style='font-size:16px; line-height: 14px;text-align:left') from the
                span.fs-headline.display-block.tc-red-400(class='ml') EDITOR
            .list-row__primary.mdc-text-right.img-editor-contner
                img.img-round.mdc-text-right.img-editor(src='/img/auth/AlexEtman.jpg')
    .card__actions(style='text-align:right')
        i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-facebook

