div
    md-toolbar.md-primary.md-hue-1(layout-gt-sm='row' layout-sm='column' layout-align-gt-sm='space-between center' layout-align-sm='center center' layout-padding='10' hide-sm)
        .text-footer.text-center.tc-black-2 &copy; Svet Media Group  2015 - All rights reserved.
        div
            span.text-footer.text-center Skokie Blvd., Suite 103,Northbrook, IL 60062
            span.text-footer.text-center tel. 847-725-9407 | fax. 847-715-9677
    .card.text-footer.text-center.tc-black-2.p.bgc-grey-200(show-sm hide-gt-sm) &copy; Svet Media Group  2015 - All rights reserved.


