.card.m
    span.display-block.fs-subhead.text-center.tc-red-300 {{'from-the-editor'|translate}}
    md-divider
    div.p
        img(src="../img/from-the-editor/chukovskiy-06-11-11.jpg")
    div.pl.pr.pb
        span.display-block ПОЧЕМУ КОРНЕЙ ЧУКОВСКИЙ ПУГАЛ ДЕТЕЙ?
        span.display-block.fs-body-1.tc-black-2 31 октября 1916 года Корней Иванович Чуковский написал свою первую сказку...
        sv-read-more(read-more="read-more")
