div(layout-sm='column' layout-gt-sm='row' layout-fill layout-align="center")
	div(flex='60')
		md-card.md-padding(flex='')
			img(ng-src="img/news/3-25-2015/gorlovka.jpg" )
			h4 Итоги 24 марта: Отставка Коломойского и авиакатастрофа во Франции
	div(flex='40')
		md-content.md-padding(flex='')
			h4.mdc-no-margin Итоги 25 марта: Публичный арест главы ГосЧС, прибытие бронемашин из США
