div(flex-container='row')
	div(flex-item='7', flex-item-order='1')
		.card.p.m
			img(ng-src="img/news/3-25-2015/gorlovka.jpg" )
			span.display-block.fs-subhead {{ctrl.mainNews.title}}
			span.display-block.fs-body-2 {{ctrl.mainNews.body}}
	div(flex-item='5', flex-item-order='2')
		.card.p.m
			span.display-block.fs-subhead
				i.mdi.mdi-alarm &nbsp
				| Свежие Новости
			span.display-block.fs-body-2.mb.fw-700(ng-repeat='hn in ctrl.hotNews') {{hn.title}}


