div(layout='row' layout-sm='column')
	div(flex-gt-sm='66')
		sv-top-news(main-news = 'ctrl.nt.top')
	div(flex-gt-sm='33' layout='column')
		sv-second-news(second-news = 'ctrl.nt.n2')
		sv-second-news(second-news = 'ctrl.nt.n3')

