div(flex-container='row')
	div(flex-item='7', flex-item-order='1')
		sv-top-news(main-news = 'ctrl.mainNews')
	div(flex-item='5', flex-item-order='2')
		sv-fresh-news-list(fresh-news = 'ctrl.freshNews')


