div.ml
    button.btn.btn-flat.btn-s.tc-white-1.fs-body-2(ng-click='ctrl.changeLanguage("en")' class='mr+') EN
    button.btn.btn-flat.btn-s.tc-white-1.fs-body-2(ng-click='ctrl.changeLanguage("ru")' class='mr+') RU