div.languages-container
    button.btn.btn-flat.btn-s.tc-white-1.fs-body-2(ng-click='ctrl.changeLanguage("en")' ng-class='{language:ctrl.langEng}'  class='m') EN
    button.btn.btn-flat.btn-s.tc-white-1.fs-body-2(ng-click='ctrl.changeLanguage("ru")' ng-class='{language:!ctrl.langEng}' class='m') RU