div.languages-container(layout="row" layout-align="center center")
    button.btn.btn-flat.btn-s.tc-white-1.language-btn.fs-body-1(ng-click='ctrl.changeLanguage("en")' ng-class='{language:ctrl.langEng}'  class='m') EN
    button.btn.btn-flat.btn-s.tc-white-1.language-btn.fs-body-1(ng-click='ctrl.changeLanguage("ru")' ng-class='{language:!ctrl.langEng}' class='m') RU