md-item.aside-elem
    md-item-content(layout='column' layout-aliggn='start start')
        md-button(ui-sref='{{url}}' ng-click='ctrl.closeSideBar()' class='sv-md-button-nav-menu')
            i(class='mdi mr mdi-{{icon}}')
            | {{title|translate}}
