div(layout='row')
    button.btn.btn--raised( lx-ripple='' ui-sref="{{url}}"  class='btn--{{color}} btn--{{btn-size}}  btn--{{btnStyle}}' flex)
        i(class='mdi mdi-{{icon}}') &nbsp
        strong {{title}}
