div(layout='column' layout-align="left center")
	md-list.list-nav
		sv-nav-link(side='left' url='app.home' title='Домашняя Страница' icon='home')
		sv-nav-link(side='left' url='app.politics' title='Политика' icon='information-outline')
		sv-nav-link(side='left' url='app.money' title='Мы и Деньги' icon='bank')
		sv-nav-link(side='left' url='app.culture' title='Культура' icon='palette')
		sv-nav-link(side='left' url='app.society' title='Общество' icon='account-multiple')
		sv-nav-link(side='left' url='app.world' title='Мир' icon='earth')
