div(layout='column' layout-align="left center")
	md-list.list-nav
		sv-nav-link(url='app.home' title='Домашняя Страница' icon='home')
		sv-nav-link(url='app.reader.politics' title='Политика' icon='information-outline')
		sv-nav-link(url='app.reader.money' title='Мы и Деньги' icon='bank')
		sv-nav-link(url='app.reader.culture' title='Культура' icon='palette')
		sv-nav-link(url='app.reader.society' title='Общество' icon='account-multiple')
		sv-nav-link(url='app.reader.international' title='Мир' icon='earth')
