div(layout='column' layout-align="left center")
    md-list.list-nav
        sv-nav-link(side='left', url='app.home', title='Home', icon='home')
        sv-nav-link(side='left', url='app.world', title='WorldNews', icon='earth')
        sv-nav-link(side='left', url='app.politics', title='Politics', icon='bank')
        sv-nav-link(side='left', url='app.money', title='Business', icon='briefcase')
        sv-nav-link(side='left', url='app.culture', title='Technology', icon='desktop-mac')
        sv-nav-link(side='left', url='app.culture', title='Art', icon='palette')
        sv-nav-link(side='left', url='app.culture', title='Sport', icon='bike')
        sv-nav-link(side='left', url='app.culture', title='Health', icon='beaker')
        sv-nav-link(side='left', url='app.culture', title='Food', icon='food-variant')
        sv-nav-link(side='left', url='app.society', title='Travel', icon='wallet-travel')

