div(layout='column' layout-align="left center")
	md-list.list-nav
		sv-nav-link(side='left' url='app.home' title='Home' icon='home')
		sv-nav-link(side='left' url='app.politics' title='Politics' icon='information-outline')
		sv-nav-link(side='left' url='app.money' title='Money' icon='bank')
		sv-nav-link(side='left' url='app.culture' title='Culture' icon='palette')
		sv-nav-link(side='left' url='app.society' title='Society' icon='account-multiple')
		sv-nav-link(side='left' url='app.world' title='World' icon='earth')
