div(flex-container='column')
	.card__img.card__img--left(style='height: 120px' flex-item)
		img(src='img/radio/radio.png')
		div(flex-item='', flex-container='column')
	.card__actions(flex-item)
		button.btn.btn--m.btn--black.btn--flat(lx-ripple='') Слушать


