.card.m
    ul.list
        li.list-row.list-row--has-separator(style='padding: 0px 8px')
            .list-row__content
                strong.fs-headline.display-block
                    i.mdi.mdi-microphone &nbsp
                    | Radio “OSA”
            .list-row__primary.mdc-text-right.img-editor-contner
                img.img-round.mdc-text-right.img-editor(src='/img/auth/AlexEtman.jpg')
    div(class='pl pr mb')
        span.fs-subhead.tc-black-2.display-block.radio-subhead Sunday morning talk show with Alex Etman.
        span.fs-body-2.tc-black-2.display-block.radio-body Every Sunday on 1240AM from 11:00 a.m. to 1:00 p.m.
    .card__actions
        button.btn.btn--xs.btn--red.btn--flat(lx-ripple='') {{'listen'|translate}}
        button.btn.btn--xs.btn--black.btn--flat(lx-ripple='') {{'archive'|translate}}
