div(flex-container='column')
	.card__img.card__img--left(style='height: 120px' flex-item)
		div(flex-item='', flex-container='column')
	.card__actions(flex-item)
		button.btn.btn--m.btn--white.btn-raised(lx-ripple='') Слушать


