div.ml
    a.btn.header-social-link(href="http://www.yelp.com/biz/svet-russian-media-group-northrbook")
        img.header-social-img(src="../img/social/yelp.png" style="max-width:34px;display:block;margin:4px")
    a.btn.header-social-link(href="https://www.youtube.com/watch?v=fuVyrMp3BpI")
        img.header-social-img(src="../img/social/youtube.png" )
    a.btn.header-social-link(href="https://www.facebook.com/svetmedia")
        img.header-social-img(src="../img/social/facebook.png")
    a.btn.header-social-link.header-social-link-right(href="https://www.linkedin.com/company/svet-russian-media-group")
        img.header-social-img(src="../img/social/linkedin.png")

