.card.m.p
	a.cursor-pointer(ui-sref='app.article({id:ctrl.secondNews.id})')
		.fs-caption {{ctrl.secondNews.author}}
		span.display-block.fs-subhead {{ctrl.secondNews.title | length:20}}
		span.display-block.fs-body-2 {{ctrl.secondNews.body | length:25}}
		span.fs-caption.tc-blue-grey Read More >>
