md-dialog.sv-dialog-md(aria-label='Classified dialog')
    div.bgc-grey-200(layout="row" layout-align='space-between center' class='p+')
        span.ml.fs-headline
            i.fa.fa-bullhorn &nbsp
            | {{'svet-classified'|translate}} &nbsp
        a.btn.btn--xs.btn--black.btn--raised.bgc-grey-600(lx-ripple='' ng-show='widget' ng-click='goToSectionList()')
            i.fa.fa-bullhorn &nbsp
            | {{'watch-all-svet-classified'|translate}}
        button.btn.btn--s.btn--icon.btn--grey(ng-click='hide()')
            i.fa.fa-close &nbsp
    md-dialog-content(style='margin:0px;padding:0px')
        sv-one-classified(cl='cl' widget='widget')

