div
    div(ng-if="chBox" layout='row' layout-align="center center")
        label {{lbl}}
        md-checkbox(ng-model='status.$value')
    div(layout='row' layout-align="center center" ng-if='!chBox')
        .fs-body-1.mr.tc-grey-600
            i.fa.fa-lock.mr
            span.fs-caption(hide-sm) {{'private'|translate}}
        div
            div {{status}}
            .switch
                input.switch__input(type='checkbox' id='{{key}}' ng-model='article.isPublic' ng-change='changeArticleStatus(key)')
                label.switch__label.fs-body-1.mr.tc-grey-600(for='{{key}}' style='margin-bottom:0px')
                    i.fa.fa-globe.mr
                    span.fs-caption(hide-sm) {{'public'|translate}}

