.card
    div.p.bgc-grey-100
        span.display-block.fs-subhead.text-center(class='{{tc}}') {{sectionTitle|translate|uppercase}}
    md-divider
    div.p(ng-repeat='n in newsList|sectionNews:sectionName')
        span.display-block.fs-caption.tc-grey-500(ng-bind-html='n.timestamp|date')
        span.fs-caption By &nbsp
        span.fs-caption.tc-grey-500(ng-bind-html='n.author')
        a.tc-grey-700(ui-sref='app.article({id:n.fbkey})')
            span.display-block(ng-bind-html='n.title|length:125' style='font-weight:500')
