.card(class='mb+')
    div.p.bgc-grey-200(layout='row' layout-align='space-between center' )
        div
            sv-svet-label.mr(section-title="{{article.section}}" route-name='app.section' params='{sectionName:article.section}' cursor-type='pointer' bgc="bgc-grey-200" tc="tc-grey-600")
            span.fs-caption.tc-grey-500 {{article.timestamp|date}}
        sv-article-status(key='article.$id' property='isPublic')
    div(layout-gt-sm='row' layout-sm='column' layout-align-gt-sm="space-between center" layout-align-sm="center center")
        div.p
            a.tc-grey-700(ui-sref='app.article({id:article.$id})' style='text-decoration:none;font-weight:bold')
                span.display-block(ng-bind-html='article.title|length:25')
                span.display-block.fs-body-1.tc-black-2(ng-bind-html='article.body|length:50')
        div.mb.pl.pr.pt
            sv-edit-article-btn.mr(article='article')
            sv-delete-article-btn(article-key='{{article.fbkey}}')
