div(layout='row' layout-align="center center")
    div
        i.fa.fa-eye.tc-grey-500(style='margin-right:4px')
        span.mdc-display-inline-block.fs-caption.tc-grey-500(hide-sm) {{'views'|translate}}
        span.mdc-display-inline-block.sv-label-counter 12
    sv-lumx-users-dropdown.ml(btn-title="comments" action-counter="5" user-name="user.name"  icon-type='fa' icon-name="fa-comment")
    sv-lumx-users-dropdown.ml(btn-title="shares" action-counter="7" user-name="user.name" icon-type='mdi' icon-name="mdi-share-variant")
    sv-lumx-users-dropdown.ml(btn-title="likes" action-counter="9" user-name="user.name" icon-type='fa' icon-name="fa-thumb-up")
