div(layout='row' layout-align="center center")
    .fs-body-1.mr.tc-grey-600
        i.fa.fa-lock.mr
        | Private
    div
        .switch
            input#switch1.switch__input(type='checkbox')
            label.switch__label.fs-body-1.mr.tc-grey-600(for='switch1' style='margin-bottom:0px')
                i.fa.fa-globe.mr
                | Public
