div
    ul.list(class='mt++')
        li.list-row
            .list-row__content
                a(ui-sref='app.article({id:article.id})' style='text-decoration:none')
                    span.display-block {{article.title | length:25}}
                    span.display-block.fs-body-1.tc-black-2 {{article.body | length:50}}
                span.display-block.fs-caption {{article.section|capitalize}}
            .list-row__secondary
                i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-information
    .divider.divider--dark
