div(layout='column')
    .text-center.mt(ng-if='!user')
        button.btn.btn--s.btn--red.btn--raised.bgc-red-300(lx-ripple='' ui-sref='app.svet-login')
            i.fa.fa-pencil.fa-fw.mr
            | {{'comment-auth'|translate}}
    div(ng-if='!!user' layout='column')
        form(layout='column' name='addComment' ng-submit='submitComment()')
            md-input-container.ml.mr
                label {{'your-comment'|translate}}
                textarea(ng-model='comment.body') {{comment.body}}
            .ml.mr.mb(layout-sm='row' layout-align-sm='center')
                button.btn.btn--m.btn--white.btn--raised(type='submit' ng-if='comment.body') {{'post'|translate}}

