div(layout='row')
    .tc-grey-500.mr
        i.fa.fa-eye.fa-fw
        span.fs-caption.mdc-label-default(hide-sm) 12 Views
    .tc-grey-500.mr
        i.fa.fa-comment.fa-fw
        span.fs-caption.mdc-label-default(hide-sm) 12 Comments
    .tc-grey-500.mr
        i.fa.fa-thumbs-up.fa-fw
        span.fs-caption.mdc-label-default(hide-sm) 2 Likes
    .tc-grey-500.mr
        i.fa.fa-share.fa-fw
        span.fs-caption.mdc-label-default(hide-sm) 2 Shares
