div
    a.btn.btn--red.btn--s.btn--raised.bgc-red-300.mb( lx-ripple='' hide-sm ui-sref='app.user.create-article' )
        i.mdi.mdi-plus.mr
        | {{'add-article'|translate}}
    a.btn.btn--fab.btn--red.btn--m.btn--icon.bgc-red-300.mb( lx-ripple=''
    hide-gt-sm
    lx-tooltip="{{'add-article'|translate}}"
    ui-sref='app.user.create-article' )
        i.mdi.mdi-plus
