.card(class='m')
    .toolbar.bgc-grey-200
        .toolbar__left
            span.toolbar__label.fs-title.tc-grey-700 Комментарии
    .divider.divider--dark
    div(class='p+ m')
        ul.list(class='mt++')
            li.list-row.list-row--multi-line.list-row--has-separator(ng-repeat='c in ctrl.comments')
                .list-row__primary
                    img.img-round.mdc-img-bw(ng-src='{{c.avatar}}', width='40', height='40')
                .list-row__content
                    span.display-block {{c.user}}
                    span.display-block.fs-body-1.tc-black-2 {{c.body}}
