div
    a.btn.btn--red.btn--s.btn--raised.bgc-red-300.mb( lx-ripple='' hide-sm ui-sref='app.user.create-article' )
        i.fa.fa-plus.mr
        | {{'create-article'|translate}}
    a.btn.btn--fab.btn--red.btn--m.btn--icon.bgc-red-300.mb( lx-ripple='' hide-gt-sm lx-tooltip="{{'create-article'|translate}}"
    ui-sref='app.user.create-article' )
        i.fa.fa-plus
