a.btn.btn--s.btn--white.btn--raised.tc-red-300(lx-ripple='' ng-click='removeArticle()' sv-confirm-deletion='article' id="deleteArticle")
    i.fa.fa-trash.fa-fw()
    span(style='margin-left:4px' hide-sm) {{'delete'|translate}}
