div
    a.tc-grey-700(ui-sref='app.one-blog-article({authorName:n.author,blogId:n.fbkey})' style='text-decoration:none')
        div.pl.pr.pb
            span.display-block(ng-bind-html='post.title')
        div.pl.pr.pb
            span.display-block.fs-body-1.tc-black-2(ng-bind-html='post.summary')
