a.btn.btn--s.btn--white.btn--raised.tc-teal-300(lx-ripple='' ui-sref='app.user.create-article({uid:user.userName,artId:article.$id})' id="editArticle")
    i.fa.fa-pencil.fa-fw &nbsp
    span(style='margin-left:4px' hide-sm) {{'edit'|translate}}