.card.m.p
    div(layout='row' layout-align='space-between center')
        span.fs-caption.display-block(style='font-weight:300;text-decoration:underline') {{oneNews.topic|uppercase}}
        span.fs-caption.display-block(style='font-weight:300;text-decoration:underline') {{oneNews.section|uppercase}}
    a.article-thumb-link.tc-grey-800(ui-sref='app.article({id:oneNews.fbkey})')
        span.display-block.fs-subhead {{oneNews.title | length:55}}
    a.article-thumb-link.tc-grey-800(ui-sref='app.article({id:oneNews.fbkey})')
        span.fs-caption.tc-grey-500 By {{oneNews.author|uppercase}}
    a.article-thumb-link.tc-grey-800.display-block(ui-sref='app.article({id:oneNews.fbkey})')
        span.fs-body-1(ng-bind-html='oneNews.summary|length:100')
