.card.pb.bgc-grey-100
    div.p(layout='row' layout-align='space-between center')
        span.fs-caption.display-block(style='font-weight:300;text-decoration:underline') {{oneNews.topic|uppercase}}
        sv-svet-label(section-title="{{oneNews.section}}" route-name='app.section' params="params"  text-decoration="none"  cursor-type="pointer" )
    .pl.pr
        a.article-thumb-link.tc-grey-800(ui-sref='app.article({id:oneNews.fbkey})')
            span.display-block.fs-subhead {{oneNews.title | length:55}}
        span.fs-caption.tc-grey-500 By {{oneNews.author|uppercase}}
        span.display-block.tc-grey-800.fs-body-1(ng-bind-html='oneNews.summary|length:100')
    div(layout='row' layout-align='end start' class='pr')
        button.btn.btn--xs.btn--grey.btn--flat(ui-sref='app.article({id:oneNews.fbkey})' ) {{'read-more'|translate}} >>
