div
    form(name="searchForm")
        .card.p.mb
            lx-search-filter.mb(model='q.data' name="q"  placeholder='Search')
        div.text-center.mb
            button.btn.btn--m.btn--black.bgc-grey-600.btn--raised(lx-ripple='' ng-click='runGoogleSearch(q.data)') Search
    div.p
        span.fs-title.display-block Results:
        md-divider
        ul
            li(ng-repeat='i in images')
                sv-image-include(clip-copy='i.url' url='i.url')
                span {{i.url}}

