div
    //div(flex-container='row')
    //    div(flex-item='' class='mb+' )
    //        img(flow-img='$flow.files[0]' ng-if='$flow.files.length')
    div(flex-container='row')
        div(flex-item='' hide)
            input.btn.btn-white(id='primaryButton' type='file', flow-btn='')
    div(flex-container='row')
        div(flex-item='')
            button.btn.btn--m.btn--grey.btn--raised.bgc-grey-300.tc-grey-800(type="button" class='mr+' lx-ripple='' ng-disabled='!svTextAngularelected' id='secondaryButton' onclick="document.getElementById('primaryButton').click()")
                i.mdi.mdi-check &nbsp
                | {{'choose-image'|translate}}
            //button.btn.btn--m.btn--white.btn--raised.tc-red-300(type='button' lx-ripple ng-click='$flow.files.length=0' ng-if='$flow.files.length')
            //    i.mdi.mdi-close &nbsp
            //    | {{'remove-image'|translate}}
    span.mdc-display-inline-block.fs-subhead.tc-grey-700(class='mt') {{'upload-img'|translate}}
        p.tc-red-300 Put a cursor in the article description field, where you want your image to be placed,
        p.tc-red-300 then click on "Chose and Image" button.
        div
            span.fs-caption.display-block {{'image-format'|translate}}
            span.fs-caption.display-block {{'image-max-size'|translate}}.
            span.fs-caption.display-block {{'image-min-dimensions'|translate}}.

