div
	img(flow-img='$flow.files[0]' ng-if='$flow.files.length')
	div(flex-container='row', flex-gutter='24')
		div(flex-item='')
			input(type='file', flow-btn='')
	div(flex-container='row', flex-gutter='24')
		div(flex-item='')
			button.btn.btn--m.btn--white.btn--raised(lx-ripple ng-click='deleteImage()') Delete
