div(flex-container='row')
	div(flex-item='')
		button.btn.btn--l.btn--blue.btn--fab(lx-ripple='' lx-tooltip="Post the article")
			i.mdi.mdi-send
	div(flex-item='' class='text-right')
		button.btn.btn--l.btn--grey.tc-grey-700.btn--icon(class='ml+' lx-ripple='')
			i.mdi.mdi-content-save
		button.btn.btn--l.btn--grey.tc-grey-700.btn--icon(class='ml+' lx-ripple='')
			i.mdi.mdi-content-save-all
		button.btn.btn--l.btn--grey.tc-grey-700.btn--icon(class='ml+' lx-ripple='')
			i.mdi.mdi-delete
