div(flex-container='row')
	div(flex-item='' class='text-center')
		button.btn.btn--l.btn--blue.btn--fab(lx-ripple='' lx-tooltip="Post the article" ng-click='ctrl.saveArticle()')
			i.mdi.mdi-send
		button.btn.btn--l.btn--grey.tc-grey-700.btn--icon(class='ml+' lx-ripple='')
			i.mdi.mdi-content-save
		button.btn.btn--l.btn--grey.tc-grey-700.btn--icon(class='ml+' lx-ripple='')
			i.mdi.mdi-content-save-all
		button.btn.btn--l.btn--grey.tc-grey-700.btn--icon(class='ml+' lx-ripple='')
			i.mdi.mdi-delete
