form(name='article' flex-container='column')
	div(flex-container='column')
		div
			span.mdc-display-inline-block.fs-subhead(class='mb+') Выберите Тему: &nbsp
		lx-dropdown(position='left')
			//span.fs-subhead
			button.btn.btn--m.btn--white.btn--raised.tc-black-2(lx-ripple lx-dropdown-toggle)
				i.mdi.mdi-dots-vertical
				span.fs-subhead {{ctrl.article.section || "Темa / Section"}}
			lx-dropdown-menu
				ul
					li(ng-repeat='s in siteSections')
						a.dropdown-link(sv-section-select-handler="") {{s}}
	div(flex-container='row')
		div(flex-item='8')
			lx-text-field(label='Автор Статьи')
				input.fs-subhead.tc-black-2(type='text', ng-model='ctrl.article.author')
	div(flex-container='row')
		div(flex-item='')
			lx-text-field(label='Date')
				input(ng-model='ctrl.article.date')
	div(flex-container='row')
		div(flex-item='')
			lx-text-field(label='Заголовок Статьи / Title')
				input.fs-subhead.tc-blue-grey-500(ng-model='ctrl.article.title')
	div(flex-container='row')
		div(flex-item='' )
			sv-image-upload
	div(flex-container='row')
		div(flex-item='')
			lx-text-field(label='Текст Статьи / Content')
				textarea(ng-model='ctrl.article.body') {{ctrl.article.body}}
	div(flex-container='row')
		div(flex-item='')
			lx-text-field(label='Tags / Теги')
				input.fs-capture.tc-blue-grey-400(ng-model='ctrl.article.tags')
	div(flex-container='row')
		div(flex-item='')
			input(type='checkbox' ng-model='ctrl.article.isTopNews')
			label Основная Новость?

