form(name='articleForm' ng-submit="saveArticle(false,articleForm.$valid)" flow-init novalidate sv-form-val)
    .bgc-grey-200.p(layout='row' layout-align="space-around center")
        button.btn.btn--m.btn--teal.btn--flat.tc-teal-300(lx-ripple='' type='submit')
            i.fa.fa-save.fa-fw &nbsp
            | Save
        sv-lumx-button(btn-size="m" btn-color="red" text-color="red-300" btn-type="flat" btn-title="cancel" icon-type="fa"
        icon-name="fa-close" btn-url="app.home"
        method-click='cancelArticle(true)')
    div(class='p+')
        div(layout='row', layout-sm='column')
            md-input-container(flex)
                label {{'article-author'|translate}}
                input(ng-model='article.author' name='author' required='')
        div(layout-gt-sm='row' layout-sm='column' layout-align-gt-sm='space-between center')
            div( ng-if='!article.isBlog' flex)
                div(ng-if='sections')
                    md-select(ng-model='article.section')
                        md-select-label {{article.section?article.section:'Section'|capitalize}}
                        md-option(ng-repeat='section in sections track by $index' ng-value='section.$id' ) {{section.$id}}
            md-input-container(flex='')
                label {{'article-topic'|translate}}
                input(ng-model='article.topic' name='topic' required)
        div(layout-gt-sm='row' layout-sm='column' layout-align-gt-sm='start center' ng-show='user.isEditor()')
            md-checkbox(ng-model="article.svetRecommends" aria-label="Checkbox")
            span.mdc-display-inline-block.fs-body-2 {{'svetRecommends'|translate}}
        div(layout='column')
            md-input-container(flex='')
                label {{'article-title'|translate}}
                input(ng-model='article.title' type="text" md-maxlength='150' name='title' required )
            md-input-container(flex='')
                label {{'article-summary'|translate}}
                input(ng-model='article.summary' type="text" md-maxlength='250' name='summary' required)
            md-input-container(flex='')
                label {{'article-content'|translate}}
                sv-svet-pad(body='article.body')
        div(layout='row')
            md-input-container(flex)
                label {{'tags'|translate}}
                input(ng-model='article.tags' name='tags' type="text" md-maxlength="100" required)
        div(layout='column' class='mb+')
            span.mdc-display-inline-block.fs-subhead.tc-grey-700(class='mt') {{'upload-img'|translate}}
            //img(ng-src="{{article.img}}")
            sv-image-upload
    .bgc-grey-200.p(layout='row' layout-align="space-around center")
        button.btn.btn--m.btn--teal.btn--flat.tc-teal-300(lx-ripple='' type='submit')
            i.fa.fa-save.fa-fw &nbsp
            | Save
        sv-lumx-button(btn-size="m" btn-color="red" text-color="red-300" btn-type="flat" btn-title="cancel" icon-type="fa"
        icon-name="fa-close" btn-url="app.home"
        method-click='cancelArticle(true)')


