form(name='article' flex-container='column')
	div(flex-item='')
		span.display-block.fs-display-1.txt-fontGrey(class='mt+') New Article
		div.divider.divider--dark(class='mt++ mb++')
	div(flex-container='column')
		span.mdc-display-inline-block.fs-subhead(class='mb+') Выберите Тему: &nbsp
		lx-dropdown(position='left')
			//span.fs-subhead
			button( class="btn btn--l btn--black btn--flat" lx-ripple lx-dropdown-toggle)
				i.mdi.mdi-dots-vertical
				span  {{ctrl.article.section || "Темa / Section"}}
			lx-dropdown-menu
				ul
					li(ng-repeat='s in ctrl.siteSections')
						a.dropdown-link(ng-click='ctrl.setSection(s)') {{s}}
	div(flex-container='row')
		div(flex-item='8')
			lx-text-field(label='Автор Статьи')
				input(type='text', ng-model='ctrl.article.author')
	div(flex-container='row')
		div(flex-item='')
			lx-text-field(label='Date')
				input(ng-model='ctrl.article.date')
	div(flex-container='row')
		div(flex-item='')
			lx-text-field(label='Заголовок Статьи / Title')
				input(ng-model='ctrl.article.title')
	div(flex-container='row')
		div(flex-item='')
			lx-text-field(label='Текст Статьи / Content')
				textarea(ng-model='ctrl.article.body') {{ctrl.article.body}}
	div(flex-container='row')
		div(flex-item='')
			lx-text-field(label='Tags / Теги')
				input(ng-model='ctrl.article.tags')


	div(flex-item='' class='mt++')
		sv-manage-article-nav(article='ctrl.article')
