div.card(flex-container='column' class='p+')
	form(name='article' flex-container='column')
		div(flex-item='')
			span.display-block.fs-display-1.txt-fontGrey(class='mt+') New Article
			div.divider.divider--dark(class='mt++ mb++')
		div(flex-container='column')
			span.mdc-display-inline-block.fs-subhead(class='mb+') Выберите Тему: &nbsp
			lx-dropdown(position='left')
				//span.fs-subhead
				button.tc-blue-grey-400( class="btn btn--l btn--black btn--flat" lx-ripple lx-dropdown-toggle)
					i.mdi.mdi-dots-vertical
					span.fs-subhead {{ctrl.article.section || "Темa / Section"}}
				lx-dropdown-menu
					ul
						li(ng-repeat='s in siteSections')
							a.dropdown-link(sv-section-select-handler="") {{s}}
		div(flex-container='row')
			div(flex-item='8')
				lx-text-field(label='Автор Статьи')
					input.fs-subhead.tc-black-2(type='text', ng-model='ctrl.article.author')
		div(flex-container='row')
			div(flex-item='')
				lx-text-field(label='Date')
					input(ng-model='ctrl.article.date')
		div(flex-container='row')
			div(flex-item='')
				lx-text-field(label='Заголовок Статьи / Title')
					input.fs-subhead.tc-blue-grey-500(ng-model='ctrl.article.title')
		div(flex-container='row')
			div(flex-item='')
				lx-text-field(label='Текст Статьи / Content')
					textarea(ng-model='ctrl.article.body') {{ctrl.article.body}}
		div(flex-container='row')
			div(flex-item='')
				lx-text-field(label='Tags / Теги')
					input.fs-capture.tc-blue-grey-400(ng-model='ctrl.article.tags')
	sv-manage-article-nav(article='ctrl.article')

