form(name='article' flex-container='column')
	//div(flex-item='')
		//sv-manage-article-nav
	div(flex-item='')
		span.display-block.fs-display-1.txt-fontGrey(class='mt+') New Article
		div.divider.divider--dark(class='mt++ mb++')
	div(flex-container='row')
		div(flex-item='8')
			lx-text-field(label='Автор Статьи')
				input(type='text', ng-model='ctrl.article.author')
		div(flex-item='')
			div(class='mt+')
				lx-date-picker(model='datepicker.date', label='Pick a date', locale='en', fixed-label='true', icon='calendar')
	div(flex-container='row' class='m++')
		div(flex-item='')
			lx-dropdown
				div.btn.btn--l.btn--white.btn--raised(lx-ripple='', lx-dropdown-toggle='')
					| {{ctrl.article.section || "Темa / Section"}}
				lx-dropdown-menu
					ul
						li(ng-repeat='s in ctrl.siteSections')
							a(ng-click='ctrl.setSection(s)') {{s}}

	div(flex-container='row')
		div(flex-item='')
			lx-text-field(label='Заголовок Статьи / Title')
				input(ng-model='ctrl.article.title')
	div(flex-container='row')
		div(flex-item='')
			lx-text-field(label='Текст Статьи / Content')
				textarea(ng-model='ctrl.article.body') {{ctrl.article.body}}
	div(flex-container='row')
		div(flex-item='')
			lx-text-field(label='Tags / Теги')
				input(ng-model='ctrl.article.tags')


	div(flex-item='' class='mt++')
		sv-manage-article-nav(article='ctrl.article' datepicker='datepicker')
