div
    form(name='articleForm' ng-submit="saveArticle(false,articleForm.$valid)" flow-init novalidate sv-form-val)
        .bgc-grey-200.p(layout='row' layout-align="space-around center" )
            button.btn.btn--m.btn--teal.btn--flat.tc-teal-300(lx-ripple='' type='submit' id='saveBtn' ng-disabled="articleForm.$pristine")
                i.fa.fa-save.fa-fw &nbsp
                | {{'save-changes'|translate}}
            sv-lumx-button(btn-size="m" btn-color="red" text-color="red-300" btn-type="flat" btn-title="cancel" icon-type="fa"
            icon-name="fa-close" btn-url="app.home"
            method-click='cancelArticle(true)')
        div(class='p+')
            sv-read-txt
        div(class='p+')
            div(layout='row', layout-sm='column' layout-align='end')
                div(layout-gt-sm='row' layout-sm='column' layout-align-gt-sm='start center' ng-if='user.isEditor() && !article.isBlog')
                    md-checkbox(ng-model="article.svetRecommends" aria-label="Checkbox")
                    span.mdc-display-inline-block.fs-body-2 {{'svet-recommends'|translate}}
            div(layout='row', layout-sm='column' layout-align-gt-sm='space-between center')
                md-input-container(flex)
                    label {{'article-author'|translate}}
                    input(ng-model='article.author' sv-author-humanize name='author' required='')
                md-input-container(class='ml' flex='')
                    md-select(name="section" ng-model='article.section' style='margin-bottom:0px' ng-show='sections' required  )
                        md-select-label.tc-teal-400(style='margin-top:4px;padding-top:24px;padding-bottom:0px;text-align:left')
                            i.mdi.mdi-checkbox-marked-outline.mr.mb(style='max-width:22px')
                            | {{article.section?article.section:'article-section'|translate}}
                        md-option(ng-repeat='section in sections track by $index' ng-value='section.$id' id="{{$index}}" style='height:38px')
                            .fs-body-2 {{section.$id|capitalize}}
                md-input-container(flex='')
                    label {{'article-topic'|translate}}
                    input(ng-model='article.topic' sv-url-decode name='topic')
            div(layout='column')
                md-input-container(flex='')
                    label {{'article-title'|translate}}
                    input(ng-model='article.title'  sv-url-decode type="text" md-maxlength='150' name='title' required )
                md-input-container(flex='')
                    label {{'article-summary'|translate}}
                    input(ng-model='article.summary' sv-url-decode  type="text" md-maxlength='300' name='summary')
                md-input-container(flex='')
                    sv-svet-pad(body='article.body' )
            div(layout='column' class='mb+')
                sv-image-upload(sv-max-size='3' sv-min-width='320' sv-min-height='240' )
            div(layout='row')
                md-input-container(flex)
                    label {{'tags'|translate}}
                    input(ng-model='article.tags' sv-url-decode name='tags' type="text" md-maxlength="100")
                //img(ng-src="{{article.img}}")
        //    div(layout='row' class='mb+' layout-align='start center')
        //        md-checkbox(ng-model='user.acceptPolicy' aria-label='terms')
        //        span.tc-grey-700 I accept &nbsp
        //        a
        //            span.tc-grey-900(style='font-weight:600') Terms and conditions about uploading and using images and photo materials
        //    div(layout='row' class='mb+' layout-align='start center')
        //        md-checkbox(ng-model='user.acceptPolicy' aria-label='terms')
        //        span.tc-grey-700 Turn off comments
        .bgc-grey-200.p(layout='row' layout-align="space-around center")
            button.btn.btn--m.btn--teal.btn--flat.tc-teal-300(lx-ripple='' type='submit' id='saveBtn' ng-disabled="articleForm.$pristine")
                i.fa.fa-save.fa-fw &nbsp
                | {{'save-changes'|translate}}
            sv-lumx-button(btn-size="m" btn-color="red" text-color="red-300" btn-type="flat" btn-title="cancel" icon-type="fa"
            icon-name="fa-close" btn-url="app.home"
            method-click='cancelArticle(true)')


