div(flex-container='column' flex)
    .card(class='m')
        sv-one-article-menu
        div(class='p+')
            div
                span.display-block.fs-display-1 {{news.title}}
            div.tc-grey-600
                span.fs-caption Svet Media Group &nbsp
                span.fs-body-1 {{'date'|translate}}: {{news.date}}
            div.tc-grey-600.mb
                span.fs-body-1 {{'author'|translate}}: &nbsp
                span.fs-subhead {{news.author|capitalize}}
            div.atricle-img.mdc-img-bw(class='mb+')
                img(ng-src="{{news.img}}" ng-if='news.title')
            div(class='mb+')
                div(class='mb+ ml' style='float:right;width:200px;height:auto')
                    sv-banner(img-url="../img/ad/ad-promotion/camping-vertical.jpg" link-url="http://www.campeagleridge.com/" alt="Chicago Auditorium Theatre" target='_blank')
                //img.ml.mt(style='display:block;float:right' src="./img/ad/crystal.jpg")
                p(ng-bind-html='news.body').fs-body-2
        sv-one-article-menu

