div
    md-list
        md-list-item(layout-sm='column' layout-align-sm="start" layout-gt-sm='row' layout-align-gt-sm='start start')
            div
                img.img-round(ng-src='{{comment.avatar}}' style='max-width:30px' width="30px" height="30px")
            p.ml.mr {{comment.body}}
            div(layout='row')
                button.btn.btn--s.btn--grey.btn--icon.ml.mr(lx-ripple='' ng-show='isEditable()' )
                    i.fa.fa-edit.fa-fw
                button.btn.btn--s.btn--red.btn--icon.ml.mr(lx-ripple='' ng-click='removeComment()' ng-show='isEditable()' sv-confirm-deletion='comment')
                    i.fa.fa-remove.fa-fw
        md-divider.ml.mr
