div(layout='row')
    sv-lumx-users-dropdown.ml(btn-title="comments" action-counter="5" icon-type='fa' icon-name="fa-comment")
    sv-lumx-users-dropdown.ml(btn-title="shares" action-counter="7"  icon-type='mdi' icon-name="mdi-share-variant")
    sv-lumx-users-dropdown.ml(btn-title="likes" action-counter="9"  icon-type='fa' icon-name="fa-thumbs-up")

