div(layout='column' flex='')
	div.margin-top-8.margin-bottom-10.margin-left-5(flex='')
		sv-article-breadcrumb
	div.margin-top-8.margin-bottom-10.margin-left-5(flex='')
		sv-article-tags
	.light-margin-5(flex='')
		md-card
			md-content.md-padding
				span.fs-display-1.display-block {{ctrl.news.title}}
				span.fs-caption.display-block.margin-bottom-5 Svet Media Group

				div.light-padding-5.margin-bottom-15
					span.display-block.fs-caption Автор: {{ctrl.news.author}}
					span.display-block.fs-caption Дата публикации: {{ctrl.news.date}}

				div(layout='row' layout-align='space-between')
					.margin-bottom-5(flex="80")
						sv-social-share
					div(flex="20")
						span.display-block.text-right.color-subheader(lx-ripple lx-tooltip="Просмотры")
							i.icon.icon--s.icon--flat.mdi.mdi-eye
				div.atricle-img.margin-bottom-15
				img(ng-src="{{ctrl.news.img}}" ng-if='ctrl.news.title')
			md-card-content
				div.light-padding-5.margin-bottom-15
					p.fs-body-2 {{ctrl.news.body}}
	.light-padding-5(flex)
		sv-comments(comments = 'ctrl.news.comments' key='ctrl.news.fbkey')

