div
    .card(class='m p+')
        div(flex-container='column')
            div(class='mb++')
                span.display-block.fs-display-1 {{ctrl.news.title}}
                span.fs-caption.display-block.margin-bottom-5 Svet Media Group
                div(class='mb+')
                    span.display-block.fs-caption Автор: {{ctrl.news.author}}
                    span.display-block.fs-caption Дата публикации: {{ctrl.news.date}}
                div(flex-container='row' flex-align='space-between' class='mb+')
                    sv-social-share
                    span.display-block.text-right.color-subheader(lx-ripple lx-tooltip="Просмотры")
                            i.icon.icon--s.icon--flat.mdi.mdi-eye
                div.atricle-img(class='mb+')
                    img(ng-src="{{ctrl.news.img}}" ng-if='ctrl.news.title')
                div(class='mb+')
                    p.fs-body-2 {{ctrl.news.body}}
    div(flex-container='column')
        sv-comments(comments = 'ctrl.news.comments' key='ctrl.news.fbkey')

