ul.list-unstyled(layout='column')
    li(class="mb" ng-repeat='n in newsList|sectionNews:sectionName|orderBy:"-timestamp"')
        .card(layout-gt-sm="row" layout-sm='column' class='pt pb')
            .p(style='min-width: 100px'  ng-if='n.fbkey')
                a.display-block.text-center.sv-link-visited-image(ui-sref='app.article({id:n.fbkey})' style='text-decoration:none')
                    sv-img-background.sv-img-thumb( sv-image="n.img" style='width:85px;margin:0px auto')
            div(class='ml mr')
                a.tc-grey-800.sv-link-visited(ui-sref='app.article({id:n.fbkey})' style='text-decoration:none')
                    span.display-block.fs-subhead(ng-bind-html='safeParsing(n.title)')
                span.fs-caption.tc-grey-500(ng-bind-html='safeParsing((n.author|authorNameFr))')
                span.display-block.fs-body-1.tc-black-2(ng-bind-html='safeParsing(n.summary)')
                div(layout='row' layout-align='end')
                    button.btn.btn--xs.btn--grey.btn--flat(ui-sref='app.article({id:n.fbkey})' ) {{'read-more'|translate}} >>
