div(flex-container='row')
    img.mdc-img-bw(src="../img/social/fb-share.png" lx-ripple lx-tooltip="Fb")
    img.mdc-img-bw(src="../img/social/google-share.png" lx-ripple lx-tooltip="Google")
    img.mdc-img-bw(src="../img/social/twitter-share.png" lx-ripple lx-tooltip="Twitter" )
    img.mdc-img-bw(src="../img/social/linkedin-share.png" lx-ripple lx-tooltip="Linked In")