div(layout='row')
    img.mdc-img-bw.mr(src="../img/social/fb-share.png" lx-ripple lx-tooltip="Fb")
    img.mdc-img-bw.mr(src="../img/social/google-share.png" lx-ripple lx-tooltip="Google")
    img.mdc-img-bw.mr(src="../img/social/twitter-share.png" lx-ripple lx-tooltip="Twitter" )
    img.mdc-img-bw.mr(src="../img/social/linkedin-share.png" lx-ripple lx-tooltip="Linked In")