.card.p.m
	img(ng-src="{{ctrl.image}}" )
	.fs-caption {{ctrl.mainNews.author}}
	span.display-block.fs-subhead {{ctrl.mainNews.title }};
	span.display-block.fs-body-2 {{ctrl.mainNews.body | length:100}}
