div(ng-if='!loaded' flex-align="center center" flex-container='row')
    md-progress-circular(md-mode='indeterminate' class='md-accent')
div(flex-container='row' ng-if='!!loaded')
    div(flex-item='9' flex-container='column')
        div(flex-container='column' ng-repeat='nt in news ')
            sv-home-main-news(nt='nt')
        sv-news-grid
    div(flex-item='3' flex-container='row' flex-align="center")
        div
            sv-radio-osa
