div(layout='column')
    div(ng-if='!loaded', layout-align='center top', layout='row', flex='')
        md-progress-circular.md-accent(md-mode='indeterminate')
        div LOADING NEWS
    div(layout-sm='column', layout-md='column', layout-gt-md='row', layout-lg='column', layout-gt-lg='column', ng-if='!!loaded')
        div(ng-repeat='nt in news ')
            sv-home-main-news(nt='nt')
        // sv-news-grid
        div(flex='')
            div(layout-gt-sm='row')
                div(flex='', hide-sm='')
                    sv-second-news(second-news='ctrl.nt.n2')
                    sv-second-news(second-news='ctrl.nt.n3')
                div(flex='', hide-sm='')
                    sv-second-news(second-news='ctrl.nt.n2')
                    sv-second-news(second-news='ctrl.nt.n3')
                div(layout='column', flex='33')
                    sv-radio-osa(class='mb+' title="radio" subhead="radio-subhead" body='radio-body')
                    sv-from-the-editor(class='mb+')
// <sv-news-grid ng-if="!!loaded"></sv-news-grid>
