div(layout-sm='column' layout-gt-sm='row' layout-md='row' layout-gt-md='column'  layout-gt-lg='row' layout-fill)
	div(flex='70')
		sv-home-main-news
	div(flex='30' layout='column' layout-fill='')
		md-card
			md-card-content
				span.display-block.fs-subhead
					i.mdi.mdi-microphone &nbsp

					| Radio "OSA"
				span.display-block.fs-body-1.mb Публичный арест главы ГосЧС, прибытие бронемашин из США
				span.display-block.fs-body-1.mb Публичный арест главы ГосЧС, прибытие бронемашин из США
				span.display-block.fs-body-1.mb Публичный арест главы ГосЧС, прибытие бронемашин из США
				span.display-block.fs-body-1.mb Публичный арест главы ГосЧС, прибытие бронемашин из США

