div(flex-container='row')
	div(flex-item='8', flex-item-order='1')
		sv-home-main-news
	div(flex-item='4', flex-item-order='2')
		.card.p.m
			span.display-block.fs-subhead
				i.mdi.mdi-microphone &nbsp
				| Radio "OSA"
			span.display-block.fs-body-1.mb Публичный арест главы ГосЧС, прибытие бронемашин из США
			span.display-block.fs-body-1.mb Публичный арест главы ГосЧС, прибытие бронемашин из США
			span.display-block.fs-body-1.mb Публичный арест главы ГосЧС, прибытие бронемашин из США
			span.display-block.fs-body-1.mb Публичный арест главы ГосЧС, прибытие бронемашин из США

