div(ng-if='!loaded' flex-align="center center" flex-container='row')
	md-progress-circular(md-mode='indeterminate' class='md-accent')
div(flex-container='column' ng-if='!!loaded')
	div(flex-item='9', ng-repeat='nt in news')
		sv-home-main-news(nt='nt')
	div(flex-item='3', flex-item-order='2')
		sv-radio-osa



