div(layout-sm='column' layout-gt-sm='row' layout-md='row' layout-gt-md='column'  layout-gt-lg='row' layout-fill)
	div(flex='60')
		sv-home-main-news
	div(flex='40' layout='column' layout-fill='')
		md-card
			md-card-content
				span.display-block.fs-subhead Итоги 25 марта:
				span.display-block.fs-body-1.mb Публичный арест главы ГосЧС, прибытие бронемашин из США
				span.display-block.fs-body-1.mb Публичный арест главы ГосЧС, прибытие бронемашин из США
				span.display-block.fs-body-1.mb Публичный арест главы ГосЧС, прибытие бронемашин из США
				span.display-block.fs-body-1.mb Публичный арест главы ГосЧС, прибытие бронемашин из США

