div(layout-sm='column' layout-gt-sm='row' layout-md='row' layout-gt-md='column'  layout-gt-lg='row' layout-fill)
	div(flex='66')
		sv-home-main-news
	div(flex='33' layout='column' layout-fill='')
		md-content.md-padding
			ul.mdc-no-margin
				li
					h4.mdc-no-margin-top  Lorem ipsum dolor sit amet, ne quod novum mei.
				li
					h4.mdc-no-margin-top  Lorem ipsum dolor sit amet, ne quod novum mei.
				li
					h4.mdc-no-margin-top  Lorem ipsum dolor sit amet, ne quod novum mei.

