extends layout

block content
    ul.list-inline
        li
            button.btn.btn--teal.btn--xs.btn--raised(lx-ripple='') All Events
        li
            button.btn.btn--teal.btn--xs.btn--raised(lx-ripple='') Public Events
        li
            button.btn.btn--teal.btn--xs.btn--raised(lx-ripple='') Business Events

