.card.p
    a.btn.btn--xs.btn--grey.btn--flat.bgc-grey-300.tc-grey-700(ng-click='cancelAddition()' class='mb++')
        i.fa.fa-arrow-left.mr
        | {{'back-to-my-classified'|translate|capitalize}}
    sv-profile-subhead(subhead-title="new-classified")
    md-divider
    br
    form(name='classifiedForm' novalidate flex-container='column' ng-submit='postClassified(clCopy, classifiedForm.$valid)' sv-form-val)
        div(layout='row', layout-sm='column')
            md-input-container(flex)
                label {{'contact-name'|translate}}
                input(ng-model='clCopy.name' name='name' required='')
            md-input-container(flex)
                label {{'contact-phone'|translate}}
                input(ng-model='clCopy.phone' name='phone' required='')
            md-input-container(flex)
                label {{'contact-email'|translate}}
                input(ng-model='clCopy.email' name='email' required='')
        div(layout='row', layout-sm='column' )
            md-input-container(flex)
                label {{'state'|translate}}
                input(ng-model='clCopy.state' name='state' required='')
            md-input-container.mr(flex)
                label {{'city'|translate}}
                input(ng-model='clCopy.city' name='city' required='')
            div(flex)
                md-select(name="section" ng-model='clCopy.section' required )
                    md-select-label.tc-teal-400(style='margin-top:4px;padding-top:24px;padding-bottom:0px;text-align:left')
                        i.mdi.mdi-checkbox-marked-outline(style='max-width:22px')
                        | {{clCopy.section || 'classified-section'|translate}}
                    md-option(ng-repeat='s in sections track by $index' ng-value='s.$value' ) {{s.$value}}
        div(layout='row', layout-sm='column')
            md-input-container(flex)
                label {{'classified-title'|translate}}
                input(ng-model='clCopy.title' name='title' required='')
        div(layout='row', layout-sm='column')
            md-input-container(flex)
                label {{'classified-description'|translate}}
                textarea.bgc-grey-50(ng-model='clCopy.description'
                rows='3'
                name='description' required='')
        div(layout='row', layout-sm='column')
            md-input-container(flex)
                label {{'price'|translate}}
                input(ng-model='clCopy.price' name='price' required='')
        div(layout='row' layout-align-sm='center center')
            button.btn.btn--s.btn--raised.btn--grey.m( type='submit' lx-ripple value="Post")
                i.mdi.mdi-send.mr
                | {{editState?'save':'post'|translate}}
            button.btn.btn--s.btn--raised.btn--white.m(type='button' lx-ripple ng-click='cancelAddition()')
                i.mdi.mdi-close
                | &nbsp {{'cancel'|translate}}
