div
    div(ng-show='!editState')
        span.mdc-display-inline-block.fs-body-2.mr.tc-grey-800 {{cl[name]|capitalize:first}}
    div(ng-show='!!editState')
        input(name="{{name}}" ng-model='clClone[name]' required)
        div(ng-messages="editClForm[name].$error")
            div(ng-message='editClForm[name].required' style="color:red")
