div.ml.mr
    ul
        li(ng-repeat='cl in cls|orderBy:"-timestamp"|limitTo:1')
            a(ui-sref='app.classified.all')
                sv-one-classified-thumb(cl='cl' widget='true' is-home='isHome')