div(sv-animate-on-change='cl')
    div(class='ml++ mr++ mt+ mb+')
        span.mdc-display-inline-block.fs-title.mr.tc-grey-800 {{cl.title|capitalize:first}}
        span.fs-subhead.tc-grey-600 ({{cl.state}}, {{cl.city}})
        div(layout='row' layout-align='start center')
            span.fs-cuption.tc-grey-600.display-block.mr {{cl.timestamp|date}}
            a.fs-caption.tc-grey-700.bgc-grey-300.display-block(style="padding: 2px 4px; border-radius:3px;cursor:pointer") {{cl.section}}
        span.fs-body-2.tc-grey-700.display-block {{cl.description}}
    .bgc-grey-100(layout-sm='column' layout-gt-sm='row' layout-align='space-between center' ng-show="!widget" class='pl++ pr++ pt+ pb+')
        div
            span.fs-caption.tc-grey-600.mr Contact Info:
            span.mdc-display-inline-block.fs-caption.tc-grey-800.mr Name: {{cl.name}},
        div
            span.mdc-display-inline-block.fs-caption.tc-grey-800.mr Phone: {{cl.phone}},
        div
            span.mdc-display-inline-block.fs-caption.mr Email: {{cl.email}}
