div
    a.btn.btn--xs.btn--grey.btn--flat(ng-click='cancelAddition()' class='mb++' ng-show='addState || editState')
        i.fa.fa-arrow-left.mr
        | {{'back-to-my-classified'|translate|capitalize}}
    .card.mb(ng-show='addState || editState')
        sv-add-classified-form
    div(ng-show='!addState && !editState')
        .mb(layout='row', layout-align='space-between')
            sv-add-classified-btn
            sv-classified-bonus
        .div(ng-show='!!cls' layout="column")
            sv-zero-length-notice(list='cls' owner-field='userKey' item='classifieds')
            div(ng-repeat='cl in cls|userCls|orderBy:"-timestamp"')
                sv-one-classified-thumb(cl="cl" remove-cl="removeCl(cl)" edit-cl="editCl(cl)")
