div
    md-tabs.tabs-classified.tc-black-2(md-selected='selectedIndex', md-border-bottom='' md-dynamic-height )
        md-tab.tc-black-2.fs-caption(ng-repeat='tab in tabs', label='{{tab.title|translate}}' md-on-select='switchTab()' md-active='isActive(tab.route)')
            div(ui-view='')


