.card.p
    span.display-block.fs-headline
        i.mdi.mdi-tag-faces.mr
        |Bonuses:
    span.display-block.fs-body-2.tc-red-200.mb You can Post 3 Classified for Free
    button.btn.btn--m.btn--raised.btn--white.bgc-grey-200.mb(lx-ripple="") Start Posting Classified Now
