div
    md-tabs(md-selected='selectedIndex', md-border-bottom='' md-dynamic-height)
        md-tab.sv-tabs(md-stretch-tabs="always")
            md-tab-label {{'all'|translate}}
            md-tab-body
                div(ng-repeat="cl in allCls|clType:tabs[selectedIndex].title|orderBy:'-timestamp'")
                    sv-one-classified-thumb(cl='cl')
        md-tab.sv-tabs(md-stretch-tabs="always")
            md-tab-label {{'community'|translate}}
            md-tab-body
                div(ng-repeat="cl in allCls|clType:tabs[selectedIndex].title|orderBy:'-timestamp'")
                    sv-one-classified-thumb(cl='cl')
        md-tab.sv-tabs(md-stretch-tabs="always")
            md-tab-label {{'job'|translate}}
            md-tab-body
                div(ng-repeat="cl in allCls|clType:tabs[selectedIndex].title|orderBy:'-timestamp'")
                    sv-one-classified-thumb(cl='cl')
        md-tab.sv-tabs(md-stretch-tabs="always")
            md-tab-label {{'lessons'|translate}}
            md-tab-body
                div(ng-repeat="cl in allCls|clType:tabs[selectedIndex].title|orderBy:'-timestamp'")
                    sv-one-classified-thumb(cl='cl')
        md-tab.sv-tabs(md-stretch-tabs="always")
            md-tab-label {{'housing'|translate}}
            md-tab-body
                div(ng-repeat="cl in allCls|clType:tabs[selectedIndex].title|orderBy:'-timestamp'")
                    sv-one-classified-thumb(cl='cl')
        md-tab.sv-tabs(md-stretch-tabs="always")
            md-tab-label {{'sale'|translate}}
            md-tab-body
                div(ng-repeat="cl in allCls|clType:tabs[selectedIndex].title|orderBy:'-timestamp'")
                    sv-one-classified-thumb(cl='cl')
        md-tab.sv-tabs(md-stretch-tabs="always")
            md-tab-label {{'services'|translate}}
            md-tab-body
                div(ng-repeat="cl in allCls|clType:tabs[selectedIndex].title|orderBy:'-timestamp'")
                    sv-one-classified-thumb(cl='cl')
        md-tab.sv-tabs(md-stretch-tabs="always")
            md-tab-label {{'personal'|translate}}
            md-tab-body
                div(ng-repeat="cl in allCls|clType:tabs[selectedIndex].title|orderBy:'-timestamp'")
                    sv-one-classified-thumb(cl='cl')
        md-tab.sv-tabs(md-stretch-tabs="always")
            md-tab-label {{'cars'|translate}}
            md-tab-body
                div(ng-repeat="cl in allCls|clType:tabs[selectedIndex].title|orderBy:'-timestamp'")
                    sv-one-classified-thumb(cl='cl')



