.card.p
    span.display-block.fs-headline
        i.mdi.mdi-tag-faces.mr
        | {{'bonuses'|translate}}:
    span.display-block.fs-body-2.tc-red-200.mb {{'free-classified'|translate}} {{'classified'|translate}}
    button.btn.btn--m.btn--raised.btn--white.bgc-grey-200.mb(lx-ripple="") {{'start-posting-classified'|translate}}
