.card
	lx-tabs
		lx-tab(heading='Община')
			p(class='p+') Here are classified for community
		lx-tab(heading='Продается')
			p(class='p+') Here are classified for sale
		lx-tab(heading='Работа')
			p(class='p+') Here are classified for jobs
		lx-tab(heading='Услуги')
			p(class='p+') Here are classified for services
		lx-tab(heading='Недвижимость')
			p(class='p+') Here are classified for housing
		lx-tab(heading='Авто')
			p(class='p+') Here are classified for cars
		lx-tab(heading='Знакомства')
			p(class='p+') Here are classified for personal

