div(layout='column' layout-fill flex)
	md-card
		md-card-content
			div(layout-sm='column' layout-gt-sm='row' layout-gt-lg='column' layout-fill flex)
				div(flex='')
					span.display-block
					lx-text-field(label='Контактное Имя', icon='account', fixed-label='true')
						input(type='text', ng-model='textFields.firstName')
				div(flex='')
					span.display-block
					lx-text-field(label='Электронный Адрес', icon='email', fixed-label='true')
						input(type='email', ng-model='textFields.firstEmail')
			div(layout-sm='column' layout-fill flex)
				div(flex='')
					span.display-block
					lx-text-field(label='Контактный Телефон', icon='phone', fixed-label='true')
						input(type='email', ng-model='textFields.secondEmail')
			div(layout-sm='column' layout-gt-sm='row' layout-fill flex)
				div(flex='')
					span.display-block
					lx-text-field(label='Страна')
						input(type='text', ng-model='textFields.fixedAdress')
				div(flex='')
					span.display-block
					lx-text-field(label='Город')
						input(type='text', ng-model='textFields.fixedAdress')
				div(flex='')
					span.display-block
					lx-text-field(label='Штат')
						input(type='text', ng-model='textFields.fixedAdress')
			div(layout-sm='column' layout-fill flex)
				div(flex='')
					span.display-block
					lx-text-field(label='Заголовок Объявления')
						input(ng-model='textFields.description')
				div(flex='')
					span.display-block
					lx-text-field(label='Цена Товара / Услуги')
						input(ng-model='textFields.description')
			div(layout-sm='column' layout-fill flex  class='mb++')
				div(flex='')
					span.display-block
					lx-text-field(label='Описание')
						textarea(ng-model='textFields.description')
			div.mt(layout-sm='column' layout-gt-sm='row' layout-fill flex layout-align='start')
				button.btn.btn--s.btn--raised.btn--white.m(lx-ripple)
					i.mdi.mdi-content-save-all
					| &nbsp Сохранить Темплейт
				button.btn.btn--s.btn--raised.btn--white.m(lx-ripple)
					i.mdi.mdi-content-save
					| &nbsp Сохранить Изменения
				button.btn.btn--s.btn--raised.btn--white.m(lx-ripple)
					i.mdi.mdi-send
					| &nbsp Разместить
