div(flex-container='column')
    form(name='classifiedForm' novalidate flex-container='column' ng-submit='postClassified()')
        div(class='mt++', flex-container='row', flex-gutter='24')
            div(flex-item='')
                lx-text-field(label='Контактное Имя', fixed-label='true', icon='account' error='isInvalid("name")')
                    input(type='text', ng-model='cl.name' required name='name')
                lx-text-field(label='Контактный Телефон', fixed-label='true', icon='phone')
                    input(type='text', ng-model='cl.phone')
                lx-text-field(label='Электронный Адрес', fixed-label='true', icon='email')
                    input(type='email', ng-model='cl.email')
        div(flex-container='row' class='m++')
            div(flex-item='')
                lx-dropdown
                    div.btn.btn--l.btn--white.btn--raised(lx-ripple='', lx-dropdown-toggle='')
                       | {{cl.section.$value || "Select a Category"}}
                    lx-dropdown-menu
                        ul
                            li(ng-repeat='s in sections')
                                a.dropdown-link(ng-click='selectDropDown(s)') {{s.$value}}

        div(flex-container='row', flex-gutter='24')
            div(flex-item='')
                lx-text-field(label='City')
                    input(type='text', ng-model='cl.city' )
        div(flex-container='row')
            div(flex-item='')
                span.display-block
                lx-text-field(label='Заголовок Объявления' required)
                    textarea(ng-model='cl.title')
        div(flex-container='row')
            div(flex-item='')
                span.display-block {{cl.description}}
                lx-text-field(label='Цена Товара / Услуги')
                    input(ng-model='cl.price' required)
        div(flex-container='row')
            div(flex-item='')
                input.btn.btn--s.btn--raised.btn--white.m( type='submit' lx-ripple value="Post")
            div(flex-item='' ng-click='cancelAddition()')
                button.btn.btn--s.btn--raised.btn--white.m(lx-ripple)
                    i.mdi.mdi-send
                    | &nbsp Cancel
