div
    .mb(layout='row', layout-align='space-between')
        sv-add-classified-btn(cls = 'cls')
        sv-classified-bonus(cls = 'cls')
    .card.p
        span.display-block.fs-subhead.tc-grey-700 {{'no-classified-yet'|translate}}

