div
    div(ng-show='addState')
        sv-post-classified-form
    div(ng-show='!addState')
        .mb(layout='row', layout-align='space-between')
            sv-add-classified-btn
            sv-classified-bonus
        .card.p(ng-show='!cls')
            span.display-block.fs-subhead.tc-grey-700 {{'no-classified-yet'|translate}}
        .div(ng-show='!!cls')
            .card.mb.p(ng-repeat='c in cls' layout-gt-sm="row" layout-align-gt-sm='space-between center')
                div
                    a(href="#" style='cursor:pointer;')
                        span.mdc-display-inline-block.fs-body-2.mr.tc-grey-800 {{c.title|capitalize:first}}
                        span.mdc-display-inline-block.tc-grey-700(style='border:#E0E0E0 1px solid;padding: 1px 4px') ${{c.price}}
                    div
                        .mdc-display-inline-block.mr.tc-grey-500
                            i.mdi.mdi-calendar-today(style="margin-right:2px")
                            span.fs-caption.tc-grey-500 {{c.timestamp|date}}
                        span.mdc-display-inline-block.fs-caption.tc-grey-800.mr {{c.state}}, {{c.city}}
                        .mdc-display-inline-block.mr
                            a.fs-caption.tc-grey-800.bgc-grey-300(style="padding: 2px 4px; border-radius:3px;cursor:pointer") {{c.section}}
                button.btn.btn--s.btn--white.btn--raised(lx-ripple='' ng-click='removeCls(c)')
                    i.mdi.mdi-account-remove.mr
                    | {{'delete'|translate}}

