sv-profile-header(header-title='activity-events')
div(layout='row')
    button.btn.btn--m.btn--red.btn--raised.bgc-red-300(lx-ripple='' ui-sref='app.manager.create-event')
        i.mdi.mdi-plus
        |Create an Event
    sv-event-btn