sv-profile-header(header-title='activity-events')






















h4 Svet Connection Events
div(ng-if='!corporates.length') No events registered
ul.list-unstyled(ng-if='corporates.length')
    li(ng-repeat='e in corporates')
        div {{e.title}}

h4 Svet Public Events
div(ng-if='!publicEvts.length') No events registered
ul.list-unstyled(ng-if='publicEvts.length')
    li(ng-repeat='p in publicEvts')
        div {{p.event}}

div(layout='row')
    sv-create-event-btn