md-dialog(style='min-width:40%;min-height: auto')
    div.bgc-grey-200(layout="row" layout-align='space-between center' class='p+')
        span.fs-headline.mt.mb {{'recovery-header'|translate}}
        button.btn.btn--s.btn--icon.btn--grey(ng-click='hide()')
            i.mdi.mdi-close &nbsp
    md-dialog-content.p(style='padding:0px')
        form.m(name="passwordRecoveryForm"  novalidate sv-form-val)
            md-input-container(class='mb+')
                label {{'email-recovery'|translate}}
                input(name="email" type='text', ng-model='user.email' required)
            div(class='mb+')
                button.btn.btn--s.btn--raised.btn--white(lx-ripple ng-click='sendPasswordRecovery(user.email)' id="svetLoginBtn")
                    i.mdi.mdi-login &nbsp
                    | {{'send-temp-pass'|translate}}

