sv-profile-header(title='my-classified')
div.mb(layout='row' layout-align='space-between')
    sv-add-classified-btn
    sv-classified-bonus
div(layout='row' )
    div(flex)
        .card.p
            sv-user-classified