div
    ul.list-inline
        li.active
            a.dropdown-link(ui-sref='app.reader.profile' )
                i.mdi.mdi-account &nbsp
                | {{'reader-profile'|translate}}
        li
            a.dropdown-link(ui-sref='app.reader.subscriptions')
                i.mdi.mdi-email &nbsp
                | {{'subscriptions'|translate}}
    div(ui-view='')
