div
	p Регистрация

	form(name="registerForm" layout='column')
		div
			input(type='txt' placeholder='login' ng-model='signUp.user.email')
		div
			input(type='password' placeholder='password' ng-model='signUp.user.pass')

		md-button(ng-click='signUp.createAccount()') Зарегистрироваться

	div
		a(ui-sref='app.svet-login') Войти
