div(layout='row' layout-align='center')
	div(flex-sm='' flex-gt-sm='60' flex-gt-md='80' flex-gt-lg='50')
		sv-login-form(header-title='login-title' email='email' password='password' login='login' register-account='register-account' new-user='new-user')

