div(layout flex layout-align='center')
	md-card(flex='50')
		md-card-content
			span.display-block.fs-display-1.mb Log In to Your Account
			md-divider
			form.mt(layout='column' name="loginForm" layout-gt-sm='row' layout-gt-lg='column' layout-fill flex)
				div(flex='')
					lx-text-field(label='Email / Электронный Адрес', icon='email', fixed-label='true')
						input(type='email', ng-model='login.user.email')
				div(flex='')
					lx-text-field(label='Password / Пароль', icon='lock', fixed-label='true')
						input(type='password', ng-model='login.user.pass')
				div
					md-button.md-primaryr(ng-click='login.singIn()' class="mt++") Войти
			md-divider(class='mt+++')
			div(class='mt')
				a(ui-sref='app.sign-up') Зарегистрироваться
