div(layout='row' layout-align="center center")
    lx-dropdown(position='right')
        i.icon.icon--xl.icon--grey.tc-grey-800.bgc-grey-200.icon--circled.mdi.mdi-bell.sv-notificatios-icon( lx-dropdown-toggle)
        lx-dropdown-menu
            div(ng-if='user.notifications.length')
                ul
                    li(ng-repeat='n in user.notifications')
                        a.dropdown-link
                            span.display-inline-block.fs-body-2 {{n.title || n.note}}
                    li.dropdown-divider
                ul.bgc-grey-100
                    li
                        a.dropdown-link.tc-grey-500
                            i.mdi.mdi-view-list.mr
                            span.fs-body-1 {{'all-notifications'|translate}}
