div(layout='column' layout-align="center center" ng-if='user')
    lx-dropdown(position='right')
        i.icon.icon--xl.icon--grey.tc-grey-800.bgc-grey-200.icon--circled.mdi.mdi-bell.sv-notificatios-icon( lx-dropdown-toggle)
            a.btn.btn--xs.btn--grey.btn--fab.btn-flat.bgc-red-300(style='position:relative;left:-10px;bottom:-6px' ng-show='unopened')
                span.fs-caption {{unopened}}
        lx-dropdown-menu
            div(ng-show='!unopened')
                div No unread notifications
            div(ng-show='unopened')
                button(ng-click='markAllOpened()') Mark All Opened
                ul
                    li(ng-repeat='n in user.notifications|noticeStatus:false')
                        a.dropdown-link
                            span.display-inline-block.fs-body-2 {{n.note}}
                        .dropdown-divider
                    li.bgc-grey-100
                        a.dropdown-link.tc-grey-500(ng-click='showAll()')
                            i.mdi.mdi-view-list.mr
                            span.fs-body-1 {{'all-notifications'|translate}}
