div(ng-if='user' style='height:30px')
    lx-dropdown(position='right' width='250px' sv-notice-icon)
        div(lx-dropdown-toggle )
            i.icon.icon--s.icon--red.icon--circled.bgc-red-300(id='svi')
                span.fs-caption {{unopened}}
        lx-dropdown-menu
            div(layout="row" layout-align="space-between center" style='padding:0px 8px;border-bottom:1px #BDBDBD dotted')
                div
                    span.fs-title {{'notifications'|translate}}
                div
                    a.btn.btn--flat.btn--xs.btn--grey.tc-grey-500(ng-click='markAllOpened()' ng-show='unopened')
                        i.mdi.mdi-check-all.mr
                        span.fs-body-1 Mark All as Read
            div.p(ng-show='!unopened')
                div No unread notifications
            ul
                li.p(ng-repeat='n in user.notifications|noticeStatus:false' ng-show='unopened' style='border-bottom:1px #BDBDBD dotted')
                    div.bgc-grey-100(layout="row" layout-align='space-between center')
                        p.fs-caption {{n.note}}
                        button.btn.btn--xs.btn--white.btn--fab.tc-red-500(lx-ripple='')
                            i.mdi.mdi-check(style='font-weight:bold')
            ul(style='margin:16px 8px 12px')
                li(layout="row" layout-align="space-between center")
                    div
                        a.btn.btn--flat.btn--xs.btn--grey.tc-grey-500(ng-click='showAll()')
                            i.mdi.mdi-view-list.mr
                            span.fs-body-1 {{'all-notifications'|translate}}
