div(layout='column')
    sv-profile-header(header-title='technology')
    div(layout-sm='column' layout-gt-sm='row')
        div(flex)
            sv-section-news(section-name='Политика')
        div(flex)
            div(layout='column' layout-align='top center')
                sv-radio-osa(class='mb+' title="radio" subhead="radio-subhead" body='radio-body')
