div
    div(flex-container='row')
        div(flex-item='' hide)
            input.btn.btn-white(id='primaryButton' type='file', flow-btn='' aria-label='image upload' lx-tooltip="Tooltip")
    div(flex-container='row')
        div(flex-item='')
            button.btn.btn--s.btn--grey.btn--raised.bgc-grey-300.tc-grey-800( lx-tooltip="Tooltip" type="button" class='mr+' lx-ripple=''  id='secondaryButton' onclick="document.getElementById('primaryButton').click()")
                i.mdi.mdi-file-image &nbsp
                | {{'choose-image'|translate}}
            div(ng-if='ad.img')
                img(ng-src='{{ad.img}}')
                button.btn.btn--m.btn--white.btn--raised.tc-red-300(type='button' lx-ripple ng-click='$flow.files.length=0;ad.img=null' )
                    i.mdi.mdi-close &nbsp
                    | {{'remove-image'|translate}}
