div.pl.pr(style='max-width:100%; position:relative; height:100%')
    img.mdc-img-bw(ng-src="{{ads[adIndex].banner}}").svet-corporate
    div(layout='row' style='position:relative; top:-70px' layout-align='space-between center')
        div
            a.tc-white-2(lx-ripple='' ng-click="showPrevAd()" style='cursor:pointer')
                i.fa.fa-chevron-left.fa-2x
        div()
            a.tc-white-2(lx-ripple='' ng-click='showNextAd()' style='cursor:pointer')
                i.fa.fa-chevron-right.fa-2x
