div(flow-init='')
    div.bgc-grey-200(class='pl+ pr+ pt+ pb')
        sv-profile-subhead(subhead-title="my-ad-campaign")
    form(class='p+' name='adForm' novalidate ng-submit='addBusinessAd(ad,$flow.files[0],adForm.$valid)' sv-form-val)
        md-input-container
            label {{'campaign-name'|translate}}
            input(type='text' ng-model='ad.name' name='name' required )
        md-input-container(ng-if='user.isManager()')
            md-select(ng-model='ad.customerUserName' name="customerUserName"  required="")
                md-select-label {{ad.customerUserName?ad.customerUserName:'Select Customer'}}
                md-option(ng-repeat='customer in customers' ng-value='customer.profile.userName' ) {{customer.profile.userName}}
            div(ng-messages='statusForm.status.$error')
                div(ng-message='required') Required
        div(class='mb+')
            sv-image-upload()
        div(class='mb+') span.fs-subhead.display-block Current Campaign Banner:
            img(ng-src="{{ad.banner}}")
        div(class='mb+')
            button.btn.btn--s.btn--raised.btn--white.m( type='submit' lx-ripple value="Save" ng-if='id' )
                i.mdi.mdi-send.mr
                | {{'save changes'|translate}}
            button.btn.btn--s.btn--raised.btn--white.m( type='submit' lx-ripple value="Save" ng-if='!id')
                i.mdi.mdi-send.mr
                | {{'post'|translate}}
            button.btn.btn--s.btn--raised.btn--white.m(type='button' lx-ripple ng-click='cancelAddition()' ui-sref="^")
                i.mdi.mdi-close.mr
                | {{'cancel'|translate}}
