div(flow-init='')
    div.bgc-grey-200(class='pl+ pr+ pt+ pb mb+')
        sv-profile-subhead(subhead-title="my-ad-campaign")
    form(name='adForm' novalidate ng-submit='addBusinessAd(ad,$flow.files[0],adForm.$valid)' sv-form-val)
        md-input-container.pl.pr
            label {{'campaign-name'|translate}}
            input(type='text' ng-model='ad.name' name='name' required )
        md-input-container.pl.pr(ng-if='user.isManager()')
            div(flex-item='')
                md-select(ng-model='ad.customer')
                    md-select-label {{ad.customer?ad.customer:'Select Customer'}}
                    md-option(ng-repeat='customer in customers' ng-value='customer' ) {{customer.profile.userName}}
        div(class='mb+ pl pr')
            sv-image-upload()
        div(class='mb+' pl pr)
            span.fs-subhead.display-block.pl.pr Current Campaign Banner:
            img(ng-src="{{ad.banner}}")
        div.bgc-grey-100(class='pl+ pr+ pt+ pb' layout="row")
            button.btn.btn--s.btn--raised.btn--white.tc-teal-300.m( type='submit' lx-ripple value="Save" ng-if='id' )
                i.fa.fa-save.mr
                | {{'save changes'|translate}}
            button.btn.btn--s.btn--raised.btn--grey.m( type='submit' lx-ripple value="Save" ng-if='!id')
                i.mdi.mdi-send.mr
                | {{'post'|translate}}
            button.btn.btn--s.btn--raised.btn--white.m(type='button' lx-ripple ng-click='cancelAddition()' ui-sref="^")
                i.mdi.mdi-close.mr
                | {{'cancel'|translate}}
