.card
	lx-tabs
		lx-tab(heading='Политика')
			p(class='p+') Here are my articles about politics
		lx-tab(heading='Мы и Деньги')
			p(class='p+') Here are my articles about money
		lx-tab(heading='Культура')
			p(class='p+') Here are my articles about culture
		lx-tab(heading='Общество')
			p(class='p+') Here are my articles about society
		lx-tab(heading='Мир')
			p(class='p+') Here are my articles about world

