div(layout='column')
    sv-profile-header(title='Общество')
    div(layout='row')
        div(flex-sm="100" flex-gt-sm='50')
            sv-section-news(section-name='Общество')
        div(flex-sm="100" flex-gt-sm='50')
            div(layout='row' layout-align='center')
                sv-radio-osa

