.card(class='mb++')
    .bgc-grey-200.p
        span.display-block.fs-headline.m SVET Russian Media Group
    md-divider
    .p.ml.mr
        span.display-block.fs-body-1.mt 900 Skokie Blvd., Suite 103,
        span.display-block.fs-body-1 Northbrook, IL 60062
        span.display-block.fs-body-1
            i.mdi.mdi-phone
            | &nbsp (847)715-9407
        span.display-block.fs-body-1
            i.mdi.mdi-deskphone
            | &nbsp (847)715-9677
        span.display-block.fs-body-1
            i.mdi.mdi-email
            | &nbsp manager@svet.com

