.card
	.toolbar
		.toolbar__left(class='mr++')
			button.btn.btn--l.btn--grey.tc-grey-700.btn--icon( ui-sref='app.author-dashboard' lx-ripple='')
				i.mdi.mdi-home
			button.btn.btn--l.btn--grey.tc-grey-700.btn--icon( ui-sref='app.author-articles' lx-ripple='')
				i.mdi.mdi-file-document-box
		span.toolbar__label
		.toolbar__right
			lx-search-filter(closed='', theme='light')
			lx-dropdown(position='right', from-top='')
				button.btn.btn--l.btn--grey.tc-grey-700.btn--icon(lx-ripple='', lx-dropdown-toggle='')
					i.mdi.mdi-dots-vertical
				lx-dropdown-menu
					ul
						li
							a.dropdown-link Action
						li
							a.dropdown-link Another action
						li
							a.dropdown-link Something else here
						li.dropdown-divider
						li
							a.dropdown-link.dropdown-link--is-header Header
						li
							a.dropdown-link Separated link
//.card
//	.toolbar.m
//		.toolbar__left(class='m')
//			sv-nav-link(url='app.author-dashboard' title='Home' icon='home')
//			sv-nav-link( url='app.author-dashboard' title='My Articles' icon='file-document-box')
//		.toolbar__right(class='m')
//			sv-nav-btn(url='app.create-article', title='New Article', icon='plus', color='white', btn-style="raised")
