div(layout='row' layout-align="end center")
	div(ng-if='!user')
		.fab.l
			button.fab__primary.btn.btn--l.bgc-indigo-300.btn--fab(lx-ripple='' class='mr+')
				i.mdi.mdi-account
				i.mdi.mdi-login(style='color:white !important')
			.fab__actions(ng-class="{'fab__actions--left':ctrl.gtSm,'fab__actions--down':ctrl.sm}")
				button.btn.btn--s.btn-blue.btn--fab(lx-ripple='' ng-click='ctrl.loginSvetUser("facebook")')
					i.mdi.mdi-facebook
				button.btn.btn--s.btn--fab(lx-ripple='' ng-click='ctrl.loginSvetUser("google")')
					i.mdi.mdi-google-plus
				a.btn.btn--s.btn--fab(lx-ripple='' ui-sref='app.svet-login')
					span.txt-svet-red S
	div(ng-if='!!user')
		.fab.l
			button.fab__primary.btn.btn--xl.btn--indigo.btn--fab(lx-ripple='')
				img(ng-src="{{user.avatar}}")
			.fab__actions.fab__actions--down
				button.btn.btn--s.bgc-indigo-300.btn--fab(lx-ripple=''  ng-click='ctrl.logout()' style='color:white !important')
					i.mdi.mdi-logout

