div(layout='row' layout-align="center center")
	div(ng-if='!user')
		.fab.ml
			button.fab__primary.btn.btn--m.bgc-indigo-300.btn--fab(lx-ripple='' )
				i.mdi.mdi-account
				i.mdi.mdi-login(style='color:white !important')
			.fab__actions.fab__actions--left
				button.btn.btn--l.btn-blue.btn--fab(lx-ripple='' ng-click='ctrl.loginSvetUser("facebook")')
					i.mdi.mdi-facebook
				button.btn.btn--l.btn--fab(lx-ripple='' ng-click='ctrl.loginSvetUser("google")')
					i.mdi.mdi-google-plus
				button.btn.btn--l.btn--fab(lx-ripple='' ng-click='ctrl.loginSvetUser("")')
					span.txt-svet-red S
	div(ng-if='!!user')
		.fab.ml
			button.fab__primary.btn.btn--xl.btn--indigo.btn--fab(lx-ripple='')
				img(ng-src="{{user.avatar}}")
			.fab__actions.fab__actions--down
				button.btn.btn--l.bgc-indigo-300.btn--fab(lx-ripple=''  ng-click='ctrl.logout()' style='color:white !important')
					i.mdi.mdi-logout

