div(layout='row' layout-align='space-between' layout-margin='')
	div(layout='row' flex='')
		sv-nav-link(url='app.author-dashboard' title='Home' icon='home')
		sv-nav-link( url='app.author-dashboard' title='My Articles' icon='file-document-box')
	div.text-right(flex='')
		sv-nav-btn(url='app.create-article', title='New Article', icon='plus', color='grey')
