.card.bgc-grey-100.top-profile-nav(flex-container='row' flex-align="space-between center" )
	div
		button.btn.btn--m.btn--grey.tc-grey-700.btn--icon( ui-sref='app.svet-profile.author-dashboard' lx-ripple='' lx-tooltip="{{'author-dashboard'|translate}}" class='mr')
			i.mdi.mdi-home
		button.btn.btn--m.btn--grey.tc-grey-700.btn--icon( ui-sref='app.svet-profile.author-articles' lx-ripple='' lx-tooltip="{{'author-articles'|translate}}" class='mr')
			i.mdi.mdi-view-list &nbsp
		button.btn.btn--m.btn--grey.tc-grey-700.btn--icon( ui-sref='app.svet-profile.author-drafts' lx-ripple='' lx-tooltip="{{'author-drafts'|translate}}"  class='mr')
			i.mdi.mdi-file &nbsp
	div
		lx-search-filter(closed='', theme='light', position='left')
