.data-table-container
    table.data-table.data-table--has-primary.data-table--has-secondary
        tbody
            tr.data-table__clickable-row.bgc-grey-100.pt(layout='row' style="border-bottom: 1px #E0E0E0 solid")
                td(flex='20')
                    span.fs-caption
                        strong User Name
                td(flex)
                    span.fs-caption
                        strong Request
                td
                    i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-check
                td
                    i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-minus-circle
            tr.data-table__clickable-row(layout='row')
                td(flex='20')
                    span.fs-caption User Name
                td(flex)
                    span.fs-caption Business Account Request
                td
                    input(type="radio")
                td
                    input(type="radio")


