.data-table-container.card(class='pb+++')
    table.data-table.data-table--has-primary.data-table--has-secondary
        tbody
            tr.data-table__clickable-row.pt(layout='row' style="border-bottom: 1px #EEEEEE dotted" ng-repeat='u in users' layout-align="space-between center")
                td(flex='10')
                    span.fs-caption Date
                td(flex='')
                    span.fs-caption.mr
                        strong {{u.fname}}
                    span.fs-caption
                        strong {{u.lname}}
                td(flex='40')
                    button.btn.btn--l.btn--green.tc-green-800.btn--flat.mr(lx-ripple='' ng-click='accept(u)')
                        i.mdi.mdi-check.mr
                        span.fs-caption Accept
                    button.btn.btn--l.btn--red.tc-red-400.btn--flat(lx-ripple='' ng-click='reject(u)')
                        i.mdi.mdi-minus-circle.mr
                        span.fs-caption Reject


