.data-table-container
    table.data-table.data-table--has-primary.data-table--has-secondary
        tbody
            tr.data-table__clickable-row(layout='row')
                td
                    span.fs-caption User Name
                td(flex)
                    span.fs-caption Business Account Request
                td
                    i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-check
                td
                    i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-minus-circle
            tr.divider.divider--dark
            tr.data-table__clickable-row(layout='row')
                td
                    span.fs-caption User Name
                td(flex)
                    span.fs-caption Business Account Request
                td
                    i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-check
                td
                    i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-minus-circle
