.data-table-container
    table.data-table.data-table--has-primary.data-table--has-secondary
        tbody
            tr.data-table__clickable-row.bgc-grey-100.pt(layout='row' style="border-bottom: 1px #E0E0E0 solid" ng-repeat='u in users')
                td(flex='20')
                    span.fs-caption
                        strong {{u.fname}}
                td(flex='20')
                    span.fs-caption
                        strong {{u.lname}}
                td(flex='20')
                    span.fs-caption
                        strong {{u.password.email}}
                td(flex)
                    md-button(ng-click='accept(u)')
                        i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-check
                        span Accept
                td(flex)
                    md-button(ng-click='reject(u)')
                        i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-minus-circle
                        span Reject


