div
    md-tabs(md-selected='selectedIndex', md-border-bottom='' md-center-tabs='true' no-pagination='false' stretch-tabs='always')
        md-tab.sv-tabs.sv-tab-dashboard(ng-repeat='tab in tabs', label='{{tab.title|translate}}' )
            md-content(class='tab{{$index%4}}', style='text-align: center;')
                div.p(ng-include='tab.content' class='mt++')
