div
    .card.mb.p(ng-repeat='e in svetEvents|orderBy:"-$id"|eventsType:eventFilter' layout-gt-sm="row" layout-sm='column' layout-align-gt-sm="space-between center")
        div.mb
            span.display-block.fs-body-2 {{e.title}}
            span.display-block.fs-caption {{e.startDate}}
        lx-dropdown(position='left')
            //span.fs-subhead
            button.btn.btn--s.btn--white.btn--raised.tc-black-2(lx-ripple lx-dropdown-toggle)
                i.mdi.mdi-account-check.mr
                | {{'registered-users'|translate}}
            lx-dropdown-menu
                ul(ng-repeat='customer in e.customers')
                    li
                        a.dropdown-link
                            img.img-round.mdc-display-inline-block.mr(ng-src="{{customer.avatar}}" style='width:20px;height:20px')
                            span.display-inline-block.fs-body-2 {{customer.name}} {{customer.fname}} {{customer.lname}}
                    li.dropdown-divider
                ul.bgc-grey-100
                    li
                        a.dropdown-link.tc-grey-500
                            i.mdi.mdi-view-list.mr
                            span.fs-body-1 {{'all-registered-users'|translate}}

