div
    button.btn.btn--s.btn--raised.btn--grey.btn-social-login.bgc-grey-700.tc-white-1.mr.ml
        span.btn-social-login-icon
            i.fa.fa-facebook.fa-fw
        span(class="pr+ pl") Facebook
    button.btn.btn--s.btn--raised.btn--grey.btn-social-login.bgc-grey-700.tc-white-1.mr.ml
        span.btn-social-login-icon
            i.fa.fa-google-plus.fa-fw
        span(class="pr+ pl") Google+

