.card
    div.bgc-grey-200(class='pl+ pr+ pt pb')
        span.display-block.fs-headline.mb(class='mb+ mt+') {{headerTitle|translate}}
    div(class='p+')
        form.mt(name="loginForm"  novalidate sv-form-val)
            md-input-container(class='mb+')
                label {{email|translate}}
                input(name="email" type='text', ng-model='user.email' required)
            md-input-container(class='mb+')
                label {{password|translate}}
                input(name="password" type='password', ng-model='user.password' required)
            div(class='mb+')
                button.btn.btn--s.btn--raised.btn--white(lx-ripple ng-click='singIn()' id="svetLoginBtn")
                    i.mdi.mdi-login &nbsp
                    | {{loginBtn|translate}}
            div(class='mb+')
                a.register-link.fs-body-2(ui-sref='app.sign-up') {{registerAccount|translate}}
                span.fs-body-2 , {{newUser|translate}}
    div.bgc-grey-200(layout='row' layout-align='center center' class='p+')
        sv-form-social-buttons


