div
    md-tabs(md-selected='selectedIndex', md-border-bottom='' md-dynamic-height)
        md-tab.sv-tabs(ng-repeat='tab in tabs', label='{{tab.title|translate}}' )
            md-content.mt(class='tab{{$index%4}}' ng-include='tab.content' sv-tab-swipe )
