.card.bgc-grey-100.top-profile-nav
    div(hide-sm show-gt-sm layout='row' layout-align="space-between center")
        button.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.dashboard' lx-ripple='' style='padding:0px 10px')
            i.mdi.mdi-view-dashboard &nbsp
            span {{'dashboard'|translate}}
        button.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.users' lx-ripple='' style='padding:0px 10px')
            i.fa.fa-child &nbsp
            span {{'readers'|translate}}
        button.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.clients' lx-ripple='' style='padding:0px 10px')
            i.mdi.mdi-account-multiple &nbsp
            span {{'customers'|translate}}
        button.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.events' lx-ripple='' style='padding:0px 10px')
            i.mdi.mdi-tag &nbsp
            span {{'events'|translate}}
        button.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.ad' lx-ripple='' style='padding:0px 10px')
            i.fa.fa-bullhorn &nbsp
            span {{'ad'|translate}}
    div(show-sm hide-gt-sm layout='row' layout-align="space-between center")
        button.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.dashboard' lx-ripple='' style='padding:0px 10px')
            i.mdi.mdi-view-dashboard &nbsp
        button.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.users' lx-ripple='' style='padding:0px 10px')
            i.fa.fa-child &nbsp
        button.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.clients' lx-ripple='' style='padding:0px 10px')
            i.mdi.mdi-account-multiple &nbsp
        button.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.events' lx-ripple='' style='padding:0px 10px')
            i.mdi.mdi-tag &nbsp
        button.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.ad' lx-ripple='' style='padding:0px 10px')
            i.fa.fa-bullhorn &nbsp

