.card.bgc-grey-100.top-profile-nav
    ul.list-unstyled(hide-sm show-gt-sm layout='row' layout-align="space-between center")
        li(ui-sref-active='sv-active-user-menu')
            a.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.dashboard' lx-ripple='' style='padding:0px 10px')
                i.mdi.mdi-view-dashboard &nbsp
                span {{'dashboard'|translate}}
        li(ui-sref-active='sv-active-user-menu')
            a.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.users' lx-ripple='' style='padding:0px 10px')
                i.fa.fa-child &nbsp
                span {{'users'|translate}}
        li(ui-sref-active='sv-active-user-menu')
            a.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.events' lx-ripple='' style='padding:0px 10px')
                i.mdi.mdi-tag &nbsp
                span {{'events'|translate}}
        li(ui-sref-active='sv-active-user-menu')
            a.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.ad' lx-ripple='' style='padding:0px 10px')
                i.fa.fa-bullhorn &nbsp
                span {{'ad'|translate}}
    ul.list-unstyled(show-sm hide-gt-sm layout='row' layout-align="space-between center")
        li(ui-sref-active='sv-active-user-menu')
            a.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.dashboard' lx-ripple='' style='padding:0px 10px')
                i.mdi.mdi-view-dashboard &nbsp
        li(ui-sref-active='sv-active-user-menu')
            a.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.users' lx-ripple='' style='padding:0px 10px')
                i.fa.fa-child &nbsp
        li(ui-sref-active='sv-active-user-menu')
            a.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.events' lx-ripple='' style='padding:0px 10px')
                i.mdi.mdi-tag &nbsp
        li(ui-sref-active='sv-active-user-menu')
            a.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.ad' lx-ripple='' style='padding:0px 10px')
                i.fa.fa-bullhorn &nbsp

