div(layout='column')
    .card(class='mb++')
        div.bgc-grey-100(class='p+' layout='column')
            span.mdc-display-inline-block.mr.mb.fs-title.mb Users Requests:
        .divider.divider--dark
        div.mt.mb
            sv-business-account-requests
