div(layout='column')
    .card(class='mb++')
        div.bgc-grey-100(class='p+' layout='column')
            span.mdc-display-inline-block.mr.mb.fs-subhead.mb Account Status:
                span.fs-title.ml Account Requests
        .divider.divider--dark
        div.mt.mb
