div(style='margin-bottom:5px' )
    div(ng-show='isInGroup("customer")' ng-if='!!user')
        span.tc-red-300(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important')
            | SVET
        span.tc-grey-700(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important')
            | BUSINESS
    div(ng-show='isInGroup("author")' ng-if='!!user')
        span.tc-red-300(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important')
            | SVET
        span.tc-grey-700(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important')
            | AUTHOR
    div(ng-show='user.groups.indexOf("manager")>-1' )
        span.tc-red-300(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important')
            | SVET
        span.tc-grey-700(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important')
            | MANAGER
