div(style='margin-bottom:5px')
    div(ng-if='isInGroup("customer")')
        span.tc-red-300(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important')
            | SVET
        span.tc-grey-700(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important')
            | BUSINESS
    div(ng-if='isInGroup("author")')
        span.tc-red-300(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important')
            | SVET
        span.tc-grey-700(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important')
            | AUTHOR
    div(ng-if='isInGroup("manager")')
        span.tc-red-300(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important')
            | SVET
        span.tc-grey-700(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important')
            | MANAGER
