div(style='margin-bottom:5px' ng-if='!!user')
    div(ng-show='user.role==="reader"')
        span.tc-red-300(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important')
            | SVET
        span.tc-grey-700(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important')
            | READER
    div(ng-show='user.role==="customer"')
        span.tc-red-300(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important')
            | SVET
        span.tc-grey-700(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important')
            | BUSINESS
    div(ng-show='user.role==="author"' )
        span.tc-red-300(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important')
            | SVET
        span.tc-grey-700(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important')
            | AUTHOR
    div(ng-show='user.role==="manager"' )
        span.tc-red-300(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important')
            | SVET
        span.tc-grey-700(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important')
            | MANAGER
