div(style='margin-bottom:5px' ng-if='!!user')
    a.tc-grey-700(ng-click='goToDashboard()' style='cursor:pointer;text-decoration:none')
        span.tc-red-300(style='margin-right:2px;font-size:16.5px;font-weight:bold;line-height:20px !important')
            | SVET
        span(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important' ng-if='user.isManager()')   {{'manager'|translate|uppercase}}
        span(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important' ng-if='user.isEditor()')  {{'editor'|translate|uppercase}}
        span(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important' ng-if='user.isAuthor()')    {{'author'|translate|uppercase}}
        span(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important' ng-if='user.isCustomer()')  {{'customer'|translate|uppercase}}
        span(style='margin-right:4px;font-size:16.5px;font-weight:bold;line-height:20px !important' ng-if='user.isReader()')    {{'reader'|translate|uppercase}}
