div.card.p.ml
    span.display-block.fs-subhead {{'newspaper-subscription'|translate}}
    md-divider.mb
    span.display-block.fs-body-2 {{'newspaper-subscription-quest'|translate}}
    a.tc-red-300(ui-sref="app.svet-login" style="text-decoration:underline")
        span.fs-subhead(ng-if="!user") {{'login-subscription'|translate | uppercase}}
    div(ng-if='user && !requestSubmited')
        form( name='pdfSubForm')
            div(layout="row" layout-align='start center')
                md-checkbox(ng-model="pdfSub.newLight" aria-label="Checkbox")
                span.mdc-display-inline-block.fs-body-2 {{'NewSvetNewspaper'|translate}}
            div(layout="row" layout-align='start center')
                md-checkbox(ng-model="pdfSub.saturday" aria-label="Checkbox")
                span.mdc-display-inline-block.fs-body-w {{'saturday-plus'|translate}}
    div(ng-if='user && requestSubmited')
        md-progress-circular.md-accent(md-mode='indeterminate')
