lx-dropdown(position='right')
    button.btn.btn--m.btn--icon.btn--white.tc-black(lx-ripple  lx-dropdown-toggle='' ng-class="{'mr+':ctrl.gtSm}")
        img(ng-src="{{user.avatar}}" style='min-height:30px')
    lx-dropdown-menu
        ul
            li
                a.dropdown-link(ui-sref='app.reader.subscriptions')
                    i.mdi.mdi-newspaper &nbsp
                    | {{'subscriptions'|translate}}
            li
                a.dropdown-link(ui-sref='app.reader.reader-activity-events')
                    i.mdi.mdi-bell &nbsp
                    | {{'activity-events'|translate}}
            li
                a.dropdown-link(ui-sref='app.reader.reader-bookmarks')
                    i.mdi.mdi-bookmark &nbsp
                    | {{'bookmarks'|translate}}
            li
                a.dropdown-link(ui-sref='app.reader.reader-classified')
                    i.mdi.mdi-tag &nbsp
                    | {{'my-classified'|translate}}
            li.dropdown-divider
            li
                a.dropdown-link(ng-click='logout()')
                    i.mdi.mdi-logout &nbsp
                    | {{'logout'|translate}}

