lx-dropdown(position='right')
    button.btn.btn--m.btn--icon.btn--white.tc-black(lx-ripple  lx-dropdown-toggle='' ng-class="{'mr+':ctrl.gtSm}")
        img(ng-src="{{user.avatar}}" style='min-height:30px')
    lx-dropdown-menu
        ul
            li
                a.dropdown-link(ui-sref='app.reader.profile')
                    i.mdi.mdi-account &nbsp
                    | {{'reader-profile'|translate}}
            li
                a.dropdown-link(ui-sref='app.reader.reader-activity-events')
                    i.mdi.mdi-email &nbsp
                    | {{'subscriptions'|translate}}
            li
                a.dropdown-link(ui-sref='app.reader.subscriptions')
                    i.mdi.mdi-email &nbsp
                    | {{'subscriptions'|translate}}
            li.dropdown-divider
            li
                a.dropdown-link(ui-sref='app.svet-profile.create-article')
                    i.mdi.mdi-settings &nbsp
                    | {{'settings'|translate}}
            li
                a.dropdown-link(ng-click='logout()')
                    i.mdi.mdi-logout &nbsp
                    | {{'logout'|translate}}

