div
	div(ng-if='!loaded')
		sv-loader
	div(ng-if='loaded')
		button.btn.btn--xs.btn--raised.btn--white(lx-ripple ng-click='cancelRequest()' ng-show='requestSubmited') Cancel Business Account Request
		button.btn.btn--xs.btn--raised.btn--white(lx-ripple ng-click='submitRequest()' ng-show='!requestSubmited') Request Business Account