div(flex-container='column')
	.card(class='p+')
		span.display-block.fs-title.mb Регистрация
		.divider.divider--dark
		form.mt(flex-container='column' name="loginForm")
			div(flex-container='row')
				div(flex-item='')
					lx-text-field(label='Name / Контактное Имя', icon='account')
						input(type='text', ng-model='textFields.firstName')
			div(flex-container='row')
				div(flex-item='')
					lx-text-field(label='Email / Электронный Адрес', icon='email' ng-model='signUp.user.email')
						input(type='email', ng-model='login.user.email')
			div(flex-container='row'  class="mb+")
				div(flex-item='')
					lx-text-field(label='Password / Пароль', icon='lock', ng-model='signUp.user.pass')
						input(type='password', ng-model='login.user.pass')
			div(flex-container='row' class="mb+")
				button.btn.btn--s.btn--raised.btn--white(lx-ripple ng-click='signUp.createAccount()')
					i.mdi.mdi-check &nbsp
					| Зарегистрироваться
			div(flex-container='row' flex-align='space-between center')
				div.display-block.fs-body-1 Вы уже зарегистрированы?  &nbsp
				div.mdc-text-right
					button.btn.btn--s.btn--flat.fs-caption.btn--indigo(lx-ripple ui-sref='app.svet-login') Войти
