button.btn.btn--s.btn--raised.btn--grey.btn-social-login.bgc-grey-700.tc-white-2.mr.ml(ng-click='loginSvetUser()')
    span.btn-social-login-icon
        i.fa.fa-fw(class = 'fa-{{icon}}' )
    span(class="pr+ pl") {{provider}}
