div
    md-tabs.tabs-classified.tc-black-2(md-selected='data.selectedIndex', md-border-bottom='' md-dynamic-height sv-tab-swipe)
        md-tab.sv-tabs(md-stretch-tabs="always" md-tab-active = 'true'  sv-tab-swipe)
            md-tab-label(sv-tab-swipe) {{"business-ad"|translate}}
            md-tab-body(sv-tab-swipe)
                sv-business-ad
        md-tab.sv-tabs(md-stretch-tabs="always" )
            md-tab-label {{"classified"|translate}}
            md-tab-body
                sv-user-classified-section
