.card(class='p+')
    md-tabs.tabs-classified.tc-black-2(md-selected='selectedIndex', md-border-bottom='')
        md-tab.tc-black-2.fs-body-2.sv-tabs(label='{{"planned-events"|translate}}' )
            md-content
                div Plannedsssss
        md-tab.tc-black-2.fs-body-2.sv-tabs(label='{{"visited-events"|translate}}' )
            md-content
                div Planned
        md-tab.tc-black-2.fs-body-2.sv-tabs(label='{{"invitations"|translate}}' )
            md-content
                div Invitationssssss
