lx-dropdown(position='right')
    button.btn.btn--l.btn--white.btn--fab.btn-flat(lx-dropdown-toggle='' ng-class="{'mr+':ctrl.gtSm}")
        img.img-round(ng-src="{{user.avatar}}" style='width:40px;height:40px')
    lx-dropdown-menu
        ul
            li
                a.dropdown-link(ui-sref="app.user.dashboard({uid:user.name || user.fname})")
                    i.mdi.mdi-view-dashboard &nbsp
                    | {{'dashboard'|translate}}
            li
                a.dropdown-link(ui-sref="app.user.business-ad({uid:user.name || user.fname})")
                    i.fa.fa-bullhorn &nbsp
                    | {{'my-ad'|translate}}
            li
                a.dropdown-link(ui-sref="app.user.social({uid:user.name|| user.fname})")
                    i.mdi.mdi-emoticon &nbsp
                    | {{'community'|translate}}
            li
                a.dropdown-link(ui-sref="app.user.author-articles({uid:user.name|| user.fname})"  ng-if='isInGroup("author")')
                    i.mdi.mdi-view-list &nbsp
                    | {{'my-articles'|translate}}
            li
                a.dropdown-link(ui-sref='app.user.create-article({uid:user.name|| user.fname})'  ng-if='isInGroup("author")')
                    i.mdi.mdi-pencil &nbsp
                    | {{'create-article'|translate}}
            li
                a.dropdown-link(ui-sref="app.user.user-events({uid:user.name|| user.fname})")
                    i.mdi.mdi-view-dashboard &nbsp
                    | {{'events'|translate}}
            li.dropdown-divider
            li
                a.dropdown-link(ng-click='logout()')
                    i.mdi.mdi-logout &nbsp
                    | {{'logout'|translate}}
