.data-table-container
    table.data-table.data-table--has-primary.data-table--has-secondary
        tbody
            tr.data-table__clickable-row
                td
                    span.fs-caption First Name:
                td
                    span Alex
                td
                    i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-pencil
            tr.data-table__clickable-row
                td
                    span.fs-caption Last Name:
                td
                    span Etman
                td
                    i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-pencil
            tr.data-table__clickable-row
                td
                    span.fs-caption User Name:
                td
                    span Alex
                td
                    i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-pencil
            tr.data-table__clickable-row
                td
                    span.fs-caption Email:
                td
                    span alex2@gmail.com
                td
                    i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-pencil
            tr.data-table__clickable-row
                td
                    span.fs-caption Password:
                td
                    span hidden
                td
                    i.icon.icon--xs.icon--grey.icon--flat.mdi.mdi-pencil
