md-dialog(style='min-width:80%;min-height: auto')
    div.bgc-grey-200(layout="row" layout-align='space-between center' class='p+')
        span.ml.fs-headline.mt.mb Photo Gallery
        button.btn.btn--s.btn--icon.btn--grey(ng-click='hide()')
            i.mdi.mdi-close &nbsp
    md-dialog-content(style='padding:0px')
        div
            img(src="img/ad/kohl-museum/01.jpg")
        div.bgc-grey-200(layout="row" layout-align='space-between center' class='p+')
            p.mb.tc-grey-700
                i.fa.fa-info-circle.fa-fw
                | Svet Media Group reserves the right to remove or ban(block) any Classified, that is not consistent with  our Policies or the Law.

