div(layout-gt-sm='row' layout-align="top" style='width:100hv;max-width:100hv')
    div(flex-gt-sm='66')
        sv-profile-title(header-title="{{sectionName}}")
        sv-section-articles-list
    div(flex-gt-sm='33')
        sv-article-thumb-title(class="ml mb+" section-title="popular")
        sv-article-thumb-title(class="ml mb+" section-title="blog")
        sv-article-thumb-title(class="ml mb+" section-title="only-on-svet")
        sv-article-thumb-title(class="ml mb+" section-title="digest")
        sv-article-thumb-title(class="ml mb+" section-title="personality")
        sv-article-thumb-title(class="ml mb+" section-title="history")
        sv-article-thumb-title(class="ml mb+" section-title="gargantua-recipes")
        sv-article-thumb-title(class="ml mb+" section-title="useful-tips")
        sv-article-thumb-title(class="ml mb+" section-title="opinion")
        sv-article-thumb-title(class="ml mb+" section-title="recommended")
//footer advertisement
sv-custom-paper-head-ad

