div(layout-gt-sm='row' layout-align="top" style='width:100hv;max-width:100hv')
    div(flex-gt-sm='66')
        sv-profile-title(header-title="{{sectionName}}")
        div(layout='column')
            div(ng-repeat='n in newsList|sectionNews:sectionName')
                .mr(style='float:left')
                    a(ui-sref='app.article({id:n.fbkey})' style='text-decoration:none')
                        div(style='position:relative;overflow:hidden;width:60px;height:60px;border-radius:50%')
                            img.mdc-img-bw(ng-src='{{n.img}}', width='60' style='position:relative; bottom:15%')
                a(ui-sref='app.article({id:n.fbkey})' style='text-decoration:none')
                    span.display-block(ng-bind-html='n.title|length:25')
                span.display-block.fs-body-1.tc-black-2(ng-bind-html='n.body | length:50')
    div(flex-gt-sm='33')
        sv-article-thumb-title(section-title="popular")
        sv-article-thumb-title(section-title="blog")
        sv-article-thumb-title(section-title="opinion")
        sv-article-thumb-title(section-title="recommended")
//footer advertisement
sv-custom-paper-head-ad

