div(layout-gt-sm='row' layout-align="top" style='width:100hv;max-width:100hv')
    div(flex-gt-sm='66')
        sv-profile-title(header-title="{{sectionName}}")
        div.mr(layout='column'  ng-repeat='n in newsList|sectionNews:sectionName')
            div(layout="row")
                .mr(style='float:left')
                    a(ui-sref='app.article({id:n.fbkey})' style='text-decoration:none')
                        sv-image-thumb(img-container-width="70px" img-container-height="70px" img='{{n.img}}' img-height="120%")
                div
                    a(ui-sref='app.article({id:n.fbkey})' style='text-decoration:none')
                        span.display-block.fs-subhead(ng-bind-html='n.title')
                    span.display-block.fs-body-1.tc-black-2(ng-bind-html='n.body | length:100')
                    div(layout='row' layout-align="end center")
                        sv-article-public-statistics(class='mt ml')
            md-divider(class='mb++ mt++')
    div(flex-gt-sm='33')
        sv-article-thumb-title(class="ml mb+" section-title="popular")
        sv-article-thumb-title(class="ml mb+" section-title="blog")
        sv-article-thumb-title(class="ml mb+" section-title="only-on-svet")
        sv-article-thumb-title(class="ml mb+" section-title="digest")
        sv-article-thumb-title(class="ml mb+" section-title="personality")
        sv-article-thumb-title(class="ml mb+" section-title="history")
        sv-article-thumb-title(class="ml mb+" section-title="gargantua-recipes")
        sv-article-thumb-title(class="ml mb+" section-title="useful-tips")
        sv-article-thumb-title(class="ml mb+" section-title="opinion")
        sv-article-thumb-title(class="ml mb+" section-title="recommended")
//footer advertisement
sv-custom-paper-head-ad

