.nav-link {
  background-color: #e0e0e0 !important;
}
.ie {
  position: relative;
  top: 50px;
}
.btn-block {
  width: 100%;
}
.auth-sm {
  margin-bottom: -4px !important;
  display: block !important;
}
.img-editor {
  display: inline-block;
  width: 56px;
  height: 56px;
}
.img-editor-container {
  width: 56px;
  height: 56px;
}
/**********************
 =ad
***********************/
.main-news-ad {
  background: url("../img/ad/atru.jpg") 0 0 no-repeat;
  width: 230px;
  height: 100px;
}
/**********************
 =footer
***********************/
.text-footer {
  display: block;
  font-size: 13px;
  line-height: 16px;
}
