<!DOCTYPE html>
<html lang="en">
<head>
    <title>Angular Material - Starter App</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no"/>
    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="./bower_components/angular-material/angular-material.css"/>
    <link rel="stylesheet" href="./bower_components/mdi/css/materialdesignicons.css"/>
    <link rel="stylesheet" href="assets/app.css"/>
    <link rel="stylesheet" href="styles/main.css"/>
</head>

<body ng-app="app" layout="column" ng-controller="MainCtrl as main">
<!-- =Header-->
<md-toolbar layout="row" class="md-primary md-hue-3">
    <md-button class="menu" hide-gt-md ng-click="toggleLeft()" aria-label="Show User List">
        <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
    <h1 class="svet-logo">SVET</h1>
    <md-button hide-gt-md ng-click="toggleRight()" aria-label="Show Panel">
        <md-icon md-svg-icon="menu"></md-icon>
    </md-button>
</md-toolbar>

<!-- =Content-->
<div flex layout="row">
    <md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-theme-primary md-hue-1">
            <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-toolbar>
        <md-content class="md-padding" ng-controller="LeftCtrl">
            <md-button ng-click="close()" class="md-primary" hide-gt-md>
                Close Sidenav Left
            </md-button>
        </md-content>
    </md-sidenav>

    <md-content flex class="md-padding">
        <div layout="column" layout-fill layout-align="top center">
            <div ui-view=""></div>
        </div>
        <div flex></div>
    </md-content>

    <md-sidenav class="md-sidenav-right md-whiteframe-z2" md-component-id="right" md-is-locked-open="$mdMedia('gt-md')">
        <md-toolbar class="md-theme-primary md-hue-1">
            <h1 class="md-toolbar-tools">Sidenav Left</h1>
        </md-toolbar>
        <md-content class="md-padding" ng-controller="RightCtrl">
            <md-button ng-click="close()" class="md-primary" hide-gt-md>
                Close Sidenav Left
            </md-button>
        </md-content>
    </md-sidenav>
</div>
<!-- =Footer-->
<md-toolbar layout="row" class="md-primary md-hue-1">

</md-toolbar>

<script src="./bower_components/angular/angular.js"></script>
<script src="./bower_components/angular-animate/angular-animate.js"></script>
<script src="./bower_components/angular-aria/angular-aria.js"></script>
<script src="./bower_components/angular-material/angular-material.js"></script>
<script src="./bower_components/angular-ui-router/release/angular-ui-router.js"></script>

<!-- start defaults -->

<script src="./scripts/app.js"></script>
<script src="./scripts/routes.js"></script>
<script src="./scripts/home/controllers/MainCtrl.js"></script>

<script src="./scripts/settings/colors.js"></script>
<script src="./scripts/settings/icons.js"></script>
<script src="./scripts/settings/constants.js"></script>

<!-- MODULES-->

<!-- home -->
<script src="scripts/home/homeIndex.js"></script>
<script src="scripts/home/directives/sv-nav-link.js"></script>
<script src="scripts/home/directives/sv-news-sections-nav.js"></script>
<script src="scripts/home/controllers/HomeCtrl.js"></script>


</body>
</html>