<div class="card mb++">
    <div ui-view="" class="p">
        <button lx-ripple="" ui-sref="app.user.ad.start" class="btn btn--m btn--red btn--raised bgc-red-300"><i
                class="mdi mdi-plus mr"></i>{{'add-business-ad'|translate}}
        </button>
    </div>
    <div class="p">
        <ul layout="column">
            <li ng-repeat="ad in ads|userList">
                <div>{{ad.title}}</div>
                <div>{{ad.place}}</div>
                <div>{{ad.timestamp|date}}</div>
                <ul>
                    <li>
                        <div>Unique:{{ad.shows.unique}}</div>
                    </li>
                    <li>
                        <div>Unique:{{ad.shows.total}}</div>
                    </li>
                </ul>
                <div><img ng-src="{{ad.banner}}"/></div>
                <div>
                    <button lx-ripple="" ui-sref=".start({id:ad.$id})" class="btn btn--xs btn--blue btn--raised">Edit
                    </button>
                    <button lx-ripple="" ng-click="removeAd(ad)" class="btn btn--xs btn--red btn--raised">Delete
                    </button>
                    <br/></div>
            </li>
        </ul>
    </div>
</div>