ul.list-unstyled
    li.mt.mb
        if vm !== undefined
            a.btn.btn--m.btn--grey.btn-flat.tc-grey-600(lx-ripple='' href='#{vm.rootUrl}') Home
    li.mt.mb
        a.btn.btn--m.btn--grey.btn-flat.tc-grey-600(lx-ripple='') Calendar
    li.mt.mb
        a.btn.btn--m.btn--grey.btn-flat.tc-grey-600(lx-ripple='') Blog
    li.mt.mb
        a.btn.btn--m.btn--grey.btn-flat.tc-grey-600(lx-ripple='') Classifieds
    li.mt.mb
        a.btn.btn--m.btn--grey.btn-flat.tc-grey-600(lx-ripple='') My Photos
