ul.list-unstyled
    li.mt.mb
        if vm !== undefined
            a.btn.btn--m.btn--grey.btn-flat.tc-grey-600(lx-ripple='' href='#{vm.rootUrl}/about/info') About Us
    li.mt.mb
        a.btn.btn--m.btn--grey.btn-flat.tc-grey-600(lx-ripple='') Testimonials
    li.mt.mb
        a.btn.btn--m.btn--grey.btn-flat.tc-grey-600(lx-ripple='' ) Contact Us
    li.mt.mb
        a.btn.btn--m.btn--grey.btn-flat.tc-grey-600(lx-ripple='') Youtube Channel

