div(layout='column' class='ml mr')
    div.text-center.pl.pr
        sv-profile-title(header-title="Advertise with us!")
    div(layout='column' layout-align='center center')
        .card.p(class='mb+')
            span.display-block.fs-subhead
                i.mdi.mdi-phone
                | &nbsp (847)715-9407
            span.display-block.fs-subhead
                i.mdi.mdi-deskphone
                | &nbsp (847)715-9677
            span.display-block.fs-subhead
                i.mdi.mdi-email
                | &nbsp manager@svet.com
    div(layout='column' layout-align='center center' class='mb+' flex)
        iframe(src="https://www.google.com/maps/d/embed?mid=zdTHzl0THQeM.k_tB4rfOIVEo" width="640" height="480")
    div(class='mb+')
        sv-about-svet
    div(layout='column' layout-align='center center')
        sv-top-ru-speaking
