div(layout='column' class='ml mr' layout-align='center center')
    sv-profile-title(header-title="Chicago Russian-Speaking Suburbs")
    div
        iframe(src="https://www.google.com/maps/d/embed?mid=zdTHzl0THQeM.k_tB4rfOIVEo" width="640" height="480")
    div
        p The Russian - American population in the United States is estimated at nearly 2.9 million people.
        p It is the second largest ethnic market, making up 10.4% of 28.4 million foreign born people in the country.
        p.fs-subhead States with the highest concentration of the Russian-American population:
        p(class="ml++")
            i.mdi.mdi-checkbox-blank-circle-outline.mr.tc-caption
            | New York Tri-State area – &nbsp
            strong 24%
            | (approx. &nbsp
            strong 696,000 people)
        p(class="ml++")
            i.mdi.mdi-checkbox-blank-circle-outline.mr.tc-caption
            | California – 17% (approx. 493,000 people)
        p(class="ml++")
            i.mdi.mdi-checkbox-blank-circle-outline.mr.tc-caption
            | Illinois – 16% (approx. 464,000 plus people)
        | Is the Russian-speaking population in the U.S. an attractive market?
        | Definitely! Russian-American community consists not only of Russians, but Russian speaking ethnicities such as Ukrainians, Bulgarians, Lithuanian, and other Eastern European nationalities. With an average household income of $87,500, the Russian-speaking community is among the wealthiest, most educated groups in Chicagoland. Their lifestyle preferences and wealth make the Russian speaking segment of Chicago an attractive target market for advertisement.