div(layout='column' class='pl pr mb')
    div.text-center.pl.pr
        sv-profile-title(header-title="Advertise with us!")
    div(layout='column' layout-align='center center')
        .card.p(class='mb+')
            span.display-block.fs-subhead
                i.mdi.mdi-phone
                | &nbsp (847)715-9407
            span.display-block.fs-subhead
                i.mdi.mdi-deskphone
                | &nbsp (847)715-9677
            span.display-block.fs-subhead
                i.mdi.mdi-email
                | &nbsp manager@svet.com
    div(layout='column' layout-align='center center' class='mb+ ml mr')
        iframe.sv-iframe-responsive(src="https://www.google.com/maps/d/embed?mid=zdTHzl0THQeM.k_tB4rfOIVEo" width="640" height="480" scrolling="no")
    div(layout-gt-sm='row' class='mb ml mr')
        div(flex-gt-sm='40' class='pr mb+')
            sv-top-ru-speaking
        div(flex-gt-sm='60' class='pr mb+')
            sv-about-svet
