.card
    div.p.bgc-grey-100
        a.sv-hover-grey(ui-sref='app.blogs')
            span.display-block.fs-subhead.text-center.tc-red-300.sv-hover-grey {{'from-the-editor'|translate|uppercase}}
    md-divider
    div.bgc-grey-50
        ul.list
            li.list-row.list-row--has-separator(style='padding: 0px 8px')
                .list-row__content
                    a.mdc-link(ui-sref='app.blogs')
                        strong.fs-headline.display-block.tc-grey-900.sv-hover-red
                            | Alexander Etman
                        strong.fs-subhead.display-block.tc-grey-600.sv-hover-red(style='font-size:18px;margin-top:4px')
                            i.mdi.mdi-blogger.fa-fw
                            | BLOG
                .list-row__primary.mdc-text-right.img-editor-contner
                    a.mdc-link(ui-sref='app.blogs')
                        img.img-round.mdc-text-right.img-editor.mdc-img-bw(ng-src='{{alex}}')
    div(style='margin-bottom:8px')
        sv-editor-article-home-thumb
