.card
    div.p.bgc-grey-100
        span.display-block.fs-subhead.text-center.tc-red-300 {{'from-the-editor'|translate|uppercase}}
    md-divider
    div.bgc-grey-50
        ul.list
            li.list-row.list-row--has-separator(style='padding: 0px 8px')
                .list-row__content
                    strong.fs-headline.display-block
                        | Alex Etman
                    strong.fs-subhead.tc-grey-600.display-block(style='font-size:18px')
                        | BLOG
                .list-row__primary.mdc-text-right.img-editor-contner
                    img.img-round.mdc-text-right.img-editor.mdc-img-bw(ng-src='{{alex}}')
    div(style='margin-bottom:8px')
        sv-editor-article-home-thumb
