div(layout='column' layout-align="left center")
    md-list.list-nav
        sv-nav-link(side='left', url='app.home', stitle='home', icon='mdi mdi-home')
        sv-nav-link-custom(side='left', url='app.section({sectionName:"chicago"})', stitle='chicago', icon-link='img/icons/chicago1.png' icon-width="22px" )
        sv-nav-link-custom(side='left', url='app.section({sectionName:"usa"})', stitle='usa', icon-link='img/icons/usa.png' icon-width="22px" )
        sv-nav-link(side='left', url='app.section({sectionName:"world"})', stitle='world', icon='mdi mdi-earth')
        sv-nav-link(side='left', url='app.section({sectionName:"politics"})', stitle='politics', icon='mdi mdi-bank')
        sv-nav-link(side='left', url='app.section({sectionName:"banking"})', stitle='banking', icon='mdi mdi-coin')
        sv-nav-link(side='left', url='app.section({sectionName:"business"})', stitle='business', icon='fa fa-briefcase')
        sv-nav-link(side='left', url='app.section({sectionName:"technology"})', stitle='technology', icon='mdi mdi-desktop-mac')
        sv-nav-link(side='left', url='app.section({sectionName:"art"})', stitle='art', icon='mdi mdi-palette')
        sv-nav-link(side='left', url='app.section({sectionName:"sport"})', stitle='sport', icon='mdi mdi-bike')
        sv-nav-link(side='left', url='app.section({sectionName:"health"})', stitle='health', icon='mdi mdi-beaker')
        sv-nav-link(side='left', url='app.section({sectionName:"food"})', stitle='food', icon='mdi mdi-food-apple')
        sv-nav-link(side='left', url='app.section({sectionName:"travel"})', stitle='travel', icon='mdi mdi-wallet-travel')

