div(layout='column' layout-align="left center")
    md-list.list-nav
        sv-nav-link(side='left', url='app.home', title='home', icon='home')
        sv-nav-link(side='left', url='app.section({sname:world})', title='world', icon='earth')
        sv-nav-link(side='left', url='app.politics', title='politics', icon='bank')
        sv-nav-link(side='left', url='app.business', title='business', icon='briefcase')
        sv-nav-link(side='left', url='app.technology', title='technology', icon='desktop-mac')
        sv-nav-link(side='left', url='app.art', title='art', icon='palette')
        sv-nav-link(side='left', url='app.sport', title='sport', icon='bike')
        sv-nav-link(side='left', url='app.health', title='health', icon='beaker')
        sv-nav-link(side='left', url='app.food', title='food', icon='food-variant')
        sv-nav-link(side='left', url='app.travel', title='travel', icon='wallet-travel')

