div(layout='column' layout-align="left center")
    md-list.list-nav
        sv-nav-link(side='left', url='app.home', stitle='home', icon='home')
        sv-nav-link(side='left', url='app.section({sectionName:"world"})', stitle='world', icon='earth')
        sv-nav-link(side='left', url='app.section({sectionName:"politics"})', stitle='politics', icon='bank')
        sv-nav-link(side='left', url='app.business', stitle='business', icon='briefcase')
        sv-nav-link(side='left', url='app.technology', stitle='technology', icon='desktop-mac')
        sv-nav-link(side='left', url='app.art', stitle='art', icon='palette')
        sv-nav-link(side='left', url='app.sport', stitle='sport', icon='bike')
        sv-nav-link(side='left', url='app.health', stitle='health', icon='beaker')
        sv-nav-link(side='left', url='app.food', stitle='food', icon='food-variant')
        sv-nav-link(side='left', url='app.travel', stitle='travel', icon='wallet-travel')

