div(layout='column' layout-align="left center")
    md-list.list-nav
        sv-nav-link(side='left', url='app.home', stitle='home', icon='home')
        sv-nav-link(side='left', url='app.section({sectionName:"world"})', stitle='world', icon='earth')
        sv-nav-link(side='left', url='app.section({sectionName:"politics"})', stitle='politics', icon='bank')
        sv-nav-link(side='left', url='app.section({sectionName:"banking"})', stitle='banking', icon='coin')
        sv-nav-link(side='left', url='app.section({sectionName:"business"})', stitle='business', icon='briefcase')
        sv-nav-link(side='left', url='app.section({sectionName:"technology"})', stitle='technology', icon='desktop-mac')
        sv-nav-link(side='left', url='app.section({sectionName:"art"})', stitle='art', icon='palette')
        sv-nav-link(side='left', url='app.section({sectionName:"sport"})', stitle='sport', icon='bike')
        sv-nav-link(side='left', url='app.section({sectionName:"health"})', stitle='health', icon='beaker')
        sv-nav-link(side='left', url='app.section({sectionName:"food"})', stitle='food', icon='food-variant')
        sv-nav-link(side='left', url='app.section({sectionName:"travel"})', stitle='travel', icon='wallet-travel')

