div(layout='column')
    md-content.md-padding
        ul.list
            li.list-row.list-row--has-separator
                .list-row__primary
                    a(href="https://www.youtube.com/watch?v=fuVyrMp3BpI")
                        img.mdc-img-bw(src="../img/ad/youtube-sepia.png" style='width:32px')
                .list-row__content
                    a.mdc-link.tc-black-2(href="https://www.youtube.com/watch?v=fuVyrMp3BpI")
                        .fs-subhead.text-subheader {{'youtube'|translate}}
            li.list-row.list-row--has-separator
                .list-row__primary
                    a(href="https://itunes.apple.com/us/app/svet-local/id592739995?mt=8")
                        img(src="../img/ad/svet-app-64-sepia.png" style='width:32px; display:inline-block;')
                .list-row__content
                    a.mdc-link.tc-black-2(href="https://itunes.apple.com/us/app/svet-local/id592739995?mt=8")
                        .fs-subhead.text-subheader {{'svetApp'|translate}}
