a.article-thumb-link(ui-sref='app.article({id:topNews.fbkey})' )
    .card.p.ml.mr
        sv-img-framed(img = 'topNews.img' max-width='500' max-height='320')
        span.display-block.fs-subhead.tc-black-1 {{topNews.title }}
        .fs-caption.tc-grey-600 By {{isFirst? 'Alex Etman':topNews.author}}
        span.mdc-display-inline-block.fs-body-2.tc-grey-800(ng-bind-html="topNews.body | length:100") ...
        span.display-block.fs-caption.bgc-grey-200.mdc-label-default.tc-blue-grey 12 Comments





















