.well
    h3 {{calendarControl.getTitle()}}
    mwl-calendar(calendar-events='events',
    calendar-view='calendarView', calendar-current-day='calendarDay',
    calendar-control='calendarControl', calendar-event-click='eventClicked($event)',
    calendar-auto-open='true')




