.card(layout='column')
    .bgc-grey-200.p
        span.fs-subhead.display-block Original &nbsp
            span.tc-red-300 "SVET" &nbsp
            span Newspaper Article
    .div(layout-gt-sm="row" layout-sm='column' class='pt pb')
        .p(style='min-width: 200px')
            a.display-block.text-center(ui-sref='app.event-article' style='text-decoration:none')
                img(ng-src="https://s3-us-west-2.amazonaws.com/svet.com/home/kohl-2015/girl-near-shagal-painging.jpg" style='width:200px;margin:0px auto')
        div(class='ml mr')
            a.tc-grey-800.sv-link-visited(ui-sref='event-article' style='text-decoration:none')
                span.display-block.fs-title "Праздник для всей семьи" в  Kohl Children's Museum
            div.tc-grey-600.mb
                span.fs-caption 06.19.2015
            span.display-block.fs-body-1.tc-black-2 В минувшее воскресенье в Kohl Children's Museum с большим успехом прошел ежегодный "Праздник для всей семьи", организуемый издательским домом Свет.
            div(layout='row' layout-align='end')
                button.btn.btn--xs.btn--grey.btn--flat(ui-sref='app.event-article' ) {{'read-more'|translate}} >>
