div
    .card.mb.p(ng-repeat='e in svetEvents|orderBy:"-$id"|eventsType:eventFilter' layout-gt-sm="row" layout-sm='column' layout-align-gt-sm="space-between center")
        div.mb
            span.display-block.fs-body-2 {{e.title}}
            span.display-block.fs-caption {{e.startDate}}
