.card(ui-sref='app.events.field({year:2015})').cursor-pointer
    .card__img.card__img--top
        img(src="img/ad/kohl-museum/m-1.jpg")
        span.display-block.fs-title.tc-white Kohl Children's Museum
    div(class='p+')
        .fs-subhead Family Public Event
        .paragraph.fs-body-1.mb
            | A very special and fun SVET Family Event at Kohl Children's Museum on May 5.
        span.display-block.fs-caption.tc-blue-grey-500
            i.fa.fa-users.mr
            | {{ctrl.userNumbers}} Families are going
    .card__actions
        div(layout='row' layout-align='space-around')
            sv-join-btn(event-key='kohl2015')
            button.btn.btn--m.btn--black.btn--flat(lx-ripple='') Comment
            button.btn.btn--m.btn--black.btn--flat(lx-ripple='') Share
