div(layout='row' class='mb+ mt+')
    button.btn.btn--l.btn--white.tc-grey-700.btn--raised( ui-sref='app.events.calendar' lx-ripple='' class='mr') Events Calendar 2015
    //button.btn.btn--l.btn--white.tc-grey-700.btn--raised( ui-sref='app.events.photo-gallery' lx-ripple='' class='mr') Photo Gallery
