button.btn.btn--m.btn--flat.tc-red-700(lx-ripple='' ng-if='!user' lx-tooltip="Please login to join event" tooltip-position="right") Join
div(ng-if='!!user')
    button.btn.btn--flat.tc-red-400(lx-ripple='' tooltip-position="right" lx-tooltip="{{joinTip|translate}}" class='{{bntSize}}'  ng-click='ctrl.joinEvent()' ng-show='!ctrl.isUserJoined') {{titleJoin|translate}}
    button.btn.btn--flat.tc-red-400(lx-ripple='' tooltip-position="right" lx-tooltip="{{unlinkTip|translate}}" class='{{bntSize}}'  ng-click='ctrl.unlinkEvent()' ng-show='ctrl.isUserJoined') {{titleUnlink|translate}}

