.card(class='p++' )
    div(layout='row')
        div
            span.display-block.fs-display-1.mb SVET Family Event at Kohl Children's Museum
            span.display-block.fs-headline Friday, May 15, 2014 11:00AM - 1:00PM
            a.tc-blue-grey-700.fs-subhead(href='http://www.kohlchildrensmuseum.org/')
                | Kohl Childrens's Museum of Greater Chicago
            span.display-block.fs-body-2.tc-grey-700 Address: 2100 Patriot Blvd, Glenview, Illinois 60026
        div(ui-sref='app.events.field({year:2014})').cursor-pointer
            div
                img.mb(src="../img/ad/kohl-museum/kohl-logo.jpg" style='width:300px')
            div(style='border-bottom: 2px #E57373 solid;text-align:center')
                div
                    span.display-block.fs-subhead.tc-grey-800




