.card(class='p++' )
    div(class='pl+' ui-sref='app.events.field({year:2014})'  style='display:block;float:right').cursor-pointer
        img.mb(src="../img/events-posters/elena-vaenga-2015.jpg")
    span.display-block.fs-display-1.mb Елена Ваенга
    span.display-block.fs-title Sunday, May 31, 2015 7:00 PM
    a.tc-blue-grey-700.fs-subhead
        | Evanston Auditorium
    span.display-block.fs-body-2.tc-grey-700 Address: 1600 Dodge Ave, Evanston, IL
    .mt.mb
        a.btn.btn--m.btn--black.btn--raised.bgc-grey-600(href='http://www.ticketmaster.com/Elena-Vaenga-tickets/artist/1571574')
            i.fa.fa-ticket &nbsp
            | {{'purchase-tickets'|translate}}
    div
        span.display-block.fs-title About Event:
        p Ваенга Елена — исполнитель и автор своих песен.
        p В Елене восхищает и поражает все: глубокий и сильный голос, творческий диапазон ее песен, оригинальная манера их исполнения, эмоциональное напряжение, искренность и проникновенность текстов, в которых нет ничего лишнего. Все слова в текстах песен понятны и ясны. Поражает способность Елены Ваенги к перевоплощению и ее артистизм.


