div(layout='row')
    div(class='mr+')
        img.mb(ng-src="{{event.img}}" style="max-width:200px")
    div()
        div(layout='row' layout-align-gt-sm='space-between center')
            span.display-block.fs-title.mb {{event.title}}
            div
                button.btn.btn--xs.btn--grey.btn--raised.mr(lx-ripple='' ng-click="quickView($event,event)")
                    i.fa.fa-eye.fa-fw &nbsp
                    | {{'quick-view'|translate}}
                a.btn.btn--xs.btn--white.btn--raised(lx-ripple='' ui-sref='app.one-event({eid:event.$id})')
                    i.mdi.mdi-arrow-right &nbsp
                    | {{'more-info'|translate}}
        span.display-block.fs-caption.mb  {{event.startsAt|date:"short"}}
        span.display-block.fs-subhead About Event:
        p {{event.about}}


