.sv-modal-sm {
  max-width: 700px;
}
@media screen and (max-width: 500px) {
  .sv-modal-sm {
    min-width: 99%;
    min-height: 100% !important;
  }
}
.sv-gallery-thumb-dir,
.sv-gallery-thumb {
  margin: 0px auto;
  width: 200px;
  height: 200px;
}
@media screen and (min-width: 300px) {
  .sv-gallery-thumb-dir,
  .sv-gallery-thumb {
    width: 120px;
    height: 120px;
  }
}
@media screen and (min-width: 350px) {
  .sv-gallery-thumb-dir,
  .sv-gallery-thumb {
    width: 150px;
    height: 150px;
  }
}
@media screen and (min-width: 400px) {
  .sv-gallery-thumb-dir,
  .sv-gallery-thumb {
    width: 180px;
    height: 180px;
  }
}
