.bgc-grey-200.card
    ul.list-inline
        li.m
            img.logo-img(style='width:40px;opacity:.7' alt='Company Logo' src='https://s3-us-west-2.amazonaws.com/chicagopics/abstract-logo.png')
            span.fs-subhead.tc-blue-grey-500
                | Company Logo
        li(style='float:right')
            span.text-right.mdc-display-inline-block.fs-headline.tc-grey-700.m Call us today!
            span.text-right.mdc-display-inline-block.fs-headline.tc-red-300.m
                i.fa.fa-phone.fa-fw
                | 909-123-4567