md-content.md-padding
    md-tabs(md-selected='selectedIndex' md-dynamic-height='' style='min-height:230px' md-autoselect md-border-bottom)
        md-tab
            md-tab-label
                a(ui-sref='app.about.svet')
                    | About Us
            md-tab-body
                div(ui-view='')
        md-tab
            md-tab-label
                a(ui-sref='app.about.demographics')
                    | Demographics
            md-tab-body
                div(ui-view='')

