md-content.md-padding
    md-tabs(md-selected='selectedIndex' md-dynamic-height="" md-stretch-tabs="never" style='min-height:230px' md-autoselect md-border-bottom)
        md-tab(ui-sref='app.about.about-tab-content')
            md-tab-label
                | About Us
            md-tab-body
                div(ui-view='')
        md-tab(ui-sref='app.about.demographics-tab-content')
            md-tab-label
                | Demographics
            md-tab-body
                div(ui-view='')

