.card
    .bgc-grey-200.p
        span.tc-grey-800.fs-title.m.display-block Chicago's top 10 Russian-Speaking Suburbs
    div(layout='row' layout-align="top center")
        sv-open-dialog-btn(link-name="Demographics Map" btn-img-icon="img/common/google-map.png" modal-method="showDemographicsMapModal()")
    div(layout='column' class="p")
        div.p(layout='row' layout-align='space-between center' style='border-bottom:solid 1px #BDBDBD')
            span.tc-grey-700.display-block.fs-subhead Buffalo Grove
            span.tc-grey-700.display-block.fs-subhead 18.7%
        div.p(layout='row' layout-align='space-between center' style='border-bottom:solid 1px #BDBDBD')
            span.tc-grey-700.display-block.fs-subhead Highland Park
            span.tc-grey-700.display-block.fs-subhead 18.2%
        div.p(layout='row' layout-align='space-between center' style='border-bottom:solid 1px #BDBDBD')
            span.tc-grey-700.display-block.fs-subhead Deerfield
            span.tc-grey-700.display-block.fs-subhead 16.1%
        div.p(layout='row' layout-align='space-between center' style='border-bottom:solid 1px #BDBDBD')
            span.tc-grey-700.display-block.fs-subhead Glencoe
            span.tc-grey-700.display-block.fs-subhead 14.4%
        div.p(layout='row' layout-align='space-between center' style='border-bottom:solid 1px #BDBDBD')
            span.tc-grey-700.display-block.fs-subhead Northbrook
            span.tc-grey-700.display-block.fs-subhead 14.3%
        div.p(layout='row' layout-align='space-between center' style='border-bottom:solid 1px #BDBDBD')
            span.tc-grey-700.display-block.fs-subhead Glenview
            span.tc-grey-700.display-block.fs-subhead 13.8%
        div.p(layout='row' layout-align='space-between center' style='border-bottom:solid 1px #BDBDBD')
            span.tc-grey-700.display-block.fs-subhead Skokie
            span.tc-grey-700.display-block.fs-subhead 11.6%
        div.p(layout='row' layout-align='space-between center' style='border-bottom:solid 1px #BDBDBD')
            span.tc-grey-700.display-block.fs-subhead Vernon Hills
            span.tc-grey-700.display-block.fs-subhead 9.1%
        div.p(layout='row' layout-align='space-between center' style='border-bottom:solid 1px #BDBDBD')
            span.tc-grey-700.display-block.fs-subhead Wheeling
            span.tc-grey-700.display-block.fs-subhead 8.9%
        div.p(layout='row' layout-align='space-between center')
            span.tc-grey-700.display-block.fs-subhead Wilmette
            span.tc-grey-700.display-block.fs-subhead 7.2%


