.card.m.p
    div {{feedback.body}}
    div {{feedback.company}}
    div {{feedback.timestamp|date}}
    div(ng-if='user.isManager() || feedback.authorKey==user.key')
        button.btn.btn--xs.btn--blue.btn--raised(lx-ripple='' ng-click='editFeedback()') Edit
        button.btn.btn--xs.btn--red.btn--raised(lx-ripple='' ng-click="removeSvFeedback(feedback)"  sv-confirm-deletion='feedback') Delete
