@import 'nib'

.btn-block
  width 100%

.auth-sm
 margin-bottom -4px !important
 display block !important

.img-editor
    display inline-block
    width 56px
    height 56px

.img-editor-container
     width 56px
     height 56px


/**********************
 =footer
***********************/
.text-footer
 display block
 font-size 13px
 line-height 16px

 @media screen and (max-width: 992px)
  font-size 11px



