div
    a.btn.btn--l.btn--white.btn--raised.tc-grey-700.bgc-grey-50(ng-click='beforeModalMethod()' class='md-whiteframe-z2')
        img.img-responsive.mdc-display-inline-block.mr(ng-src="{{btnImgIcon}}" width="{{imgWidth}}" height="24px")
        | {{linkName}}
