div(class='ml mr')
    div.mb
        p.text-center The Russian American population in the United States is reported to be &nbsp
        p.text-center.fs-title.tc-red-300.display-block 3.13 million people*
    div(class='mb+')
        p.text-center It is the second largest ethnic market, making up &nbsp
            strong 10.4% &nbsp
            | of &nbsp
            strong 28.4 million &nbsp
            | foreign born people in the country.
    div(layout='row' layout-align='center' class='mb+')
        sv-top-ru-states
    p.display-block.mt.mb.text-center.fs-headline Is the Russian-speaking population &nbsp
        strong.tc-red-300 in the USA
    p.display-block.mt.mb.text-center.fs-headline.tc-red-300(style='font-weight:700')  an attractive market?
    p.text-center.fs-headline.mb(style='font-weight:500')
        | Definitely!
    p.mb.text-center Russian-American community consists not only of Russians, but Russian speaking ethnicities such as Ukrainians, Bulgarians, Lithuanian, and other Eastern European nationalities.
    p.mb.text-center With an average household income of $87,500, the Russian-speaking community is among the wealthiest, most educated groups in Chicagoland. span Their lifestyle preferences and wealth make the Russian speaking segment of Chicago an attractive target market for advertisement.