.card
    .bgc-grey-200.p
        span.fs-title Demographics
    div(class='p+')
        p.fs-body-1.display-block The Russian American population in the United States is reported to be
        span.fs-title.display-block.text-center.tc-red-300 3.13 million people*.
        div.fs-body-1.display-block It is the second largest ethnic market, making up &nbsp
            strong 10.4% &nbsp
            | of &nbsp
            strong 28.4 million &nbsp
            | foreign born people in the country.
        div.fs-body-1.display-block.fs-subhead.mt.mb States with the highest concentration of the Russian-American population:
        div.fs-body-1.display-block(class="ml++")
            i.mdi.mdi-checkbox-blank-circle-outline.mr.fs-caption
            | New York Tri-State area – &nbsp
            strong.tc-red-300 24%
            | (approx. &nbsp
            strong 696,000 people)
        div.fs-body-1.display-block(class="ml++")
            i.mdi.mdi-checkbox-blank-circle-outline.mr.fs-caption
            | California – &nbsp
            strong.tc-red-300 17% &nbsp
            | (approx. &nbsp
            strong 493,000 &nbsp
            | people)
        div.fs-body-1.display-block(class="ml++")
            i.mdi.mdi-checkbox-blank-circle-outline.mr.fs-caption
            | Illinois – &nbsp
            strong.tc-red-300 16% &nbsp
            | (approx. &nbsp
            strong 464,000 plus &nbsp
            | people)
        div.fs-body-1.display-block.mt.mb Is the Russian-speaking population &nbsp
            strong.tc-red-300 in the U.S. an attractive market?
        div.fs-body-1.display-block
        div.fs-body-1.display-block
            strong Definitely! &nbsp
            | Russian-American community consists not only of Russians, but Russian speaking ethnicities such as Ukrainians, Bulgarians, Lithuanian, and other Eastern European nationalities. span With an average household income of $87,500, the Russian-speaking community is among the wealthiest, most educated groups in Chicagoland. span Their lifestyle preferences and wealth make the Russian speaking segment of Chicago an attractive target market for advertisement.