div(class='ml mr' layout-column)
    div.mb
        p.text-center The Russian American population in the United States is reported to be &nbsp
        p.text-center.fs-title.tc-red-800.sv-color-7.display-block 3.13 million people*
    div(class='mb+')
        p.text-center It is the second largest ethnic market,
        p.fs-header.text-center making up &nbsp
            strong 10.4% &nbsp
            | of &nbsp
            strong 28.4 million &nbsp
            | foreign born people in the country.
