div
    p.display-block.mt.mb.text-center.fs-headline Is the Russian-speaking population &nbsp
        strong.tc-red-300 in the USA
    p.display-block.mt.mb.text-center.fs-headline.tc-red-300(style='font-weight:700')  an attractive market?
    p.text-center.fs-headline.mb(style='font-weight:500')
        | Definitely!
    p.mb.text-center Russian-American community consists not only of Russians, but Russian speaking ethnicities such as Ukrainians, Bulgarians, Lithuanian, and other Eastern European nationalities.
    p.mb.text-center With an average household income of $87,500, the Russian-speaking community is among the wealthiest, most educated groups in Chicagoland. span Their lifestyle preferences and wealth make the Russian speaking segment of Chicago an attractive target market for advertisement.
