.card
    .bgc-grey-200
        p.display-block.fs-subhead.tc-grey-700(class='p+' style='font-weight:500')
            i.fa.fa-users.mr.fs-caption
            | States with the highest concentration of the Russian-American population:
    div.p
        p.fs-body-1(class="p")
            i.fa.fa-check.mr.fs-caption
            | New York Tri-State area – &nbsp
            strong.tc-red-800.sv-color-8 24% &nbsp
            | (approx. &nbsp
            strong 696,000 people)
        p.fs-body-1(class="p")
            i.fa.fa-check.mr.fs-caption
            | California – &nbsp
            strong.tc-red-800.sv-color-8 17% &nbsp
            | (approx. &nbsp
            strong 493,000 &nbsp
            | people)
        p.fs-body-1(class="p")
            i.fa.fa-check.mr.fs-caption
            | Illinois – &nbsp
            strong.tc-red-800.sv-color-8 16% &nbsp
            | (approx. &nbsp
            strong 464,000 plus &nbsp
            | people)
