div.mt(layout='column' flex='' layout-align='center center')
    div(flex='50')
        .card.p.mt
            span.display-block.fs-headline SVET Media Group
            md-divider
            span.display-block.fs-body-1.mt 900 Skokie Blvd., Suite 103,
            span.display-block.fs-body-1 Northbrook, IL 60062
            span.display-block.fs-body-1
                i.mdi.mdi-phone
                | &nbsp (847)715-9407
            span.display-block.fs-body-1
                i.mdi.mdi-deskphone
                | &nbsp (847)715-9677
            span.display-block.fs-body-1
                i.mdi.mdi-email
                | &nbsp manager@svet.com
            img.img-responsive.display-inline-block.mt(src="../img/contact/address-map.jpg")
