div
    md-tabs(md-selected='selectedIndex', md-border-bottom='' md-dynamic-height)
        md-tab.sv-tabs(md-stretch-tabs="never" )
            md-tab-label {{'my-profile'|translate}}
            md-tab-body
                sv-manager-profile-summary
        //md-tab.sv-tabs(md-stretch-tabs="never" )
        //    md-tab-label {{'bookmarks'|translate}}
        //    md-tab-body
        //        p Manager Bookmarks directive
        //md-tab.sv-tabs(md-stretch-tabs="never" )
        //    md-tab-label {{'profile-settings'|translate}}
        //    md-tab-body
        //        p Manager Profile Settings directive
