.card.bgc-grey-100.top-profile-nav
    ul.list-unstyled(layout='row' layout-align="space-between center")
        li(ui-sref-active='sv-active-user-menu')
            a.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.dashboard' lx-ripple='' style='padding:0px 10px')
                i.mdi.mdi-view-dashboard &nbsp
                span(hide-sm) {{'dashboard'|translate}}
        li(ui-sref-active='sv-active-user-menu')
            a.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.users' lx-ripple='' style='padding:0px 10px')
                i.fa.fa-child &nbsp
                span(hide-sm) {{'users'|translate}}
        li(ui-sref-active='sv-active-user-menu')
            a.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.events' lx-ripple='' style='padding:0px 10px')
                i.mdi.mdi-tag &nbsp
                span(hide-sm) {{'events'|translate}}
        li(ui-sref-active='sv-active-user-menu')
            a.btn.btn--m.btn--grey.tc-grey-700.btn--flat(ui-sref='app.manager.ad' lx-ripple='' style='padding:0px 10px')
                i.fa.fa-bullhorn &nbsp
                span(hide-sm) {{'ad'|translate}}

