div
    md-tabs(md-selected='selectedIndex', md-border-bottom='' md-dynamic-height)
        md-tab.sv-tabs(md-stretch-tabs="always" )
            md-tab-label {{'network-events'|translate}}
            md-tab-body
                sv-profile-subhead(subhead-title="network-events")
                sv-events-list(event-filter="corporates")

        md-tab.sv-tabs(md-stretch-tabs="always" )
            md-tab-label {{'public-events'|translate}}
            md-tab-body
