.head-ad:hover,
.head-ad:active,
.head-ad:focus {
  text-decoration: none;
  color: #757575;
}
@media screen and (max-width: 992px) {
  .head-ad {
    font-size: 10px;
  }
}
@media screen and (max-width: 992px) {
  .sv-cell-13 {
    font-size: 13px !important;
  }
}
