.card
    div.p.bgc-grey-100
        span.display-block.fs-subhead.text-center.tc-grey-700
            | {{'radio-archive'|translate|uppercase}}
    md-divider
    ul.list.p
        li(ng-repeat='p in programs|orderBy:"-prDate"' layout='row' layout-align='space-between' class='mb')
            a.tc-grey-700(ng-href='{{p.mms}}')
                span {{p.prDate|date}}
            span.display-block
                a.tc-grey-700(ng-href='{{p.mms}}')
                    i.fa.fa-headphones.fa-fw.mr
                i.fa.fa-download.fa-fw.mr
    .card__actions.text-right
        a.btn.btn--xs.btn--black.btn--flat.tc-grey-500(href='javascript:history.back()' lx-ripple="")
            i.fa.fa-angle-double-left.fa-fw &nbsp
            | {{'back'|translate}}
