.card
    div.p.bgc-grey-100
        strong.fs-headline.display-block.text-center
            i.mdi.mdi-microphone &nbsp
            | {{title|translate}} “OSA”
    md-divider.mb
    div(ui-view='radio.list')
        .bgc-grey-50(class='mt+ mb text-center')
            span.fs-subhead.tc-red-300.display-block.radio-subhead
                | {{'radio-subhead-1'|translate|uppercase}}
            span.fs-subhead.tc-red-300.display-block.radio-subhead
                | {{'radio-subhead-2'|translate}}
        .bgc-grey-50(class='pb')
            span.fs-body-subhead.tc-grey-800.display-block.radio-body.text-center(style='line-height:20px')
                | {{'radio-body-1'|translate|capitalize}}
            span.fs-body-subhead.tc-grey-800.display-block.radio-body.text-center(style='line-height:20px')
                i.fa.fa-clock-o.fa-fw
                | {{'radio-body-3'|translate}}
            span.fs-body-subhead.tc-grey-800.display-block.radio-body.text-center(style='line-height:20px')
                i.fa.fa-wifi.fa-rotate-90.fa-fw
                | {{'radio-body-2'|translate}}
        .card__actions.text-right.mt.mr.ml
            a.btn.btn--xs.btn--black.btn--flat.tc-red-300(ui-sref='app.home.radio' lx-ripple='')
                i.fa.fa-headphones.fa-fw &nbsp
                | {{'radio-files-archive'|translate}}
        //    button.btn.btn--xs.btn--red.btn--flat(lx-ripple='') {{'listen'|translate}}
