div(layout='column' class='pl pr mb')
    div.text-center.pl.pr
        sv-profile-title(header-title="Russian-American Demographics")
    sv-ru-demographics.mb
    div(layout='column' layout-align='center center' class='mb+ ml mr')
        iframe.sv-iframe-responsive(src="https://www.google.com/maps/d/embed?mid=zdTHzl0THQeM.k_tB4rfOIVEo" width="640" height="480"  scrolling="no" zooming="no")
    div(layout-gt-sm='row' class='mb ml mr' layout-align='center')
        sv-top-ru-speaking
    div
        span.fs-caption.display-block *Sources:
        div(class='ml++')
            span.display-block.fs-caption 1. Wikipedia
            span.display-block.fs-caption 2. Ameredia study Integrated Multicultural Marketing, US Census Bureau, 2000