.card.sv-g-analytics(class='p+ mb+ ml+ mr+')
    span.display-block.fs-headline.tc-grey-900
        img.mdc-display-inline-block.mr(ng-src="img/common/google-analytics.png" style='opacity:.9')
        span.mdc-display-inline-block www.svet.com Google Analytics Statistics
    md-divider.mt.mb
    div(id="embed-api-auth-container")
    div(id="chart-container")
    div(id="view-selector-container")
