div(layout-gt-sm='row' layout-sm='column' layout-align='space-between center' class="{{bgc}} pl pr pt pbr")
    span.display-block.fs-subhead.p
        i.mdi.mdi-phone
        | &nbsp (847) 715-9407
    span.display-block.fs-subhead.p
        i.mdi.mdi-deskphone
        | &nbsp (847) 715-9677
    span.display-block.fs-subhead.p
        i.mdi.mdi-email
        | &nbsp manager@svet.com