div(style='position:relative;overflow:hidden;width:70px;height:70px;border-radius:50%')
    img.mdc-img-bw(ng-src='{{img || defimg}}',  width='auto' height='155%' style='position:relative; bottom:20%; right:30%; max-width:150px')
