div(class="mb+")
    p.mb Museum was filled with laughter and the atmosphere was charged with happiness and everyone’s good mood. Though all the museum rooms were filled, every child had an opportunity to participate in something fun, wise, kind and helpful. Including, of course, the exhibition of Marc Chagall, which was interesting for adults as well.  As always, all the visitors of our event participated in the lottery drawing.
    p.mb(style="font-weight:700") Oh, I almost forgot! It was very tasty!
    span.display-block.fs-title.text-center.mb.tc-red-400 Thanks to our "gastronomic" sponsors!
    span.display-block.fs-headline.text-center Petergof Restaurant
    span.display-block.fs-headline.text-center Fine’s Catering
    span.display-block.fs-headline.text-center Pinstripes
    span.display-block.fs-headline.text-center Gail’s Brownies
    span.display-block.fs-headline.text-center Starbucks/Northbrook
    br
    span.display-block.fs-title.text-center.tc-red-300 And, of course, SVET Russian Media thanks all the other companies
    span.display-block.fs-title.text-center.tc-red-300 who helped us make this event a huge success!
    span.display-block.fs-title.text-center.mb.tc-red-300 Our sponsors:
    div(layout-="column" class="text-center")
        span.display-block.fs-headline.text-ceter KOHL Children’s Museum
        span.display-block.fs-headline.text-ceter Lifeway
        span.display-block.fs-headline.text-ceter Circle of Moms
        span.display-block.fs-headline.text-ceter Razny Jewelers
        span.display-block.fs-headline.text-ceter Reebie Storage & Moving Co
        span.display-block.fs-headline.text-ceter YMCA
        span.display-block.fs-headline.text-ceter Holocaust Museum
        span.display-block.fs-headline.text-ceter The Accelerated Center
        span.display-block.fs-headline.text-ceter Addus Home Care
        span.display-block.fs-headline.text-ceter Cloudvoi
        span.display-block.fs-headline.text-ceter Frosch International Travel
        span.display-block.fs-headline.text-ceter Norwegian Cruise Line
        span.display-block.fs-headline.text-ceter Costco
        span.display-block.fs-headline.text-ceter Younique
        span.display-block.fs-headline.text-ceter Inessa Music
        span.display-block.fs-headline.text-ceter HALO Laser and Aesthetic Medicine
        span.display-block.fs-headline.text-ceter The Tech Group
        span.display-block.fs-headline.text-ceter American Family Insurance
        span.display-block.fs-headline.text-ceter Duron Studio Photography
        span.display-block.fs-headline.text-ceter Chicago Land Trust Company
        span.display-block.fs-headline.text-ceter Aesthetic Athletic
        span.display-block.fs-headline.text-ceter North Shore Health Solutions
        span.display-block.fs-headline.text-ceter Hearing Health Center
