div(class="mb+")
    p.mb Museum was filled with laughter and the atmosphere was charged with happiness and everyone’s good mood. Though all the museum rooms were filled, every child had an opportunity to participate in something fun, wise, kind and helpful. Including, of course, the exhibition of Marc Chagall, which was interesting for adults as well.  As always, all the visitors of our event participated in the lottery drawing.
    p.mb(style="font-weight:700") Oh, I almost forgot! It was very tasty!
    span.display-block.fs-title.text-center.mb.tc-red-400 Thanks to our "gastronomic" sponsors!
    a.display-block.fs-headline.text-center(href="http://petergofchicago.com/" target='_blank') Petergof Restaurant
    span.display-block.fs-headline.text-center Fine’s Catering
    a.display-block.fs-headline.text-center(href="http://pinstripes.com/" target='_blank') Pinstripes
    a.display-block.fs-headline.text-center(href="http://gailsbrownies.com/" target='_blank') Gail’s Brownies
    a.display-block.fs-headline.text-center(href="http://www.starbucks.com/store/15873/us/village-square-at-northbrook/243-north-skokie-blvd-northbrook-il-600621611" target='_blank') Starbucks/Northbrook
    br
    span.display-block.fs-title.text-center.tc-red-300 And, of course, SVET Russian Media thanks all the other companies
    span.display-block.fs-title.text-center.tc-red-300 who helped us make this event a huge success!
    span.display-block.fs-title.text-center.mb.tc-red-300 Our sponsors:
    div(layout-="column" class="text-center")
        a.display-block.fs-headline.text-ceter(href="http://www.kohlchildrensmuseum.org/" target='_blank') KOHL Children’s Museum
        a.display-block.fs-headline.text-ceter(href="http://www.lifeway.com/" target='_blank') Lifeway
        a.display-block.fs-headline.text-ceter(href="http://www.circleofmoms.com/chicago-downtown-mommies" target='_blank') Circle of Moms
        a.display-block.fs-headline.text-ceter(href="http://www.razny.com/" target='_blank') Razny Jewelers
        a.display-block.fs-headline.text-ceter(href="http://www.reebieallied.com/" target='_blank') Reebie Storage & Moving Co
        a.display-block.fs-headline.text-ceter(href="http://www.ymcachicago.org/" target='_blank') YMCA
        // Which one: http://www.ushmm.org/ United States Holocaust Memorial Museum
        //  http://www.ilholocaustmuseum.org/  Illinois Holocaust Museum and Education Center
        a.display-block.fs-headline.text-ceter Holocaust Museum
        a.display-block.fs-headline.text-ceter(href="http://www.acceleratedcenter.com/" target='_blank') The Accelerated Center
        a.display-block.fs-headline.text-ceter(href="http://www.addus.com/" target='_blank') Addus Home Care
        a.display-block.fs-headline.text-ceter(href="http://www.cloudvoi.com/" target='_blank') Cloudvoi
        a.display-block.fs-headline.text-ceter(href="http://www.frosch.com/" target='_blank') Frosch International Travel
        a.display-block.fs-headline.text-ceter(href="http://www.ncl.com/" target='_blank') Norwegian Cruise Line
        a.display-block.fs-headline.text-ceter(href="http://www.costco.com/" target='_blank') Costco
        a.display-block.fs-headline.text-ceter(href="https://www.youniqueproducts.com/" target='_blank') Younique
        a.display-block.fs-headline.text-ceter(href="http://www.inessamusic.com/" target='_blank') Inessa Music
        //broken website
        span.display-block.fs-headline.text-ceter HALO Laser and Aesthetic Medicine
        a.display-block.fs-headline.text-ceter() The Tech Group
        a.display-block.fs-headline.text-ceter(href="http://www.amfam.com/" target='_blank') American Family Insurance
        a.display-block.fs-headline.text-ceter(href="http://www.duronstudio.com/" target='_blank') Duron Studio Photography
        //???
        a.display-block.fs-headline.text-ceter(href="http://www.ctlandtrust.com/" target='_blank') Chicago Land Trust Company

        span.display-block.fs-headline.text-ceter Aesthetic Athletic
        a.display-block.fs-headline.text-ceter(href="http://www.northshorehealthsolutions.com/" target='_blank') North Shore Health Solutions
        a.display-block.fs-headline.text-ceter(href="https://www.hearinghealthcenter.com/" target='_blank') Hearing Health Center
