button(class='btn btn--{{btnSize}} btn--{{btnColor}} tc-{{textColor}} btn--{{btnType}}' lx-ripple ng-click='methodClick()' )
    i(class='{{iconType}} {{iconName}}')
    span(hide-sm style='margin-left:4px') {{btnTitle|translate}}
