div
    ul(ng-app='demo1', ng-controller='GalleryCtrl' id="gallery")
        li(ng-repeat='image in images' style='display:inline-block')
            a(ng-click='openLightboxModal($index)')
                img.img-thumbnail(ng-src='{{image.thumbUrl}}', alt='')
