div
    lx-dropdown(position='left')
        button.btn.btn--xs.btn--grey.btn--flat.tc-grey-500(lx-ripple lx-dropdown-toggle )
            i(class='{{iconType}} {{iconName}}')
            span(style='margin-left:4px' hide-sm) {{btnTitle|translate}}
            span.sv-label-counter {{actionCounter}}
        lx-dropdown-menu
        //    ul
        //        li
        //            a.dropdown-link
        //                img.img-round.mdc-display-inline-block.mr(ng-src="{{userAvatar}}" style='width:20px;height:20px')
        //                span.display-inline-block.fs-body-2 {{user.name}} {{user.fname}} {{user.lname}}
        //        li.dropdown-divider