.gridListdemoBasicUsage
    div(layout="row" layout-wrap=""  layout-align="center center")
        a.card(style='float:left;display:inline-block' class="m")
            sv-image-thumb.sv-gallery-thumb-dir(sv-image="https://s3-us-west-2.amazonaws.com/svet.com/events/public/kohl/DSC_0592.jpg"  )
        a.card(style='float:left;display:inline-block' class="m")
            sv-image-thumb.sv-gallery-thumb-dir(sv-image="https://s3-us-west-2.amazonaws.com/svet.com/events/public/kohl/DSC_0552-edit.jpg"  )
        a.card(style='float:left;display:inline-block' class="m")
            sv-image-thumb.sv-gallery-thumb-dir(sv-image="https://s3-us-west-2.amazonaws.com/svet.com/events/public/kohl/DSC_0707-Edit.jpg"   )
        a.card(style='float:left;display:inline-block' class="m")
            sv-image-thumb.sv-gallery-thumb-dir(sv-image="https://s3-us-west-2.amazonaws.com/svet.com/events/public/kohl/DSC_0600-edit.jpg"   )
        a.card(style='float:left;display:inline-block' class="m")
            sv-image-thumb.sv-gallery-thumb-dir(sv-image="https://s3-us-west-2.amazonaws.com/svet.com/events/public/kohl/DSC_0677-Edit.jpg"   )
        a.card(style='float:left;display:inline-block' class="m")
            sv-image-thumb.sv-gallery-thumb-dir(sv-image="img/gallery/03.jpg"   )
        a.card(style='float:left;display:inline-block' class="m")
            sv-image-thumb.sv-gallery-thumb-dir(sv-image="https://s3-us-west-2.amazonaws.com/svet.com/events/public/kohl/DSC_0592.jpg"  )
        a.card(style='float:left;display:inline-block' class="m")
            sv-image-thumb.sv-gallery-thumb-dir(sv-image="https://s3-us-west-2.amazonaws.com/svet.com/events/public/kohl/DSC_0552-edit.jpg"  )
        a.card(style='float:left;display:inline-block' class="m")
            sv-image-thumb.sv-gallery-thumb-dir(sv-image="https://s3-us-west-2.amazonaws.com/svet.com/events/public/kohl/DSC_0707-Edit.jpg"   )
        a.card(style='float:left;display:inline-block' class="m")
            sv-image-thumb.sv-gallery-thumb-dir(sv-image="https://s3-us-west-2.amazonaws.com/svet.com/events/public/kohl/DSC_0600-edit.jpg"   )
        a.card(style='float:left;display:inline-block' class="m")
            sv-image-thumb.sv-gallery-thumb-dir(sv-image="https://s3-us-west-2.amazonaws.com/svet.com/events/public/kohl/DSC_0677-Edit.jpg"   )
        a.card(style='float:left;display:inline-block' class="m")
            sv-image-thumb.sv-gallery-thumb-dir(sv-image="img/gallery/03.jpg"   )
