div
    .greed.js-masonry(data-masonry-options='{ "itemSelector": ".item", "columnWidth": 200 }')
        .greed-item
            img(ng-src="img/gallery/01.jpg")
        .greed-item
            img(ng-src="img/gallery/02.jpg")

