div(layout-gt-sm='row' layout-sm='column')
    div(flex='' class='p')
        sv-img-framed-string(sv-img="img/gallery/01.jpg" max-width='800' max-height='320')
    div(flex='' class='p')
        sv-img-framed-string(sv-img="img/gallery/02.jpg" max-width='800' max-height='320')
    div(flex='' class='p')
        sv-img-framed-string(sv-img="img/gallery/03.jpg" max-width='800' max-height='320')
