.gridListdemoBasicUsage
    div(layout="row" layout-wrap=""  layout-align="center center")
        a.card(style='cursor-pointer;float:left;display:inline-block' class="m" ng-repeat='img in images' ng-click='showGalleryModal($index)')
            sv-image-thumb.sv-gallery-thumb-dir(sv-image="{{bucketUrl+img}}" )
