div
    button.btn.btn--black.bgc-red-300.btn--raised.tc-grey-50(lx-ripple='' class="btn--{{btnSize}}" ng-click='viewGallery()')
        i.fa.fa-picture-o.fa-fw.mr
        | {{'event-photo-gallery'|translate}}
