span.mdc-display-inline-block.mr(style='font-variant="{{fontVariant}}"; font-weight:400; text-decoration:{{textDecoration}};line-height:14px;padding:{{labelPadding}};cursor:{{cursorType}}' class="{{fs}} {{tc}} {{bgc}}")
    | {{labelTitle|translate|uppercase}}