md-select.tc-grey-700(ng-model='social.media' style='margin:4px 0px')
    md-select-label.fs-caption(style='padding:4px 8px')
        i.mdi.mdi-share-variant.mr
        | {{'share'|translate|uppercase}}
    md-option.tc-grey-700
        i.fa.fa-google-plus.fa-fw.fs-caption.mr
        span.fs-subhead Google
    md-option.tc-grey-700
        i.fa.fa-facebook.fa-fw.fs-caption.mr
        span.fs-subhead Facebook
    md-option.tc-grey-700
        i.mdi.mdi-linkedin.fa-fw.fs-caption.mr
        span.fs-subhead LinkedIn
