div
    a.btn.btn--xs.btn--teal.btn--raised(lx-ripple='' ng-if='isTestDomain' ng-href="https://svet-test.firebaseio.com" target='_blank')
        i.fa.fa-database.fa-fw &nbsp
        | Svet Test Express

