.sv-dialog-md {
  min-width: 70%;
  min-height: auto;
}
@media screen and (max-width: 992px) {
  .sv-dialog-md {
    min-width: 90%;
    min-height: auto;
  }
}
.cl-height {
  height: 200px;
}
[sv-animate-on-change] {
  position: relative;
  top: 0px;
  opacity: 1;
  -ms-filter: none;
  filter: none;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
  -webkit-transition: all 1s;
}
[sv-animate-on-change].changed {
  top: -200px;
  opacity: 0;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  filter: alpha(opacity=0);
  position: relative;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -o-transition: all 1s;
  -ms-transition: all 1s;
  transition: all 1s;
  -webkit-transition: all 1s;
}
