@import 'nib'

.tabs-classified
  overflow hidden
  min-height 200px

.cl-height
  height 200px

[sv-animate-on-change]
  position relative
  top 0px
  transition: all 1s;
  -webkit-transition: all 1s;

[sv-animate-on-change].changed
  top 200px
  transition: none
  -webkit-transition: none



