sv-link-back(l-title="back-to-my-articles" url="app.user.author-articles" params='{uid:article.authorKey}' ng-if='user && news.authorKey===user.key')
sv-one-article(news='article')
sv-link-back(l-title="back-to-my-articles" url="app.user.author-articles" params='{uid:article.authorKey}' ng-if='user && news.authorKey===user.key')
sv-comments(comments = 'news.comments' key='news.fbkey')
//sv-add-comment(key='key')
