div(flex-container='column' flow-init)
    div(layout='row')
        sv-link-back(l-title="back-to-my-articles" url="app.user.author-articles")
    div(layout='row' layout-align='space-between center' )
        div
            sv-profile-title(header-title='new-article' ng-if='artType==="article"' )
            sv-profile-title(header-title='new-blog-post' ng-if='artType==="blog"')
        div.m
            button.btn.btn--xs.btn--teal.btn--raised.bgc-teal-300(lx-ripple='' ng-click='generateFromRandomNews()') Random News Text
    .card
        div.bgc-grey-100(class='p')
            sv-manage-article-nav(article='article' art-type='artType')
        div(class='p+')
            sv-new-article-form
        div.bgc-grey-100(class='p')
            sv-manage-article-nav(article='article' art-type='artType')

