div(flex-container='column' flow-init)
    div(layout='row')
        a.btn.btn--xs.btn--grey.ltn--flat(ui-sref='app.user.author-articles') {{'back-to-my-articles'|translate}}
    sv-profile-title(header-title='new-article')
    .card
        div.bgc-grey-100(class='p+')
            sv-manage-article-nav(article='article')
        div(class='p+')
            sv-new-article-form
        div.bgc-grey-100(class='p+')
            sv-manage-article-nav(article='article')

