div(layout='column')
    sv-profile-header(header-title='SvetRecommends')
    div(layout-sm='column' layout-gt-sm='row')
        div(flex-sm="100" flex-gt-sm='50')
            sv-section-news(section-name='Мы и Деньги')
        div(flex-sm="100" flex-gt-sm='50')
            sv-section-news(section-name='Мы и Деньги')

