div(layout='column')

    span.display-block.fs-headline.tc-blue-grey-700(class='mb+') Events Calendar
    sv-svet-events-calendar
    a.display-block.mdc-text-right.fs-caption(href='assets/networks/report.pdf' download="report.pdf")
       | Svet Public Events 2015 (PDF)
    span.display-block.fs-headline(class='mb+') {{'upcoming-events'|translate}}
    md-divider
    sv-one-event-poster
