div(layout='row' class='m' layout-align='space-between center')
    a.btn.btn--s.btn--white.btn--raised(href='javascript:history.back()')
        i.fa.fa-arrow-left.fa-fw &nbsp
        | {{'back'|translate}}
    div(layout='row')
        div(class='mr ml')
            a.btn.btn--xs.btn--black.bgc-grey-600.tc-grey-100(href='https://s3-us-west-2.amazonaws.com/svet.com/home/kohl-2015/kohl-2015.pdf' target='_blank')
                i.mdi.mdi-file-image &nbsp
                | {{'open-pdf'|translate}}
        div(class='mr ml')
            a.btn.btn--xs.btn--black.bgc-grey-600.tc-grey-100(lx-ripple='' href='img/event-reports/kohl-2015.pdf' download="report.pdf")
                i.mdi.mdi-download &nbsp
                | {{'download'|translate}}
div.m
    sv-one-event-article