div(layout='row' layout-align='center')
    h1
        span.display-block.fs-headline Annual SVET Family Spring Event at KOHL Children's Museum
p(layout='row' layout-align='center' class='pl+ pr+')
    sv-photogallery

