div
    div(layout-gt-sm='row' layout-sm='column' layout-align='space-between center')
        sv-profile-title(header-title='activity-events')
        sv-create-event-btn
    sv-manager-events-tabs