<md-dialog>
    <div class='p pt+'>
        <span class='ml fs-headline'>{{'new-event'|translate}}</span>
        <md-divider class='mb mt'></md-divider>
        <md-content>
            <sv-new-afisha-event-form></sv-new-afisha-event-form>
        </md-content>
        <div class="md-actions" layout="row" layout-align="center">
            <button ng-click="createAfishaEvent()" class="btn btn--s btn--raised btn--black bgc-grey-600 mr">
                <i class="mdi mdi-plus"></i>
                Add
            </button>
            <button ng-click="hide()" class="btn btn--s btn--raised btn--white">
                <i class="mdi mdi-close"></i>
                Cancel
            </button>
        </div>
    </div>
</md-dialog>
