md-dialog(style='min-width:80%;min-height: auto')
    md-dialog-content
        span.ml.fs-headline {{event.title}}
        md-divider.mb.mt
        div
            span
                b  Address: &nbsp
            span {{event.address}}
        div
            span
                b  Starts At: &nbsp
            span {{event.startsAt|date:"short"}}
        div
            span
                b  Ends At: &nbsp
            span {{event.endsAt|date:"short"}}

        div(class='pl+' ui-sref='app.events.field({year:2014})'  style='display:block;float:right').cursor-pointer
            img.mb(ng-src="{{event.img}}")
        span.display-block.fs-display-1.mb {{event.title}}
        span.display-block.fs-title {{event.startsAt|date:"short"}}
        a.tc-blue-grey-700.fs-subhead(href='{{event.locationWeb}}')
            | {{event.location}} Evanston Auditorium
        span.display-block.fs-body-2.tc-grey-700 {{event.address}}
        .mt.mb
            a.btn.btn--m.btn--black.btn--raised.bgc-grey-600(href='{{event.tickets}}')
                i.fa.fa-ticket &nbsp
                | {{'purchase-tickets'|translate}}
        div
            span.display-block.fs-title About Event:
            p {{event.about}}

    .md-actions
        md-button.md-primary(ng-click='hide()')
            | Ok
