md-dialog(style='min-width:80%;min-height: auto')
    md-dialog-content
        div(layout='row' layout-align='space-between center')
            span.display-block.fs-display-1.mb {{event.title}}
            button.btn.btn--m.btn--icon(ng-click='hide()')
                i.mdi.mdi-close
        div(layout='row')
            div()
                .mb
                    span.display-block.fs-title {{event.startsAt|date:"short"}}
                    a.tc-blue-grey-700.fs-subhead(href='{{event.locationWeb}}' target='_blank')
                        | {{event.location}}
                    span.display-block.fs-body-2.tc-grey-700 {{event.address}}
                .mb(layout='row' layout-align='start center')
                    .mr
                        a.btn.btn--m.btn--black.btn--raised.bgc-grey-600(href='{{event.tickets}}')
                            i.fa.fa-ticket &nbsp
                            | {{'purchase-tickets'|translate}}
                    div
                        lx-dropdown(position='left')
                            //span.fs-subhead
                            button.btn.btn--m.btn--teal.bgc-teal-300.btn--raised.tc-grey-50(lx-ripple lx-dropdown-toggle)
                                i.mdi.mdi-account-check.mr
                                | {{e.customers.length+' '+ 'registered-users'|translate}}
                            lx-dropdown-menu
                                ul
                                    li(ng-repeat='customer in e.customers')
                                        a.dropdown-link
                                            img.img-round.mdc-display-inline-block.mr(ng-src="{{customer.avatar}}" style='width:20px;height:20px')
                                            span.display-inline-block.fs-body-2 {{customer.userName}}
                                    li.dropdown-divider
                div
                    span.display-block.fs-title About Event:
                    p {{event.about}}

            div(class='ml+')
                img.mb(ng-src="{{event.img}}" style="max-width:500px")

