div(flex-container='column')
    div(ng-if='!ctrl.user')
        span.display-block.fs-body-1 Войдите, чтобы оставить комментарий.
    div(ng-if='!!ctrl.user' flex-container='column')
        form.mt(flex-container='column' name='addComment' ng-submit='ctrl.submitComment()')
            div(flex-container='row')
                div(flex-item='')
                    lx-text-field(label='Комментарий / Comment' class='mb+')
                        textarea(ng-model='ctrl.comment.body') {{ctrl.comment.body}}
            div(flex-container='row')
                div(flex-item='' )
                    input.btn.btn--m.btn--white.btn--raised(type='submit' ng-if='ctrl.comment.body' )

